@import "../application.scss";
// ==================================
// hero
// ==================================
.hero {
  background: image-url('home_top_slide_sp.jpg');
  @include pc {
    background: image-url('home_top_slide_pc.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  }
  // ================================
  // パララックスデザイン
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // =================================
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;

  &-title {
    font-size: 60px;
    color: #fff;
    text-shadow: 0 0 20px rgba(227, 123, 137, .4), 0 0 50px rgba(0, 0, 0, .8);

    @include pc() {
      text-align: center;
    }
  }

  br {
    display: none;

    @include pc() {
      display: block;
    }
  }
}
.middle {
  height: 100vh;
  width: 100%;
}
