
// @import "../shared/header";
// // ================================
// // ボディ
// // ================================
// body {
//   font-family: $font_body;
// }
// // ================================
// // トップイメージ
// // ================================

// .TopImage {
//   background: image-url('home_top_slide_sp.jpg');
//   @include mq(pc) {
//     background: image-url('home_top_slide_pc.jpg');
//     background-attachment: fixed;
//     background-position: center;
//     background-size: cover;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     background-repeat: no-repeat;
//   }
//   background-attachment: fixed;
//   background-position: center;
//   background-size: cover;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;      
//   background-repeat: no-repeat;
//   height: 100vh;
//   width: 100%;
//   &__container{
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//     position: relative;
//     &__cover {
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       background-color: rgba(0, 0, 0, .25);
//       z-index: $z_image_cover;
//     }
//   }
// }
// // --------------------------------
// // マウスマーク
// // --------------------------------
// .TopImage__container__mouse {
//   display: block;
//   z-index: $z_mouse;
//   margin: 0 auto;
//   width: 26px;
//   height: 46px;
//   border-radius: 13px;
//   border: 2px solid white;
//   position: absolute;
//   bottom: 40px;
//   left: 50%;
//   margin-left: -26px;
//   transition: all.3s;
//   opacity: 1;
//   &__material {
//     display: block;
//     z-index: $z_mouse;
//     margin: 6px auto;
//     width: 2px;
//     height: 2px;
//     border-radius: 4px;
//     background: white;
//     border: 1px solid transparent;
//     animation-duration: 1s;
//     animation-fill-mode: both;
//     animation-iteration-count: infinite;
//     animation-name: mouse-scroll;
//   }
// }
// @keyframes mouse-scroll {
//   0% {
//     opacity: 1;
//     -webkit-transform: translateY(0);
//     -ms-transform: translateY(0);
//     transform: translateY(0);
//   }
//   100% {
//     opacity: 0;
//     -webkit-transform: translateY(20px);
//     -ms-transform: translateY(20px);
//     transform: translateY(20px);
//   }
// }
// // --------------------------------
// // キャッチコピーメッセージ
// // --------------------------------
// .TopImage__container__message {
//   position: absolute;
//   left: 50%;
//   top: 30%;
//   transform: translate(-50%, 0);
//   font-size: $font_sizeR_LLL;
//   font-family: 'Hannari';
//   display: flex;
//   flex-direction: column;
//   width: 600px;
//   height: 200px;
//   text-align: center;
//   &.white {
//     z-index: $z_catch_white_top;
//     color: white;
//   }
//   &.black {
//     z-index: $z_catch_black_under;
//     color: black;
//   }
// }
// // ================================
// // キャッチコピー
// // ================================
// .CatchCopy {
//   width: 100%;^
//   height: 90vh;^
//   padding: 0 15px;^
//   background-color: $color-background_sub;
//   opacity: $opacity;^
//   font-family: $font_title;^-
// }
// .CatchCopy__wrapper {
//   width: 100%;^
//   height: 100%;^
//   &__top {
//     width: 100%;^
//     height: 30vh;
//     @include mq(pc) {
//       margin-top: 10px;^
//     }
//   }
//   &__middle {
//     width: 100%;^
//     height: 25vh;^
//     padding: 0 25px;^
//     @include mq(pc) {
//       margin-top: 10px;^
//     }
  //     font-size: 1.8rem;^
  //     line-height: 1.7;^
//   }
//   &__bottom {
//     width: 100%;^
//     height: 35vh;^
//     @include mq(pc) {
//       height: 25vh;^
//       display: flex;^
//       flex-direction: row;^
//       justify-content: space-around;^
//     }
//   }
// }
// .CatchCopy__wrapper__bottom__text-box {
//   width: 100%;^
//   height: 50%;^
//   padding: 0 10%;^
//   &__link{
//     display: block;
//     height: 100%;
//     margin: 0 auto;
//     &:hover &__title__ja::after{
//       transform: scale(1, 1);
//         height: 2px;
//     }
//     &__title {
//       text-align: center;
//       height: 50%;
//       top: 0;
//       &__ja {
//         padding-top: 20px;
//         font-size: $font_sizeR_MM;
//         position: relative;
//         &__common {
//           content: '';
//           position: absolute;
//           bottom: 0;
//           left: 0;
//           width: 100%;
//           height: 1px;
//         }
//         &::after {
//           @extend .CatchCopy__wrapper__bottom__text-box__link__title__ja__common;
//           background-color: #333;
//           transform: scale(0.1, 1);
//           transform-origin: left top;
//           transition: transform .5s;
//         }
//         &::before {
//           content: '';
//           @extend .CatchCopy__wrapper__bottom__text-box__link__title__ja__common;
//           background-color: #888;
//           transform: scale(1, 1);
//         }
//       }
//       &__en {
//       padding-top: 20px;
//       letter-spacing: $letterSpace_M;
//       font-size: $font_sizeR_M;
//       text-align: center;
//       }
//     }
//   }
// }
// // ================================
// // メイン画面
// // ================================
// .PreSchool {
//   height: 80vh;^
//   width: 100%;^
//   padding: $top_space_S $side_space_S;^
//   @include mq(pc) {
//   height: 50vh;
//   padding: $top_space_M $side_space_M;
//   }
//   &__wrapper {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     height: 100%;
//     width: 100%;
//     &__image-box {
//       overflow: hidden;
//       width: 100%;
//       height: calc(50% - #{$image_space_vertical_M}/2);
//       border-radius: $border-radius;
//       &:last-child {
//         margin-top: $image_space_vertical_M;
//       }
//       @include mq(pc) {
//         width: 50%;
//         height: 100%;
//         border-radius: $border-radius 0 0 $border-radius;
//         &:last-child {
//           border-radius: 0 $border-radius $border-radius 0;
//           margin: 0;
//         }
//       }
//     }
//   }
// }
// .PreSchool__wrapper__image-box {
//   position: relative;
//   pointer-events: none;
//   &:hover &__image {
//     transform: scale(1.04);
//   }
//   &__image {
//     width: 100%;
//     height: 100%;
//     background-size: cover;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     background-attachment: fixed;
//     opacity: 1;
//     transition: all .5s;
//     &__parti {
//       background: image-url('parti_sp.png') no-repeat center center / cover;
//       @include mq(pc) {
//         background: image-url('parti_pc.png') no-repeat center center / cover;
//       }
//     }
//     &__piani {
//       background: image-url('piani_sp.png') no-repeat center center / cover;
//       @include mq(pc) {
//         background: image-url('piani_pc.png') no-repeat center center / cover;
//       }
//     }
//   }
//   &__link-cover {
//     display: block;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     transition: all .5s;
//     background-color: rgba(0, 0, 0, .35);
//     pointer-events: auto;
//     &:hover {
//       opacity: 0;
//       transform: scale(1.2);
//     }
//     &__title {
//       position:absolute;
//       top:50%;
//       left:50%;
//       transform:translate(-50%, -10%);
//       width:100%;
//       text-align: center;
//       font-size: 7rem;
//       color: #fff;
//       letter-spacing: 0.3rem;
//       font-family: "sub-en-font";
//     }
//   }
// }

// // .a1 {
// //     font-family: 'logo-font';
// //     font-size: 50px;
// //   }
// //   .a2 {
// //     font-family: "sub-en-font";
// //     font-size: large;
// //   }
// //   .a3 {
// //     font-family: "Blankid";
// //     font-size: large;
// //   }
// //   .a4 {
// //     font-family: "DINPro-Medium";
// //     font-size: large;
// //   }
// //   .a5 {
// //     font-family: "KozGoPr6N-Regular";
// //     font-size: large;
// //   }
// //   .a6 {
// //     font-family: "NewBaskervilleStd-Roman";
// //     font-size: large;
// //   }
