.P_for-admission {
  &__kv {
    width: 100vw;
    height: 70vh;
    
    margin-top: 30vh;
    position: relative;
  }
  &__page-title-en {
    font-family: 'DINPro-Medium', sans-serif;
    letter-spacing: 0.2em;
    font-size: $font-size-base * 2.5;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,calc( -100% - 5vh));
    text-shadow: 1px  1px 0px $color-text,
                -1px  1px 0px $color-text,
                1px -1px 0px $color-text,
                -1px -1px 0px $color-text,
                1px  0px 0px $color-text,
                0px  1px 0px $color-text,
                -1px  0px 0px $color-text,
                0px -1px 0px $color-text;  
      color: #fff;
  }
  &__font-deco {
    width: 20px;
    height: 20px;
    position: absolute;
    &.left {
      bottom: 24%;
      left: -7%;
    }
    &.right {
      top: 11%;
      right: -5%;
    }
  }
  &__page-title-ja {
    padding: 60px 16px;
    font-size: $font-size-base * 1.5;
    writing-mode: vertical-lr;
    background-color: #fff;
    border-radius: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border: $color-text 1px solid;
    white-space: nowrap;
    &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 33px;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-text;
    }
  }
  &__wrap {
    margin-top: $space-section;
    margin-bottom: $space-section;
    margin-left: $space-side;
    margin-right: $space-side;
    display: flex;
    flex-wrap: wrap;
    @include mq-up("tab") {
      margin-top: $space-section_L;
      margin-bottom: $space-section_L;
    }
    @include mq-up("pc") {
      margin-left: $space-side_L;
      margin-right: $space-side_L;
    }
  }
  &__container {
    width: 100%;
    &.first {
      margin-bottom: $space-section;
      @include mq-up("tab") {
        margin-bottom: 0;
      }
    }
    @include mq-up("tab") {
      width: 50%;
      padding-left: 5%;
      padding-right: 5%;
    }
  }
  &__content-title {
    font-size: $font-size-base * 1.375;
    color: #fff;
    background: linear-gradient(to right, #89B9D6 20%,#A2C8A1 85%);
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    position: relative;
    border-radius: 50px;
    text-align: center;
  }
  &__deco {
    width: 160px;
    height: 160px;
    position: absolute;
    z-index: -1;
    &.title-deco {
      top: -116%;
      left: -26%;
    }
    &.img-deco {
      right: 0%;
      bottom: -45%;
    }
  }
  &__content-img {
    position: relative;
    
    width: 100%;
    margin-top: $space-vertical;
    height: 25vh;
    @include mq-up("tab") {
      height: 17vh;
      min-height: 174px;
    }
    @include mq-up("pc") {
      height: 27vh;
      margin-top: $space-section;
      min-height: initial;
    }
  }
}
