
.P_H-admission {
  &__nav {
    @include mq-up("tab") {  
      line-height: 200%;
    }
  }
  &__nav-list {
    cursor: pointer;
    position: relative;
    width: 100%;
    &::before {
      transition: all $anime-time-short;
      display: block;
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 0%;
      border-bottom: 1px solid #383B4E;
    }
    &:hover:before {
      width: 100%;
    }
  }
  &__inner-text {
    width: 100%;
    padding-top: $space-section;
    order: 2;
    @include mq-up("pc") {
      width: 50%;
      padding-top: 0;
      order: 0;
      padding-left: 0;
      padding-right: 0;
    }
    &.space-right {
      @include mq-up("pc") {
        margin-right: $space-side / 2;
      }
    }
    &.space-left {
      @include mq-up("pc") {
        margin-left: $space-side / 2;
      }
    }
  }
  &__img-box {
    position: relative;
    height: 25vh;
    order: 1;
    @include mq-up("tab") {
      height: 35vh;
    }
    &.noRight {
      margin-right: $space-side * -1;
      @include mq-up("pc") {
        height: inherit;
        width: calc(50% + #{$space-side});
        z-index: map-get($layer, 'kv');
        order: 0;
      }
    }
    &.noLeft {
      margin-left: $space-side * -1;
      @include mq-up("pc") {
        height: inherit;
        width: calc(50% + #{$space-side});
        z-index: map-get($layer, 'kv');
        order: 0;
      }
    }
  }
  &__hover-action {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all $anime-time-short;
    &:hover .P_H-about__shadow{
      background-color: rgba(0, 0, 0, .5);
      visibility: visible;
      transform: scale(1,1);
    }
    &:hover .P_H-about__cover-text{
      opacity: 1;
    }
  }
  &__shadow {
    visibility: collapse;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(1,1.2);
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    transition: all $anime-time-short;
    &.isActive {
      background-color: rgba(0, 0, 0, .5);
      visibility: visible;
      transform: scale(1,1);
    }
  }
  &__cover-text {
    width: 100%;
    opacity: 0;
    transition: all $anime-time-short;
    position: absolute;
    color: white;
    font-size: $font-size-base * 1.6;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate3d(-50%, -50%, 0);
    transition: all 0.4s;
    @include mq-up("tab") {
      font-size: $font-size-base * 2.5;
    }
    &.isActive {
      opacity: 1;
    }
  }
  &__text {
    padding-top: 20px;
    font-size: $font-size-base * 1.125;
  }
  &__info-wrap {
    flex-direction: column;
    background-color: $color-background_sub;
    padding-left: $space-side;
    padding-right: $space-side;
    margin-top: $space-section * 2;
    padding-top: $space-section * 2;
    padding-bottom: $space-section * 2;
    @include mq-up("tab") {
      margin-right: $side-bar-size;
    }
  }
  &__table {
    margin-top: $space-section / 2;
    margin-bottom: $space-section / 4;
    table-layout: fixed;
    width: 100%;
  }
  &__table-row {
    line-height: 200%;
    @include mq-up("tab") {  
      line-height: 300%;
    }
    border-bottom: $color-border--thin2 1px solid;
  }
  &__table-row:nth-of-type(1) {
    border-top: $color-border--thin2 1px solid;
  }
  &__table-head, &__table-title, &__table-text {
    font-size: $font-size-base * 0.875;
    white-space: nowrap;
    @include mq-up("pc") {
      font-size: $font-size-base * 1.125;
    }
  }
  &__table-title {
    font-size: $font-size-base * 0.75;
    @include mq-up("tab") {
      font-size: $font-size-base * 0.875;
      padding-left: 5px;
    }
    @include mq-up("pc") {
      padding-left: 10px;
      font-size: $font-size-base * 1.125;
    }
  }
  &__table-head, &__table-text {
    text-align: center;
  }
  &__annotation {
    font-size: $font-size-base * 0.875;
    @include mq-up("pc") {
      font-size: $font-size-base;
    }
  }
  &__link {
    text-decoration: underline;
  }
}
