// --------------------------------
// トップイメージ
// --------------------------------
.P_Nanairo-kv {
  &__text-container {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    text-align: center;
    z-index: 2;
  }
  &__front-text {
    color: #fff;
  }
  &__text-en {
    line-height: 140%;
    margin-bottom: 15px;
    letter-spacing: 0em;
    font-family: 'Forum-Regular', sans-serif;
    font-size: $font-size-base * 1.25;
    @include mq-up("tab") {
      font-size: $font-size-base * 1.875;
      margin-bottom: 20px;
      font-weight: 500;
      line-height: 180%;
    }
  }
  &__text-ja {
    font-size: $font-size-base * 3.4375;
    line-height: 120%;
    font-weight: 400;
    letter-spacing: -0.12em;
    font-family: 'Hannari', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mq-up("sp") {
      font-size: $font-size-base * 5;
    }
    @include mq-up("tab") {
      font-size: $font-size-base * 6.875;
      line-height: 120%;
      white-space: nowrap;
    }
  }
  &__mouse {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    @include mq-up("tab") {
      bottom: 14%;
    }
  }
}
// --------------------------------
// 理念
// --------------------------------
.P_Nanairo-philosophy {
  padding-left: $space-side_L;
  padding-right: $space-side_L;
  position: relative;
  @include mq-up("tab") {
    padding-left: $space-side_2L;
    padding-right: $space-side_2L;
  }
  @include mq-up("pc") {
    padding-left: $space-side_3L;
    padding-right: $space-side_3L;
  }
  &__catch {
    padding-top: $space-section_L;
    position: relative;
    padding-bottom: $space-section;
    opacity: 0;
    text-align: center;
    white-space: nowrap;
    @include mq-up("tab") {
      padding-top: $space-section_2L;
      padding-bottom: $space-section_M;
    }
  }
  &__lead {
    padding-bottom: $space-section;
    @include mq-up("tab") {
      padding-bottom: $space-section_L;
    }
  }
  &__text {
    font-size: $font-size-base;
    margin-bottom: 60px;
    line-height: 140%;
    letter-spacing: -0.06em;
    @include mq-up("tab") {
      font-size: 2.1rem;
      line-height:168%;
      letter-spacing: -0.08em;
      margin-bottom: 72px;
    }
  }
  &__link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__link-item {
    pointer-events: auto;
    cursor: pointer;
    padding-right: 12vw;
    padding-left: 12vw;
    white-space: nowrap;
    width: 100%;
    @include mq-up("tab") {
      width: calc(50% - 2vw);
      padding-right: 2vw;
      padding-left: 2vw;
    }
    &:hover .P_Nanairo-philosophy__border-stretch::before {
      width: 100%;
    }
  }
  &__link-item + li {
    position: relative;
    margin-left: 0;
    margin-top: 6vh;
    @include mq-up("tab") {
      margin-top: 0;
    }
  }
  &__link-text {
    position: relative;
    text-align: center;
    width: 100%;
    &-ja {
      font-size: $font-size-base * 1.25;
      padding-bottom: 1.5vh;
      @include mq-up("tab") {
        font-size: $font-size-base * 1.8;
      }
    }
    &-en {
      height: 50%;
      padding-top: 1.3vh;
      letter-spacing: $letter-spacing-base;
      font-size: $font-size-base * 0.875;
      @include mq-up("tab") {
        font-size: $font-size-base;
      }
    }
  }
  
  &__border-stretch {
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(56, 59, 78, 0.2);
    &::before {
      transition: all $anime-time-short;
      display: block;
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 25px;
      border-bottom: 1px solid #383B4E;
    }
  }
}
// --------------------------------
// インフォメーション（就職・入園）
// --------------------------------
.P_Info {
  padding-left: $space-side_L;
  padding-right: $space-side_L;
  padding-bottom: 4vh;
  @include mq-up("tab") {
    margin-top: 0;
    padding-left: $space-side_2L;
    padding-right: $space-side_2L;
  }
  @include mq-up("pc") {
    padding-left: $space-side_3L;
    padding-right: $space-side_3L;
    padding-bottom: 100px;
  }
  &__container {
    width: 100%;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__image-box {
    width: 100%;
    overflow: hidden;
    transition: all $anime-time-short ease-out;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    &.last {
      margin-top: 4vh;
      @include mq-up("tab") {
        margin-top: 0;
      }
    }
    @include mq-up("tab") {
      width: calc(50% - 3vw);
    }
    &:hover .P_Info__image {
      transform: scale(1.05);
    }
    &:hover .U_cover--shadow {
      opacity: 0;
    }
    &:hover .C_shabon_anime{
      animation-play-state : running
    }
    &.isActive {
      transform: scale(1.05);
    }
  }
  &__image {
    transition: all $anime-time-short;
    @include abs-full;
  }
  &__text-box {
    width: 100%;
    background-color: #77bfc4;
    position: absolute;
    bottom: 0;
    text-align: center;
  }
  &__text {
    color: white;
    font-size: $font-size-base * 2;
    letter-spacing: $letter-spacing-base * 1.625;
    font-family: "goudy_bookletter_1911", sans-serif;
    padding-top: 2%;
    @include mq-up("tab") {
      font-size: $font-size-base * 1.4375;
    }
  }
  &__sub-text {
    color: white;
    font-size: $font-size-base * 1.3;
    letter-spacing: $letter-spacing-base * 0.3;
    white-space: nowrap;
    font-family: "Hannari", sans-serif;
    margin-top: -13px;
    padding-bottom: 2%;
    @include mq-up("tab") {
      font-size: $font-size-base * 1.5625;
    }
    @include mq-up("pc") {
      font-size: $font-size-base * 1.3;
    }
  }
  .C_shabon_anime{
    animation-play-state: paused;
    &.isActive {
      animation-play-state : running
    }
  }
}
// --------------------------------
// 各施設
// --------------------------------
.P_Facility {
  padding-bottom: 4vh;
  padding-left: $space-side_L;
  padding-right: $space-side_L;
  @include mq-up("tab") {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  &__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }
  &__image-box {
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: all $anime-time-short;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
      @include mq-up("tab") {
        padding-top: 60%;
      }
    }
    &:last-child {
      margin-top: 4vh;
      @include mq-up("tab") {
        margin-top: 0;
      }
    }
    @include mq-up("tab") {
      box-shadow: initial;
      width: 50%;
      margin: 0;
      &:last-child {
        margin: 0;
      }
    }
    &:hover .U_cover--shadow {
      opacity: 0;
    }
    &:hover .P_Facility__text {
      opacity: 0;
    }
    &:hover .P_Facility__image {
      transform: scale(1.05);
    }
    &.isActive {
      transform: scale(1.05);
    }
  }
  &__image {
    transition: all $anime-time-short;
    @include abs-full;
  }
  &__text {
    color: white;
    letter-spacing: $letter-spacing-base * 0.125;
    font-family: "Blankid", sans-serif;
    transition: all $anime-time-short;
    @include abs(50, 60);
    font-size: $font-size-base * 3.75;
    @include mq-up("sp") {
      font-size: $font-size-base * 6.25;
    }
    @include mq-up("tab") {
      font-size: $font-size-base * 5;
      @include abs(50, 70);
    }
    @include mq-up("pc") {
      @include abs(50, 68);
      font-size: $font-size-base * 6.875;
    }
  }
}
