.P_one-day {
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding-top: 16vh;
    padding-right: $space-side;
    padding-left: $space-side;
    padding-bottom: $space-section_L;
    background: linear-gradient(177deg,
                              #FDF5F6 25%,
                              #e7ded9 75%);
    @include mq-up("tab") {
      padding-right: $space-side_L;
      padding-left: $space-side_L;
    }
    @include mq-up("pc") {
      padding-top: $space-side_L;
      padding-bottom: $space-section_L;
    }
  }
  &__js-wrap {
    width: 100%;
  }
  &__nav {
    z-index: map-get($layer, 'icon');
    position: fixed;
    width: 5vw;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    right: 15px;
    bottom: 0;
    @include mq-up("tab") {
      right: 3%;
      top: 20%;
      bottom: initial;
      height: 13.5vh;
      min-height: 120px;
    }
    @include mq-up("pc") {
      height: 18vh;
      right: 2%;
    }
  }
  &__nav-list {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: $font-size-base;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &.infant {
      color: #254e4c;
      background: #E7A0A9;
      box-shadow: 5px 5px 10px #c48890,
                  -5px -5px 10px #ffb8c2;
      &:hover {
        background: linear-gradient(145deg, #d09098, #f7abb5);
      }
      &.isActive {
        background: linear-gradient(145deg, #d09098, #f7abb5);
      }
    }
    &.toddler {
      color: #2e3354;
      background: #E39972;
      box-shadow: 5px 5px 10px #af7658,
                  -5px -5px 10px #ffbc8c;
      &:hover {
        background: linear-gradient(145deg, #af7658, #ffbc8c);
      }
      &.isActive {
        background: linear-gradient(145deg, #af7658, #ffbc8c);
      }
    }
  }
  &__title-en {
    font-family: 'DINPro-Medium', sans-serif;
    font-size: $font-size-base * 0.75;
    letter-spacing: 0.08em;
  }
  &__title-ja {
    position: relative;
    text-align: center;
    font-size: $font-size-base * 1.875;
    @include mq-up("tab") {
      font-size: $font-size-base * 2.05;
    }
  }
  &__title-deco {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    @include mq-up("tab") {
      width: 50px;
      height: 50px;
    }
    &.left {
      left: -53px;
      top: 60%;
    }
    &.right {
      right: -53px;
      top: 40%;
    }
  }
  &__deco-line {
    position: absolute;
    width: 100%;
    height: 6px;
    stroke: #C2C2C2;
    stroke-dasharray: 3 6;
    stroke-linecap: round;
    bottom: -6px;
    left: 0;
    stroke-width: 2px;
  }
  &__class-title {
    font-size: $font-size-base * 1.4375;
    text-align: center;
    padding-top: $space-section_L;
    &.infant {
      padding-top: $space-section;
      color: #28615e;
    }
    &.toddler {
      color: #1b2148;
    }
  }
  &__content-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: $space-section;
    flex-direction: column;
    @include mq-up("pc") {
      flex-direction: row;
      margin-top: $space-section_L;
    }
  }
  &__container {
    width: calc(50% - 1.5vw);
    &.right {
      margin-top: 25vh;
    }
  }
  &__img {
    position: relative;
    width: 100%;
    height: 40vh;
    margin-top: $space-section * 1.5;
    @include mq-up("tab") {
      min-height: 400px;
    }
    @include mq-up("pc") {
      margin-top: $space-section_L * 1.5;
    }
    &.first {
      margin-top: 0;
    }
  }
  &__text-box {
    border: 1px solid $color-text;
    position: absolute;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -4%;
    left: -4%;
    width: 38%;
    min-width: 110px;
    &.right {
      right: -4%;
      left: initial;
    }
    @include mq-up("tab") {
      width: 26%;
      min-width: 145px;
    }
  }
  &__time {
    font-family: 'DINPro-Medium', sans-serif;
    font-size: $font-size-base * 1.375;
    padding-top: 3px;
    @include mq-up("tab") {
      font-size: $font-size-base * 1.875;
      padding-top: 8px;
    }
  }
  &__title {
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-base * 0.9375;
    @include mq-up("tab") {
      font-size: $font-size-base * 1.125;
      padding-top: 3px;
    }
  }
  &__class {
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    padding-right: 18px;
    padding-left: 18px;
    color: white;
    font-size: $font-size-base * 0.75;
    margin-top: 5px;
    &.toddler {
      background-color: $color-toddler;
    }
    &.infant {
      background-color: $color-infant;
    }
    @include mq-up("tab") {
      font-size: $font-size-base * 0.9375;
      margin-top: 9px;
    }
  }
  &__text {
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 8px;
    padding-bottom: 12px;
    font-size: $font-size-base * 0.625;
    @include mq-up("tab") {
      font-size: $font-size-base * 0.8125;
      padding-bottom: 18px;
    }
  }
  &__deco {
    position: absolute;
    width: 10vw;
    height: 15vh;
    &.arrow-right {
      top: -25%;
      left: 60%;
      width: 16vw;
      height: 10vh;
      @include mq-up("pc") {
        top: -24%;
        left: -3%;
        width: 12vw;
        height: 10vh;
      }
      @include mq-up("pc_full") {
        top: -31%;
      }
    }
    &.arrow-left {
      width: 13vw;
      height: 8vh;
      top: -22%;
      left: 22%;
      @include mq-up("pc") {
        width: 10vw;
        height: 8vh;
        top: -16%;
        left: 73%;
      }
      @include mq-up("pc_full") {
        top: -25%;
      }
    }
    &.arrow-right-L {
      top: -30%;
      left: 67%;
      width: 16vw;
      height: 15vh;
      @include mq-up("tab") {
        top: -25%;
        left: 75%;
        width: 14vw;
        height: 11vh;
      }
      @include mq-up("pc") {
        top: -36%;
        left: -4%;
      }
      @include mq-up("pc_full") {
        top: -46%;
      }
    }
    &.deco1 {
      top: -29%;
      left: 82%;
      width: 17vw;
      @include mq-up("tab") {
        top: -20%;
        left: 94%;
        width: 15vw;
      }
      @include mq-up("pc") {
        top: -39%;
        left: 17%;
        width: 10vw;
        height: 15vh;
      }
      @include mq-up("pc_full") {
        top: -50%;
      }
    }
    &.deco2 {
      top: -28%;
      left: 75%;
      width: 19vw;
      height: 13vh;
      @include mq-up("tab") {
        top: -28%;
        left: 70%;
        width: 13vw;
        height: 13vh;
      }
      @include mq-up("pc") {
        top: -31%;
        left: 57%;
        width: 7vw;
        height: 13vh;
      }
      @include mq-up("pc_full") {
        top: -39%;
      }
    }
    &.deco3 {
      top: -30%;
      left: 78%;
      width: 17vw;
      @include mq-up("tab") {
        top: -30%;
        left: 82%;
        width: 13vw;
      }
      @include mq-up("pc") {
        top: -33%;
        left: 69%;
        width: 10vw;
      }
      @include mq-up("pc_full") {
        top: -41%;
      }
    }
    &.deco4 {
      top: -23%;
      left: 36%;
      width: 11vw;
      height: 9vh;
      @include mq-up("pc") {
        top: -28%;
        left: 69%;
        width: 7vw;
        height: 9vh;
      }
      @include mq-up("pc_full") {
        top: -36%;
      }
    }
    &.deco5 {
      top: -29%;
      left: 82%;
      width: 14vw;
      @include mq-up("tab") {
        top: -30%;
        left: 84%;
        width: 9vw;
      }
      @include mq-up("pc") {
        top: -31%;
        left: 65%;
        width: 10vw;
      }
      @include mq-up("pc_full") {
        top: -39%;
      }
    }
    &.deco6 {
      top: -29%;
      left: 59%;
      width: 31vw;
      @include mq-up("tab") {
        top: -30%;
        left: 72%;
        width: 21vw;
      }
      @include mq-up("pc") {
        top: -32%;
        left: 38%;
        width: 14vw;
      }
      @include mq-up("pc_full") {
        top: -40%;
      }
    }
    &.deco7 {
      top: -29%;
      left: 37%;
      width: 19vw;
      @include mq-up("pc") {
        top: -32%;
        left: 23%;
        width: 13vw;
      }
      @include mq-up("pc_full") {
        top: -40%;
      }
    }
    &.deco8 {
      top: -28%;
      width: 22vw;
      left: 68%;
      @include mq-up("pc") {
        top: -26%;
        width: 8vw;
        left: 19%;
      }
      @include mq-up("pc_full") {
        top: -34%;
      }
    }
    &.deco9 {
      top: -30%;
      left: 82%;
      width: 10vw;
      @include mq-up("tab") {
        top: -30%;
        left: 85%;
        width: 10vw;
      }
      @include mq-up("pc") {
        top: -29%;
        left: 31%;
        width: 5vw;
      }
      @include mq-up("pc_full") {
        top: -37%;
      }
    }
    &.deco10 {
      top: -29%;
      left: 77%;
      width: 16vw;
      @include mq-up("tab") {
        top: -30%;
        left: 77%;
        width: 13vw;
      }
      @include mq-up("pc") {
        top: -32%;
        left: 45%;
        width: 10vw;
      }
      @include mq-up("pc_full") {
        top: -40%;
      }
    }
    &.deco11 {
      top: -30%;
      left: 78%;
      width: 18vw;
      @include mq-up("tab") {
        top: -30%;
        left: 81%;
        width: 15vw;
      }
      @include mq-up("pc") {
        top: -31%;
        left: 30%;
        width: 8vw;
      }
      @include mq-up("pc_full") {
        top: -39%;
      }
    }
  }
}
