.P_Pa__kv {
  width: 100%;
  height: 100vh;
	position: relative;
  overflow: hidden;
  &__side-text {
    position: absolute;
    top: 8%;
    right: 10%;
    font-size: $font-size-base;
    color: #fff;
    text-align: right;
    line-height: 180%;
    transform: scale(1.3 ,1);
    letter-spacing: 0.06em;
    @include mq-up("tab") {
      line-height: 220%;
      top: 9%;
      right: 10%;
    }
    @include mq-up("pc") {
      line-height: 220%;
      top: 17%;
    }
  }
  &__space {
    opacity: 0;
  }
  &__title {
    color: white;
    font-size: $font-size-base * 12.5;
    font-family: "Angelface", sans-serif;
    position: absolute;
    bottom: -4%;
    left: 50%;
    transform: translate3d( -50%, 0, 0);
  }
  &__sub-title {
    color: white;
    font-size: $font-size-base * 2.5;
    letter-spacing: $letter-spacing-base;
    font-family: "goudy_bookletter_1911", sans-serif;
    position: absolute;
    left: 50%;
    bottom: 6%;
    transform: translate3d( -50%, 0, 0);
    @include mq-up("tab") {
      bottom: 2%;
    }
    @include mq-up("pc") {
      bottom: 5%;
    }
  }
  &__leaf1, &__leaf2 {
    position: absolute;
  }
  &__leaf1 {
    width: 140px;
    height: 140px;
    left: -2%;
    bottom: -3%;
    @include mq-up("tab") {
      width: 180px;
      height: 180px;
      left: auto;
      bottom: -2%;
      right: 7%;
    }
    @include mq-up("pc") {
      bottom: 0%;
      right: 7%;
    }
  }
  &__leaf2 {
    width: 90px;
    height: 90px;
    bottom: 1%;
    right: 0%;
    @include mq-up("tab") {
      bottom: 6%;
      right: 1%;
    }
    @include mq-up("pc") {
      bottom: 8%;
      right: 4%
    }
  }
}
.P_Pa__thought {
  &__wrap {
    display: flex;
    flex-direction: column;
    padding-top: $space-section;
    padding-left: $space-side_L;
    padding-right: $space-side_L;
    background-color: $color-background2;
    overflow: hidden;
    @include mq-up("tab") {
      padding-top: $space_section_M;
      padding-bottom: $space_section_M;
    }
    @include mq-up("pc") {
      padding-top: $space-section_L;
      padding-bottom: $space-section * 2;
    }
  }
  &__inner-top {
    display: flex;
    flex-direction: column;
    @include mq-up("tab") {
      height: 60vh;
      min-height: 675px;
      flex-direction: row;
    }
    @include mq-up("pc") {
      height: 80vh;
    }
  }
  &__inner-left {
    width: 100%;
    @include mq-up("tab") {
      width: 50%;
      margin-right: 10vw;
    }
  }
  &__title-box {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 25%;
  }
  &__title-en {
    width: 100%;
    text-align: center;
    font-size: $font-size-base * 2.5;
    font-family: 'Blankid', sans-serif;
    padding-top: 5px;
    @include mq-up("tab") {
      padding-top: 6vh;
    }
  }
  &__title-ja {
    width: 100%;
    text-align: center;
    font-size: $font-size-base;
    letter-spacing: 0.12em;
    position: relative;
  }
  &__text-box {
    margin-top: $space-vertical;
    display: flex;
    flex-direction: column-reverse;
    height: 75%;
    justify-content: flex-start;
    position: relative;
    @include mq-up("tab") {
      justify-content: flex-end;
      margin-top: 0;
    }
    @include mq-up("pc") {
      flex-direction: row;
    }
  }
  &__text {
    padding-top: 4vh;
    font-size: $font-size-base * 0.875;
    letter-spacing: -0.05em;
    line-height: 250%;
    white-space: nowrap;
    z-index: map-get($layer, 'icon');
    @include mq-up("pc") {
      padding-top: 8.5vh;
      writing-mode: vertical-rl;
      padding-right: 3vw;
    }
  }
  &__sub-title {
    width: calc(100% + 12vw);
    margin-left: -12vw;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: $font-size-base * 1.125;
    background-color: $color-text;
    color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-weight: 400;
    letter-spacing: 0.017em;
    font-family: 'Hannari', sans-serif;
    text-align: center;
    @include mq-up("pc") {
      border-radius: 4px;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 3px;
      padding-left: 3px;
      width: 43px;
      height: 415px;
      margin-left: 0;
      writing-mode: vertical-rl;
      font-size: $font-size-base * 1.375;
      letter-spacing: $letter-spacing-base * 0.25;
    }
  }
  &__deco-line {
    position: absolute;
    width: 100%;
    height: 2%;
    top: 5%;
    right: 0;
    overflow: hidden;
    stroke: $color-text;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-dasharray: 0, 4;
    z-index: map-get($layer, 'icon');
    &.ver {
      width: 2%;
      height: 101%;
      top: 0;
      left: -20px;
    }
  }
  &__img-container {
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    margin-top: $space-section;
    margin-bottom: $space-section;
    @include mq-up("tab") {
      width: 100%;
      height: 100%;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: $space-side_L * -1;
    }
    @include mq-up("pc") {
      width: 50%;
      margin-right: 0;
    }
  }
  &__main-img-box {
    border: 1px solid $color-text;
    position: relative;
    width: 60%;
    height: 100%;
    &::before {
      content: '';
      display: block;
      padding-top: 130%;
    }
    @include mq-up("tab") {
      width: 100%;
    }
  }
  &__sp-sub-img-container {
    width: calc(40% - (#{$space-side} / 2));
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
  &__sub-img-container {
    padding-top: 9vh;
    display: flex;
    justify-content: flex-start;
    position: relative;
  }
  &__sub-img-box {
    position: relative;
    border: 1px solid $color-text;
    width: 100%;
    height: calc(33.33% - (#{$space-vertical} / 2));
    @include mq-up("tab") {
      width: 266px;
      height: auto;
      margin-left: $space-vertical / 2;
      &::before {
        content:"";
        display: block;
        padding-top: 60%;
      }
    }
    &:nth-of-type(1) {
      @include mq-up("tab") {
        margin-left: 0;
      }
    }
  }
  &__deco-text {
    &-L, &-S {
      color: #fff;
      position: absolute;
    }
    &-L {
      font-family: 'logo-font', sans-serif;
      font-size: $font-size-base * 8.75;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0) rotate(-30deg);
      @include mq-up("pc") {
        font-size: $font-size-base * 10.625;
        transform: none;
        bottom: -10%;
        right: 0;
        top: auto;
        left: auto;
      }
    }
    &-S {
      font-family: 'Baskerville', sans-serif;
      font-size: $font-size-base * 2.5;
      letter-spacing: $letter-spacing-base;
      right: 0;
      bottom: 0;
    }
    &-container {
      flex-basis: 30%;
      position: relative;
      text-align: right;
    }
    &-L_pc ,&-S_pc {
      color: #fff;
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
    }
    &-L_pc {
      font-family: 'logo-font', sans-serif;
      font-size: 17rem;
      white-space: pre;
      transform: translateY(30px);
    }
    &-S_pc {
      font-family: 'Baskerville', sans-serif;
      font-size: $font-size-base * 1.875;
      letter-spacing: $letter-spacing-base;
    }
  }
}
.P_Pa__features {
  &__wrap {
    display: flex;
    flex-direction: column;
    padding-left: $space-side_L;
    padding-right: $space-side_L;
    padding-top: $space-section;
    overflow: hidden;
    @include mq-up("tab") {
      padding-top: $space-section_M / 2;
    }
    @include mq-up("pc") {
      padding-top: $space-section_L;
    }
  }
  &__title-en {
    font-size: $font-size-base * 1.875;
    text-align: center;
    width: 100%;
    font-family: 'Blankid', sans-serif;
    @include mq-up("tab") {
      font-size: $font-size-base * 2.5;
    }
    @include mq-up("pc") {
      padding-top: 20px;
    }
  }
  &__title-ja {
    font-size: $font-size-base;
    margin-bottom: $space-vertical;
    letter-spacing: 0.12em;
    text-align: center;
  }
  &__inner {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include mq-up("tab") {
      width: initial;
      margin-top: $space-section;
      flex-direction: row;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-top: $space-section;
      }
    }
    @include mq-up("pc") {
      &:first-child {
        margin-top: $space-section;
      }
    }
  }
  &__img-box {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 35vh;
    margin-top: $space-section;
    &.sp-top {
      margin-top: 0;
      @include mq-up("tab") {
        margin-top: $space-section;
      }
    }
    @include mq-up("tab") {
      &:nth-of-type(1) {
        margin-top: 0;
      }
      width: 300px;
      height: 416px;
      &.space-left {
        margin-left: 6.5vw;
      }
      &.space-top {
        margin-top: 4vh;
      }
      &.space-top2 {
        margin-top: 8vh;
      }
    }
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: $thumbnail-gradation-back;
      background-image: $thumbnail-gradation-image;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: .3s;
      pointer-events: none;
    }
    &:hover:after, &.isActive::after {
      opacity: .6;
    }
  }
  &__triggers {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__side-border {
    &-left, &-right {
      width: 1px;
      height: 90%;
      background-color: $color-text;
      position: absolute;
      top: 5%;
    }
    &-left {
      left: -3%;
    }
    &-right {
      right: -3%;
    }
  }
  &__sub-title-ja {
    width: 160px;
    height: 40px;
    font-size: $font-size-base * 1.375;
    padding-top: 1px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: -7%;
    white-space: nowrap;
    color: $color-text;
    border: solid 1px $color-text;
    background-color: #fff;
    z-index: map-get($layer, 'icon');
    @include mq-up("tab") {
      left: -3%;
      width: 210px;
    }
    @include mq-up("pc") {
      left: -7%;
    }
  }
  &__sub-title-en {
    font-size: $font-size-base * 0.875;
    font-family: 'DINPro-Medium', sans-serif;
    position: absolute;
    top: 5%;
    right: -3%;
    transform: translate3d(100%,0,0) rotate(90deg);
    transform-origin: left bottom;
    white-space: nowrap;
  }
}
