@mixin font-logo($x , $y) {
  color: #fff;
  font-size: 2.4rem;
  position: absolute;
  top: $y * 1%;
  left: $x * 1%;
}
.P_Pi__kv {
  width: 100%;
  height: 100vh;
	position: relative;
  overflow: hidden;
  &__cloud_0 {
    position: absolute;
    opacity: 0.8;
    right: -5%;
    top: -11%;
    width: 270px;
    height: 270px;
    @include mq-up("tab") {
      right: 5%;
      top: -6%;
      width: 340px;
      height: 340px;
    }
    @include mq-up("pc") {
      right: 7%;
      top: -17%;
      width: 415px;
      height: 415px;
    }
  }
  &__cloud_1 {
    position: absolute;
    left: -5%;
    top: 37%;
    width: 230px;
    height: 230px;
    @include mq-up("tab") {
      width: 290px;
      height: 290px;
      left: -2%;
      top: 37%;
    }
    @include mq-up("pc") {
      left: -2%;
      top: 28%;
      width: 380px;
      height: 380px;
    }
  }
  &__cloud_2 {
    position: absolute;
    opacity: 0.7;
    right: -6%;
    bottom: -6%;
    width: 280px;
    height: 280px;
    @include mq-up("pc") {
      right: -3%;
      bottom: -17%;
      width: 480px;
      height: 480px;
    }
  }
  &__deco__bottom-right {
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 1%;
    right: 1%;
    @include mq-up("tab") {
      width: 80px;
      height: 80px;
    }
    @include mq-up("pc") {
      width: 110px;
      height: 110px;
      bottom: 4%;
      right: 1%;
    }
  }
  &__deco__left {
    position: absolute;
    width: 130px;
    height: 130px;
    bottom: 30%;
    left: 0%;
    @include mq-up("tab") {
      width: 160px;
      height: 160px;
    }
    @include mq-up("pc") {
      width: 190px;
      height: 190px;
      bottom: 19%;
      left: 0%;
    }
  }
  &__deco__top-right {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 8%;
    right: 4%;
    @include mq-up("tab") {
      width: 140px;
      height: 140px;
    }
    @include mq-up("pc") {
      width: 175px;
      height: 175px;
      top: 6%;
      right: 1%;
    }
  }
  &__side-text {
    position: absolute;
    top: 15%;
    left: -5%;
    transform: rotate(90deg);
    font-size: $font-size-base;
    padding-left: 23px;
    color: #fff;
    border-left: 1px solid #fff;
    @include mq-up("tab") {
      top: 20%;
      left: 0%;
    }
  }
  &__title {
    color: white;
    font-size: $font-size-base * 12.5;
    font-family: "Angelface", sans-serif;
    position: absolute;
    bottom: -4%;
    left: 50%;
    transform: translate3d( -50%, 0, 0);
  }
  &__sub-title {
    color: white;
    font-size: $font-size-base * 2.5;
    letter-spacing: $letter-spacing-base;
    font-family: "goudy_bookletter_1911", sans-serif;
    position: absolute;
    left: 50%;
    bottom: 6%;
    transform: translate3d( -50%, 0, 0);
    @include mq-up("tab") {
      bottom: 2%;
    }
    @include mq-up("pc") {
      bottom: 5%;
    }
  }
  &__L {
    &-star {
      @include font-logo(26, 82);
      @include mq-up("tab") {
        @include font-logo(3, 58);
      }
      @include mq-up("pc") {
        @include font-logo(2, 65);
      }
    }
    &-triangle-1 {
      @include mq-up("tab") {
        @include font-logo(10, 50);
      }
      @include mq-up("pc") {
        @include font-logo(5, 55);
      }
    }
    &-triangle-2 {
      @include font-logo(5, 81);
      @include mq-up("tab") {
        @include font-logo(8, 65);
      }
      @include mq-up("pc") {
        @include font-logo(4, 73);
      }
    }
    &-square {
      @include font-logo(16, 89);
      @include mq-up("tab") {
        @include font-logo(15, 58);
      }
      @include mq-up("pc") {
        @include font-logo(7, 64);
      }
    }
    &-circle {
      @include mq-up("tab") {
        @include font-logo(20, 51);
      }
      @include mq-up("pc") {
        @include font-logo(10, 56);
      }
    }
  }
  &__RT {
    &-star-1 {
      @include font-logo(46, 8);
      @include mq-up("tab") {
        @include font-logo(81, 8);
      }
      @include mq-up("pc") {
        @include font-logo(89, 10);
      }
    }
    &-star-2 {
      @include font-logo(92, 24);
      @include mq-up("tab") {
        @include font-logo(96, 18);
      }
      @include mq-up("pc") {
        @include font-logo(98, 14);
      }
    }
    &-triangle {
      @include font-logo(67, 4);
      @include mq-up("tab") {
        @include font-logo(88, 4);
      }
      @include mq-up("pc") {
        @include font-logo(92, 3);
      }
    }
    &-square {
      @include font-logo(73, 15);
      @include mq-up("tab") {
        @include font-logo(91, 14);
      }
      @include mq-up("pc") {
        @include font-logo(93, 14);
      }
    }
    &-circle {
      @include font-logo(87, 9);
      @include mq-up("tab") {
        @include font-logo(94, 8);
      }
      @include mq-up("pc") {
        @include font-logo(95, 8);
      }
    }
  }
  &__RB {
    &-star {
      @include font-logo(89, 94);
      @include mq-up("tab") {
        @include font-logo(94, 95);
      }
      @include mq-up("pc") {
        @include font-logo(97, 93);
      }
    }
    &-triangle {
      @include font-logo(68, 92);
      @include mq-up("tab") {
        @include font-logo(95, 86);
      }
      @include mq-up("pc") {
        @include font-logo(98, 83);
      }
    }
    &-circle {
      @include font-logo(82, 86);
      @include mq-up("tab") {
        @include font-logo(88, 90);
      }
      @include mq-up("pc") {
        @include font-logo(94, 88);
      }
    }
  }
}
.P_Pi__thought {
  &__wrap {
    display: flex;
    flex-direction: column;
    padding-left: $space-side_L;
    padding-right: $space-side_L;
    background-color: $color-background2;
    @include mq-up("pc") {
      flex-direction: row;
      padding-top: $space-section_L;
      padding-bottom: $space-section * 2;
    }
  }
  &__inner-left {
    width: 100%;
    margin-right: 0;
    @include mq-up("pc") {
      width: 50%;
      margin-right: $space-side;
    }
  }
  &__title-box {
    overflow: hidden;
    width: 100%;
    display: flex;
    position: relative;
    height: 22px;
    margin-top: 10vh;
    @include mq-up("tab") {
      margin-top: $space-section;
    }
  }
  &__title-en {
    font-size: $font-size-base;
    letter-spacing: 0.32em;
    font-family: 'Baskerville', sans-serif;
    @include mq-up("tab") {
    letter-spacing: $letter-spacing-base * 9;
    }
  }
  &__deco-line-ver {
    position: relative;
    width: 12vw;
    @include mq-up("tab") {
      width: 10vw;
    }
    @include mq-up("pc") {
      width: 5vw;
    }
    &::after {
      content: '';
      width: 4px;
      border-left: 1px solid $color-border--thin3;
      border-right: 1px solid $color-border--thin3;
      transform: translate3d(-50%, -50%, 0) rotate(45deg);
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }
  &__title-ja {
    font-size: $font-size-base;
    letter-spacing: 0.12em;
  }
  &__sub-title{
    font-size: $font-size-base * 1.25;
    font-weight: 400;
    letter-spacing: 0.017em;
    font-family: 'Hannari', sans-serif;
    padding-top: $space-section_L;
    @include mq-up("tab") {
      padding-top: 10.5vh;
      font-size: $font-size-base * 1.5625;
      letter-spacing: $letter-spacing-base * 0.25;
    }
  }
  &__text {
    padding-top: 5.5vh;
    font-size: $font-size-base * 0.875;
    letter-spacing: -0.05em;
    line-height: 250%;
    font-feature-settings: "palt";
  }
  &__img-container {
    padding-top: 9vh;
    display: flex;
    justify-content: space-between;
  }
  &__sub-img-box {
    border: 1px solid $color-text;
    position: relative;
    width: calc(50% - 0.6vw);
    position: relative;
    &::before {
      content:"";
      display: block;
      padding-top: 60%;
    }
  }
  &__main-img-box {
    border: 1px solid $color-text;
    position: relative;
    width: 50%;
    
  }
  &__sp-img-container {
    padding-top: 10.5vh;
    display: flex;
    height: 60vh;
    width: 100%;
    justify-content: space-between;
  }
  &__sp-main-img-box{
    position: relative;
    width: calc(50% - 1.2vw);
    height: 100%;
    border: 1px solid $color-text;
  }
  &__sp-sub-img-container {
    width: calc(50% - 1.2vw);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__sp-sub-img-box {
    position: relative;
    width: 100%;
    height: calc(50% - 1.2vw);
    border: 1px solid $color-text;
  }
}
.P_Pi__features {
  &__wrap {
    display: flex;
    flex-direction: column;
    padding-left: $space-side_L;
    padding-right: $space-side_L;
    padding-top: $space-section_L;
    padding-bottom: $space-section_L;
    background-color: $color-background2;
  }
  &__title-section {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: $space-vertical;
    &::before {
      content: '';
      position: absolute;
      border-top: 1px solid $color-border--thin3;
      border-bottom: 1px solid $color-border--thin3;
      height: 4px;
      width: $space-vertical * 2;
      top: 50%;
      left: 50%;
      transform: rotate(-45deg) translate3d(-50%, 0,0);
      transform-origin: left center;
    }
  }
  &__title-en {
    letter-spacing: 0.62em;
    font-size: $font-size-base * 1.25;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    font-family: 'Baskerville', sans-serif;
    @include mq-up("tab") {
      letter-spacing: $letter-spacing-base * 9;
    }
    @include mq-up("pc") {
      letter-spacing: 0.62em;
    }
  }
  &__title-ja {
    font-size: $font-size-base;
    padding-top: $space-vertical;
    letter-spacing: 0.12em;
    text-align: center;
  }
  &__inner {
    padding-top: $space-section_M / 3;
    display: flex;
    flex-direction: column;
    @include mq-up("tab") {
      padding-top: 0;
      flex-direction: row;
    }
  }
  &__left {
    width: 40%;
    float: right;
  }
  &__right {
    width: 60%;
    float: left;
  }
  &__img-box {
    position: relative;
    width: 100%;
    height: 26vh;
    margin-top: 8.2vh;
    cursor: pointer;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: $thumbnail-gradation-back;
      background-image: $thumbnail-gradation-image;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: .3s;
      pointer-events: none;
    }
    &:hover:after, &.isActive::after {
      opacity: .6;
    }
    @include mq-up("tab") {
      height: auto;
      margin-bottom: 0;
      &.play {
        width: 93%;
        margin-left: 7%;
        &::before {
          content:"";
          display: block;
          padding-top: 100%;
        }
      }
      &.environment {
        width: 77%;
        margin-top: 19%;
        margin-left: 20%;
        @include mq-up("pc") {
          margin-top: 23%;
        }
        &::before {
          content:"";
          display: block;
          padding-top: 100%;
        }
      }
      &.expression {
        width: 109%;
        margin-top: 33%;
        @include mq-up("pc") {
          margin-top: 40%;
        }
        &::before {
          content:"";
          display: block;
          padding-top: 100%;
        }
      }
      &.courtesy {
        width: 79%;
        margin-left: 21%;
        margin-top: 44%;
        @include mq-up("pc") {
          margin-left: 9%;
          margin-top: 25%;
        }
        &::before {
          content:"";
          display: block;
          padding-top: 100%;
        }
      }
      &.together {
        width: 55%;
        margin-left: 40%;
        margin-top: 34%;
        @include mq-up("tab") {  
          margin-left: 29%;
          margin-top: 27%;
        }
        &::before {
          content:"";
          display: block;
          padding-top: 100%;
        }
      }
    }
  }
  &__number-box {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $color-text;
    left: 0;
    top: -5%;
    transform: translate3d(0, -100%, 0);
    z-index: map-get($layer, 'icon');
    @include mq-up("tab") {
      width: 45px;
      height: 45px;
      &.play {
        top: 6%;
        right: 0;
        bottom: auto;
        left: auto;
        transform: translate3d(50%, 0, 0);
      }
      &.environment {
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        transform: translate3d(-60%, 60%, 0);
      }
      &.expression {
        top: 24%;
        right: 0;
        bottom: auto;
        left: auto;
        transform: translate3d(50%, 0, 0);
      }
      &.courtesy {
        top: auto;
        right: auto;
        bottom: -8%;
        left: 0;
        transform: translate3d(0, 100%, 0);
      }
      &.together {
        top: auto;
        right: auto;
        bottom: -8%;
        left: 0;
        transform: translate3d(0, 100%, 0);
      }
    }
    @include mq-up("pc") {
      width: 70px;
      height: 70px;
      &.courtesy, &.together {
        bottom: -4%;
      }
    }
  }
  &__number {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'NewBaskervilleStd-Roman', sans-serif;
    transform: translate3d(-50%, -40%, 0);
    font-size: $font-size-base * 0.625;
    color: #fff;
    @include mq-up("tab") {
      font-size: $font-size-base;
    }
    @include mq-up("pc") {
      font-size: $font-size-base * 1.875;
    }
  }
  &__border {
    position: absolute;
    height: 1px;
    width: 22px;
    background-color: $color-text;
    &.play {
      right: 0;
      top: 50%;
      transform: translate3d(100%, -50%, 0);
    }
    &.environment {
      right: 15%;
      bottom: 15%;
      transform: rotate(45deg) translate3d(100%, -50%, 0);
      transform-origin: right center;
    }
    &.expression {
      right: 15%;
      bottom: 15%;
      transform: rotate(45deg) translate3d(100%, -50%, 0);
      transform-origin: right center;
    }
    &.courtesy {
      right: 0;
      top: 50%;
      transform: translate3d(100%, -50%, 0);
    }
    &.together {
      right: 0;
      top: 50%;
      transform: translate3d(100%, -50%, 0);
    }
  }
  &__sub-title-box {
    height: 60px;
    width: 400px;
    display: flex;
    position: absolute;
    width: fit-content;
    &.play {
      right: -22px;
      top: 50%;
      transform: translate3d(100%, -50%, 0);
    }
    &.environment {
      right: -6px;
      bottom: 20px;
      transform: translate3d(100%, 100%, 0);
    }
    &.expression {
      right: 22px;
      bottom: -9px;
      transform: translate3d(100%, 100%, 0);
      transform-origin: right center;
      width: 60px;
      height: 400px;
      flex-direction: column;
    }
    &.courtesy {
      right: -22px;
      top: 50%;
      transform: translate3d(100%, -50%, 0);
    }
    &.together {
      right: -22px;
      top: 50%;
      transform: translate3d(100%, -50%, 0);
    }
  }
  &__sub-title-ja {
    font-size: $font-size-base * 1.375;
    padding-top: 10px;
    padding-left: 1vw;
    position: absolute;
    top: -24%;
    left: 10%;
    white-space: nowrap;
    @include mq-up("tab") {
      position: initial;
      font-size: $font-size-base * 1.6875;
    }
    &.vertical {
      padding-right: 10px;
      padding-left: 0;
      padding-top: 1vh;
      writing-mode: vertical-rl;
    }
  }
  &__section {
    width: 5vw;
    height: 100%;
    overflow: hidden;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      height: 1px;
      width: 10vw;
      transform: rotate(-45deg) translate3d(-50%, 0,0);
      transform-origin: left center;
      background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAABCAYAAAAMwoR9AAAAFElEQVQYV2NkYGD4z8DAwMiABwAAIUYBAlvg6/4AAAAASUVORK5CYII=
      ) repeat;
    }
    &.reverse {
      width: 100%;
      height: 5vw;
    }
  }
  &__sub-title-en {
    font-size: $font-size-base * 0.875;
    font-family: 'DINPro-Medium', sans-serif;
    padding-top: 23px;
    position: absolute;
    top: -26%;
    right: 0;
    white-space: nowrap;
    @include mq-up("tab") {
      position: initial;
    }
    &.vertical {
      writing-mode: vertical-rl;
      padding-top: 0px;
      padding-right: 19px;
    }
  }
}
