#P_Recruit__kv__rain {
  @include mq-up("tab") {
    transform: scale(1, 1.2);
    transform-origin: center bottom;
  }
  @include mq-up("pc") {
    display: none;
  }
}
.P_Recruit {
  &__wrap {
    display: flex;
    flex-direction: column;
    padding-left: $space-side;
    padding-right: $space-side;
    &.title {
      text-align: center;
      padding-top: $space-section;
    }
    @include mq-up("pc") {
      padding-top: $space-section;
    }
    @include mq-up("pc") {
      flex-direction: row;
      justify-content: center;
    }
    &.text {
      padding-top: $space-section;
      @include mq-up("pc") {
        align-items: center;
        flex-direction: column;
      }
    }
  }
  &__sub-title {
    font-size: $font-size-base * 1.43;
    padding-top: $space-vertical;
    line-height: 140%;
    font-weight: 400;
    letter-spacing: -0.12em;
    font-family: 'Hannari';
    text-align: center;
    @include mq-up("pc") {
      text-align: initial;
      font-size: $font-size-base * 2;
      line-height: 120%;
    }
  }
}
// =====================================
// トップイメージ
// =====================================
.P_Recruit__kv {
  &__text-box {
    width: 100%;
    text-align: center;
    color: #fff;
    position: absolute;
    z-index: map-get($layer, 'icon');
    bottom: 0;
    pointer-events: none;
    height: 150px;
    @include mq-up("tab") {
      height: 180px;
    }
    @include mq-up("pc") {
      width: fit-content;
      height: fit-content;
      top:16%;
      right: 3%;
      border-radius: 20px;
      background-color: rgba(118, 190, 194, 0.7);
    }
  }
  &__main-title {
    font-size: $font-size-base * 3;
    letter-spacing: $letter-spacing-base * 1.25;
    white-space: nowrap;
    font-family: 'goudy_bookletter_1911';
    color: #fff;
    @include mq-up("tab") {
      font-size: $font-size-base * 4.375;
      letter-spacing: $letter-spacing-base * 4.5;
    }
    @include mq-up("pc") {
      font-size: $font-size-base * 2.5;
      padding-top: 21px;
      padding-right: 19px;
      padding-left: 38px;
    }
  }
  &__sub-title {
    margin-top: -10px;
    font-size: $font-size-base * 1.5;
    letter-spacing: $letter-spacing-base * 1.25;
    white-space: nowrap;
    font-family: 'goudy_bookletter_1911';
    pointer-events: none;
    @include mq-up("tab") {
      margin-top: -23px;
      font-size: $font-size-base * 2.2;
      letter-spacing: $letter-spacing-base * 1;
    }
    @include mq-up("pc") {
      font-size: $font-size-base * 1.4375;
      margin-top: 0;
      padding-bottom: 65px;
    }
  }
  &__nav {
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 60px;
    z-index: map-get($layer, 'icon');
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    @include mq-up("pc") {
      bottom: 61.6%;
      right: 6%;
      width: initial;
    }
  }
  &__nav-list {
    cursor: pointer;
    position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    font-size: $font-size-base * 0.875;
    @include mq-up("tab") {
      font-size: $font-size-base;
    }
    &::before {
      transition: all $anime-time-short;
      display: block;
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 0%;
      border-bottom: 1px solid #fff;
    }
    &:hover:before {
      width: 100%;
    }
  }
  &__shabon {
    z-index: map-get($layer, 'top-icon');
    pointer-events: none;
  }
}
// =====================================
// コンセプト
// =====================================
.P_Recruit__concept {
  &__inner {
    display: flex;
    flex-direction: column;
    @include mq-up("pc") {
      flex-direction: row;
    }
  }
  &__inner-img {
    position: relative;
    width: 100%;
    height: 30vh;
    @include mq-up("tab") {
      height: 35vh;
      min-height: 358px;
    }
    @include mq-up("pc") {
      width: 50%;
      height: 50vh;
      padding-left: $space-side / 2;
    }
  }
  &__img-box {
    border-radius: $border-radius-little;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  &__inner-text {
    @include mq-up("pc") {
      width: 50%;
    }
  }
  &__inner-title {
    width: 100%;
    display: flex;
    height: 50px;
  }
  &__title-box {
    position: relative;
    width: 50%;
  }
  &__under-line {
    position: relative;
    width: 50%;
    &::before {
      content: '';
      position: absolute;
      top: 75%;
      right: 0;
      height: 1px;
      width: 125%;
      border-top: 2px dotted $color-border--thin;
    }
  }
  &__title {
    font-size: $font-size-base * 4;
    letter-spacing: 0px;
    font-family: 'Blankid';
    pointer-events: none;
    z-index: map-get($layer, 'icon');
    transform: rotate(-10deg);
    position: absolute;
    top: -40%;
    left: 8%;
    @include mq-up("pc") {
      top: -50%;
      font-size: $font-size-base * 4;
    }
  }
}
// =====================================
// スタッフ紹介
// =====================================
.P_Recruit__staff {
  position: relative;
  height: 75vh;
  margin-left: $space-side;
  margin-right: $space-side;
  margin-top: $space-vertical;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid $color-text;
  @include mq-up("tab") {
    margin-top: $space-section;
  }
  // バックイメージ
  &__back {
    @include abs-full;
  }
  // 閉じるボタン
  &__btn {
    @include abs(98,4);
    &.left {
      @include mq-up("tab") {  
        @include abs(2,4);
      }
    }
    &.right {
      @include mq-up("tab") {
        @include abs(98,4);
      }
    }
    display: block;
    font-size: $font-size-base * 2.5;
    pointer-events: auto;
    cursor: pointer;
    &:hover .C_box--btn{
      transform: rotate(180deg);
      transform-origin: center center;
    }
  }
  // フロントイメージ
  &__front {
    display: flex;
    flex-wrap: wrap;
    @include abs-full;
    pointer-events: none;
  }
  &__inner {
    width: 100%;
    height: 25%;
    position: relative;
    @include mq-up ("tab") {
      width: 50%;
      height: 50%;
    }
  }
  &__front-catch {
    text-align: center;
    font-size: $font-size-base * 1.68;
    white-space: nowrap;
    z-index: map-get($layer, 'icon');
    @include abs(50,50);
    color: #fff;
    pointer-events: none;
    @include mq-up("tab") {
      font-size: $font-size-base * 2.5;
    }
    @include mq-up("pc") {
      font-size: $font-size-base * 2.75;
    }
  }
  &__trigger {
    @include abs-full;
    pointer-events: auto;
    cursor: pointer;
  }
}
// =====================================
// 求人内容
// =====================================
.P_Recruit__job-info {
  @include mq-up("tab") {
    margin-right: $side-bar-size;
  }
  &__paper-wrap {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    @include mq-up("tab") {
      margin-bottom: 2vh;
    }
    @include mq-up("pc") {
      margin-bottom: 0;
    }
  }
  &__paper-box {
    width: fit-content;
    cursor: pointer;
    border: 1px solid #09203f;
    color:  #09203f;
    transition: .4s;
    &:hover {
      background-color: #09203f;
      color: #fff;
    }
  }
  &__paper-text {
    padding: 5px 20px;
    padding-bottom: 7px;
  }
  &__container {
    padding-left: $space-side;
    padding-right: $space-side;
    padding-top: $space-vertical;
    display: flex;
    flex-wrap: wrap;
    @include mq-up("tab") {
      justify-content: center;
    }
    @include mq-up("pc") {
      padding-top: $space-section;
    }
  }
  &__content {
    width: 100%;
    &.first {
      @include mq-up("tab") {
        width: calc(50% - #{$space-side_S / 2});
      }
      @include mq-up("pc") {
        width: calc(33.33% - #{$space-side_S * 2 / 3});
      }
    }
    &.second {
      margin-top: $space-vertical;
      @include mq-up("tab") {
        margin-top: 0;
        margin-left: $space-side_S;
        width: calc(50% - #{$space-side_S / 2});
      }
      @include mq-up("pc") {
        width: calc(33.33% - #{$space-side_S * 2 / 3});
      }
    }
    &.third {
      margin-top: $space-vertical;
      @include mq-up("tab") {
        width: calc(60% - #{$space-side_S / 2});
      }
      @include mq-up("pc") {
        margin-top: 0;
        margin-left: $space-side_S;
        width: calc(33.33% - #{$space-side_S * 2 / 3});
      }
    }
  }
  &__text1, &__text2 {
    text-align: center;
  }
  &__text1, &__text2, &__tel-text {
    color: #fff;
  }
  &__text1 {
    white-space: nowrap;
    font-size: $font-size-base * 1.4375;
    margin-top: -5px;
    @include mq-up("tab") {
      font-size: $font-size-base * 1.875;
      margin-top: -10px;
    }
  }
  &__text2 {
    font-size: $font-size-base;
  }
  &__wrap {
    display: flex;
    padding-top: 25px;
    padding-bottom: 33px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    @include mq-up("tab") {
      flex-wrap: nowrap;
    }
  }
  &__btn-text {
    font-size: $font-size-base * 1;
    position: relative;
    line-height: 300%;
    @include mq-up("tab") {
      font-size: $font-size-base * 1.3;
      padding-top: 1px;
      line-height: 100%;
    }
  }
  &__tel-text {
    font-size: $font-size-base * 1.875;
    margin-top: 15px;
    @include mq-up("tab") {
      margin-top: 0;
      margin-left: 80px;
    }
  }
}
.P_Recruit__form {
  &__wrap {
    padding: 0 $space-side;
    @include mq-up("tab") {
      padding: 0 15vw;
    }
    @include mq-up("pc") {
      padding: 0 25vw;
    }
  }
}
