.P_Staff-intro {
  &__left {
    position: absolute;
    left: 2%;
    top: 10%;
  }
  &__right {
    position: absolute;
    right: 2%;
    top: 10%;
  }
  &__title {
    text-align: center;
    padding-top: 2px;
    font-size: $font-size-base * 1.25;
    color: white;
  }
  &__content {
    font-size: $font-size-base * 1.2;
  }
  &__joined-date {
    text-align: center;
  }
}
