.P_Staff-intro {
  position: absolute;
  top: 10%;
  &.left {
    @include mq-up("tab") {
      left: 2%;
      top: 10%;
    }
  }
  &.right {
    @include mq-up("tab") {
      right: 2%;
      top: 10%;
    }
  }
  &__title {
    text-align: center;
    padding-top: 2px;
    font-size: $font-size-base * 1.125;
    color: white;
  }
  &__content {
    font-size: $font-size-base * 1.0625;
  }
  &__joined-date {
    text-align: center;
  }
}
.P_support {
  &__kv {
    width: 100vw;
    height: 70vh;
    background-color: grey;
    margin-top: 30vh;
    position: relative;
  }
}
