.P_support {
  &__kv {
    width: 100vw;
    height: 70vh;
    background-color: grey;
    margin-top: 30vh;
    position: relative;
  }
  &__page-title-en {
    font-family: 'DinPro';
    letter-spacing: 0.2em;
    font-size: $font-size-base * 2.5;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,calc( -100% - 5vh));
    text-shadow: 1px  1px 0px $color-text,
                -1px  1px 0px $color-text,
                1px -1px 0px $color-text,
                -1px -1px 0px $color-text,
                1px  0px 0px $color-text,
                0px  1px 0px $color-text,
                -1px  0px 0px $color-text,
                0px -1px 0px $color-text;  
      color: #fff;
  }
  &__font-deco {
    width: 20px;
    height: 20px;
    position: absolute;
    &.left {
      left: -6%;
      top: 5%;
    }
    &.right {
      right: -4%;
      bottom: 19%;
    }
  }
  &__page-title-ja {
    padding: 60px 16px;
    font-size: $font-size-base * 1.5;
    writing-mode: vertical-lr;
    background-color: #fff;
    border-radius: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border: $color-text 1px solid;
    &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 33px;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-text;
    }
  }
  &__wrap {
    margin-top: $space-section;
    margin-bottom: $space-section;
    margin-left: $space-side;
    margin-right: $space-side;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: relative;
    &.color {
      background-color: $color-background2;
      margin-right: 0;
      margin-left: 0;
    }
    @include mq-up("tab") {
      margin-top: $space-section_L;
      margin-bottom: $space-section_L;
    }
    @include mq-up("pc") {
      margin-left: $space-side_L;
      margin-right: $space-side_L;
    }
  }
  &__title-en {
    font-family: 'DinPro';
    position: relative;
    margin-top: $space-vertical;
    white-space: nowrap;
    text-align: center;
    &::before,
    &::after {
      content: '';
      height: 100%;
      width: 1px;
      background-color: $color-text;
      position: absolute;
      bottom: -5px;
    }
    &::before {
      left: -20px;
      transform: rotate(-45deg);
    }
    &::after {
      right: -20px;
      transform: rotate(45deg);
    }
  }
  &__title-ja {
    margin-top: $space-vertical;
    position: relative;
    text-align: center;
    font-size: $font-size-base * 1.875;
    @include mq-up("tab") {
      font-size: $font-size-base * 2.05;
    }
    &.mini {
      font-size: $font-size-base * 1.375;
      @include mq-up("tab") {
        font-size: $font-size-base * 1.55;
      }
    }
  }
  &__title-deco {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    @include mq-up("tab") {
      width: 50px;
      height: 50px;
    }
    &.left {
      left: -53px;
      top: 60%;
    }
    &.right {
      right: -53px;
      top: 40%;
    }
  }
  &__deco-line {
    position: absolute;
    width: 100%;
    height: 6px;
    stroke: #C2C2C2;
    stroke-dasharray: 3 6;
    stroke-linecap: round;
    bottom: -6px;
    left: 0;
    stroke-width: 2px;
  }
  &__text {
    text-align: center;
    margin-top: $space-section;
    &.no-margin {
      margin-top: 0;
    }
  }
  &__title-banner {
    border-radius: 50px;
    background-color: #636C7A;
    color: #fff;
    padding: 3px 40px;
    margin-top: $space-section_L;
    font-size: $font-size-base * 1.875;
    @include mq-up("tab") {
      font-size: $font-size-base * 1.6875;
    }
  }
  &__sub-title-ja {
    position: relative;
    font-size: $font-size-base * 1.5875;
    margin-top: $space-section;
    &.top {
      margin-top: 0;
    }
  }
  &__welcome {
    position: absolute;
    top: -67%;
    left: -5%;
    transform: rotate(-16deg);
    font-family: 'Blankid';
    font-size: $font-size-base * 1.375;
    @include mq-up("tab") {
      left: -15%;
    }
    @include mq-up("pc") {
      left: -20%;
      top: -44%;
    }
  }
  &__wave {
    stroke: $color-text;
    stroke-dasharray: 0 7;
    stroke-width: 2px;
    stroke-linecap: round;
    width: 100%;
    position: absolute;
    bottom: -30%;
    height: 15px;
    overflow: hidden;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, 100%);
  }
  &__table {
    width: calc(100% - $space-side_L);
    margin-top: $space-section;
    margin-bottom: $space-section;
    line-height: 200%;
    border: 1px double $color-text;
    text-align: center;
    z-index: 1;
    @include mq-up("tab") {
      width: 60%;
    }
    @include mq-up("pc") {
      width: 45%;
    }
  }
  &__head {
    background-color: $color-text;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    font-size: $font-size-base * 0.875;
    @include mq-up("tab") {
      font-size: $font-size-base;
    }
  }
  &__data {
    border: 1px solid $color-text;
    background-color: #fff;
  }
  &__cloud-deco {
    width: 100px;
    height: 100px;
    position: absolute;
    &.cloud1 {
      top: 67%;
      left: 52%;
      width: 45vw;
      height: 45vh;
      @include mq-up("pc") {
        top: 84%;
        left: 73%;
        width: 22vw;
        height: 22vh;
      }
    }
    &.cloud2 {
      top: -37%;
      left: 74%;
      width: 21vw;
      height: 21vh;
      @include mq-up("pc") {
        top: -24%;
        left: 19%;
        width: 11vw;
        height: 13vh;
      }
    }
    &.cloud3 {
      top: -20%;
      left: 4%;
      width: 27vw;
      height: 27vh;
      @include mq-up("pc") {
        top: -14%;
        left: 4%;
        width: 14vw;
        height: 14vh;
      }
    }
    &.cloud4 {
      top: -6%;
      left: 1%;
      width: 24vw;
      height: 24vh;
      @include mq-up("pc") {
        top: 8%;
        left: 20%;
        width: 12vw;
        height: 12vh;
      }
    }
    &.cloud5 {
      width: 36vw;
      height: 36vh;
      top: 82%;
      right: 1%;
      @include mq-up("pc") {
        width: 23vw;
        height: 23vh;
        top: 41%;
        right: 8%;
      }
    }
  }
  &__symbols-deco {
    width: 15vw;
    height: 15vh;
    position: absolute;
    @include mq-up("pc") {
      width: 20vw;
      height: 20vh;
    }
    &.symbols1 {
      left: 8%;
      top: 0%;
      @include mq-up("pc") {
        left: 0%;
        top: 0%;
      }
    }
    &.symbols2 {
      bottom: -1%;
      right: 8%;
      @include mq-up("pc") {
        bottom: 2%;
        right: 0%;
      }
    }
  }
  &__title-S {
    text-align: center;
  }
  &__arrow-down {
    width: 40px;
    height: 40px;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    position: relative;
  }
}
