<div id="JS_smoothScroll_target-0" style="top:0;position:absolute;"></div>
<section class="P_for-admission">
  <div class="P_for-admission__kv" id="JS_scroll-to-top_trigger-0">
    <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/for-admission/kv_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/for-admission/kv_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/for-admission/kv_pc.jpg" alt="入園にむけて トップ画像" class="C_image">
    <div class="P_for-admission__page-title-en">
      ADMISSION
      <div class="P_for-admission__font-deco left">
        <div class="C_deco__text-shine3"></div>
      </div>
      <div class="P_for-admission__font-deco right">
        <div class="C_deco__text-shine4"></div>
      </div>
    </div>
    <div class="P_for-admission__page-title-ja">
      入園に向けて
    </div>
  </div>
  <div class="P_for-admission__wrap" id="movie">
    <div class="P_for-admission__container first">
      <div class="P_for-admission__content-title">
        入園に向けて　幼児編
        <div class="P_for-admission__deco title-deco">
          <div class="C_deco__jagged1"></div>
        </div>
      </div>
      <div class="P_for-admission__content-img">
        <div class="P_for-admission__deco img-deco">
          <div class="C_deco__dots1"></div>
        </div>
      </div>
    </div>
    <div class="P_for-admission__container">
      <div class="P_for-admission__content-title">
        入園に向けて　乳児編
        <div class="P_for-admission__deco title-deco">
          <div class="C_deco__babble1"></div>
        </div>
      </div>
      <div class="P_for-admission__content-img">
        <div class="P_for-admission__deco img-deco">
          <div class="C_deco__triangle1"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/side-bar_noBack',{color: ''}%>
