<header>
  <div class="L_header isMoveTop" id="JS_scroll-change_target-H0">
    <div class="L_header__inner">
      <h1 class="L_header__logo">
        <div class="L_header__logo-image<%= name[:logo] %> isMoveTop" id="JS_scroll-change_target-H1"></div>
        <%= link_to "", '/' + name[:en], class:"U_link"%>
      </h1>
      <%#-- メニューリストPC --%>
      <nav class="L_header__pc-nav">
        <ul class="L_header__pc-nav-items pc-only">
          <% header[:lists].each do |list| %>
            <li class="L_header__pc-nav-item">
              <%= link_to list[:title], list[:link], class: 'L_header__pc-nav-text' %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
    <%#-- メニューボタン --%>
    <button class="C_Btn--hamberger tab-sp-only" id="JS_menu-open_trigger">
      <span class="C_Btn--hamberger__border isMoveTop" id="JS_menu-open_target-btn-0"></span>
      <span class="C_Btn--hamberger__border isMoveTop" id="JS_menu-open_target-btn-1"></span>
      <span class="C_Btn--hamberger__border isMoveTop" id="JS_menu-open_target-btn-2"></span>
    </button>
  <%#-- メニューリストSP --%>
  <nav class="L_header__tab-sp-nav">
    <ul class="L_header__tab-sp-nav-items isMoveTop" id="JS_menu-open_target">
      <% header[:lists].each do |list| %>
        <li class="L_header__tab-sp-nav-item">
          <%= link_to list[:title], list[:link], class: 'L_header__tab-sp-nav-text' %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
