<div class="L_back-para">
  <div class="C_box__side-bar-inner pc-tab-only"></div>
  <section class="PageTitle">
    <div id="JS_smoothScroll_target-0"></div>
    <div class="L_pageTitle__headding">
      <div class="">
        <p class="C_text__title-en">
          Site Policy
        </p>
        <h1 class="C_text__title-ja">
          サイトポリシー
        </h1>
      </div>
    </div>
  </section>
</div>
<section class="PageKeyVisual" id="JS_scroll-to-top_trigger-0">
  <div class="L_kv-half-para">
    <picture>
      <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/contact/kv_pc.webp" media="(min-width: 1025px)" type="image/webp" class="C_image__para"/>
      <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/contact/kv_tab.webp" media="(min-width: 600px)" type="image/webp" class="C_image__para"/>
      <source srcset="https://dazq5oer2h0ku.cloudfront.net/images/contact/kv_sp.webp 1x, https://dazq5oer2h0ku.cloudfront.net/images/contact/kv_sp2.webp 2x" type="image/webp" class="C_image__para"/>
      <img src="https://dazq5oer2h0ku.cloudfront.net/images/contact/kv_alt.jpg" alt="お問い合わせ 桜" class="C_image__para"/>
    </picture>
  </div>
</section>
<div class="L_back-para">
  <div class="C_box__side-bar-inner pc-tab-only"></div>
  <section class="Contact">
    <div class="L_wrap title bottom">
      <ul class="U_list-style">
        <li class="C_text__sub-title left">
          はじめに
          <div class="C_text__sentence">
            七彩学舎のウェブサイト（以下、「当サイト」といいます）は、社会福祉法人七彩学舎（以下、「当法人」といいます）が運営しています。 当サイトのご利用に際しては、以下のご利用条件をお読みいただき、これらの条件にご同意の上ご利用ください。<br>
            なお、サイトポリシーおよび関連する規定類は、予告なく内容を変更させていただく場合がございますので、あらかじめご了承ください。
          </div>
        </li>
        <li class="C_text__sub-title left">
          免責事項
          <div class="C_text__sentence">
            当法人は、当サイトに掲載する情報に関して、もしくは当サイトを利用したことでトラブルや損失、損害が発生しても、なんら責任を負うものではありません。<br>
            当法人は、当サイトの構成、利用条件、URLおよびコンテンツなどを、予告なしに変更または削除する場合があります。<br>
            また、当サイトの運営を中断または中止させていただくことがあります。あらかじめご了承ください。<br>
            当法人は当利用規約を予告なしに変更することがございます。あらかじめご了承ください。
          </div>
        </li>
        <li class="C_text__sub-title left">
            著作権
          <div class="C_text__sentence">
            当サイトに掲載している個々の情報（文章、写真、イラスト等）は、著作権の対象となっています。<br>
            また、当サイト全体も編集著作物として著作権の対象となっており、ともに著作権法及び国際条約により保護されています。<br>
            当サイトの内容の全部又は一部について、私的使用又は引用等著作権法上認められた行為として、当サイトからの出典である旨を明示することで、 転載、引用、複製を行うことができますが、掲載されている個々の情報につき、「無断転載を禁じます」等の著作権についての注記があるものについてはそれに従って下さい。<br>
            当サイトの内容の全部又は一部について、当法人に無断で改変することはできません。
          </div>
        </li>
        <li class="C_text__sub-title left">
          肖像権
          <div class="C_text__sentence">
            当サイトに掲載している肖像写真等につきましては、肖像権により法的に保護されており、その肖像権は本人が保有しております。<br>
            転載には、本人に個別の承諾を得る必要があります。肖像写真等の画像等を使用する場合は、お問い合わせフォームよりご連絡ください。<br>
            なお、当法人に在籍していない人物等の肖像写真については、当サイトに掲載することにのみ許諾を受けているもので、 転載のお申し込みについては、当法人ではお受けできませんのでご了承下さい。
          </div>
        </li>
        <li class="C_text__sub-title left">
          禁止事項について
          <div class="C_text__sentence">
            当サイトのご利用に際し、以下の行為を禁止いたします。
            <ul class="U_list-style in">
              <li>当サイトの運営を妨げる行為、および支障をきたす行為</li>
              <li>ほかの利用者、第三者、もしくは当法人に迷惑、不利益、損害を与える行為、またはその恐れのある行為</li>
              <li>ほかの利用者、第三者、もしくは当法人の財産、プライバシーなどを侵害する行為、またはその恐れのある行為</li>
              <li>公序良俗に反する行為、またはその恐れのある行為</li>
              <li>法律、法令もしくは条令に違反する行為、またはその恐れのある行為</li>
              <li>そのほか、当法人が不適切と判断する行為</li>
            </ul>
          </div>
        </li>
        <li class="C_text__sub-title left">
          リンク
          <div class="C_text__sentence">
            当サイトからのリンクに関し、リンク先のウェブサイトは、それぞれの運営者の責任によって管理されるものであり、その内容に関してなんら保証はいたしません。<br>
            また、それらを利用した際にいかなるトラブルや損害が発生しても責任を負いません。<br>
            リンクは、リンク先のウェブサイトおよびその内容を当法人が推奨することを意味するものではなく、また、当法人とリンク先のウェブサイトとの間に、 特別な関係を有することを意味するものでもありません。
          </div>
        </li>
        <li class="C_text__sub-title left">
          アクセスログの解析
          <div class="C_text__sentence">
            当社はウェブサーバを通じてIPアドレス等の非個人識別情報を収集しております。<br>
            これらの情報は、ウェブサイトの閲覧をより効率的にするなど、サイトの改善目的のため、またはサーバに問題が発生した場合の分析に使用されます。
          </div>
        </li>
        <li class="C_text__sub-title left">
          個人情報の取り扱いについて
          <div class="C_text__sentence">
            当サイト入力フォームおよびメールでご連絡頂きましたお客様の個人情報につきましては、厳重に管理を行っております。 法令などに基づき正規の手続きによって司法捜査機関による開示要求が行われた場合を除き、第三者に開示もしくは提供することはございません。
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>
<%= render 'shared/side-bar',{color: ''}%>
