<div class="L_back-para">
  <div class="C_box__side-bar-inner pc-tab-only"></div>
  <section class="PageTitle">
    <div id="JS_smoothScroll_target-0"></div>
    <div class="L_pageTitle__headding">
      <div class="">
        <p class="C_text__title-en">
          Privacy
        </p>
        <h1 class="C_text__title-ja">
          個人情報の保護
        </h1>
      </div>
    </div>
  </section>
</div>
<section class="PageKeyVisual" id="JS_scroll-to-top_trigger-0">
  <div class="L_kv-half-para">
    <div class="C_image__contact__kv"></div>
  </div>
</section>
<div class="L_back-para">
  <div class="C_box__side-bar-inner pc-tab-only"></div>
  <section class="Contact">
    <div class="L_wrap title bottom">
      <ul class="U_list-style">
        <li class="C_text__sub-title left">
          はじめに
          <div class="C_text__sentence">
            七彩学<span class="C_text__braces">舎</span>（以下当園といいます<span class="C_text__braces">）</span>は、プライバシー・個人情<span class="C_text__braces">報</span>（以下<span class="C_text__braces">、</span>「個人情報<span class="C_text__braces">」</span>といいます<span class="C_text__braces">）</span>の保護を重要な課題と考え、ネットワーク社会における責務を果たしてまいります。
          </div>
        </li>
        <li class="C_text__sub-title left">
          個人情報の定義について
          <div class="C_text__sentence">
            本ポリシーにいう個人情報とは、本人の氏名、保護者氏名、生年月日、電話番号、住所、保護者の勤務先等で、特定の個人を識別することのできる情報をいいます。
          </div>
        </li>
        <li class="C_text__sub-title left">
            個人情報の利用について
          <div class="C_text__sentence">
            当園では、個人情報を、園児・児童等に対する保育・教育的効果を高めるため、園児・児童等の適切な管理をするため、園児・児童等の健康管理のため、必要時のご連絡のため、その他正当な目的のために使用します。<br>
            当園は個人情報を、上記目的以外には利用いたしません。ただし、次の場合は除きます。
            <ul class="U_list-style in">
              <li>保護者の同意がある場合</li>
              <li>法令に基づく場合</li>
              <li>人の生命、身体又は財産の保護のために必要がある場合であって、保護者の同意を得ることが困難であるとき</li>
              <li>公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、保護者の同意を得ることが困難であるとき</li>
              <li>国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、 保護者の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
            </ul>
          </div>
        </li>
        <li class="C_text__sub-title left">
          個人情報の第三者への非開示
          <div class="C_text__sentence">
            当園は、第三者へ個人情報の開示はいたしません。但し、次の場合には、第三者への開示をすることがあります。
            <ul class="U_list-style in">
              <li>保護者の同意がある場合</li>
              <li>統計的なデータなど、本人の識別ができない状態での開示・提供をする場合</li>
              <li>法令に基づく場合</li>
              <li>人の生命、身体又は財産の保護のために必要がある場合であって、保護者の同意を得ることが困難であるとき</li>
              <li>公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、保護者の同意を得ることが困難であるとき</li>
              <li>国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合で、保護者の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
            </ul>
          </div>
        </li>
        <li class="C_text__sub-title left">
          個人情報の委託
          <div class="C_text__sentence">
            当園は、園医等、業務の委託先に情報を提供することがあります。この場合、必要な限度で個人情報を提供し、契約等の義務付けによりその委託先からの漏えい、再提供の防止を図ります。
          </div>
        </li>
        <li class="C_text__sub-title left">
          個人情報の訂正等について
          <div class="C_text__sentence">
            既に登録した個人情報の開示・訂正・利用停<span class="C_text__braces">止</span>（以下、総称して「訂正等」といいます。<span class="C_text__braces">）</span>を希望される場合は、末尾の当園連絡先までご連絡下さい。その際、訂正等手続についてご案内いたします。 なお、訂正等にあたっては、ご本人を確認する証明書などが必要となりますので、予めご了承ください。
          </div>
        </li>
        <li class="C_text__sub-title left">
          リンク先のサイトに関して
          <div class="C_text__sentence">
            当園のウェブサイトからリンクされている他のウェブサイトにおいては、個人情報の安全確保については、当園は責任を負いかねます。各リンク先においては、個人情報の取り扱いに関する規程内容をご自身でご確認いただき、安全を確保されるようお勧めいたします。
          </div>
        </li>
        <li class="C_text__sub-title left">
          関係法令及びその他の規範の遵守について
          <div class="C_text__sentence">
            当園では、ご提供いただいた個人情報に関して適用される法令及びその他の規範を遵守いたします。 また、日本国の従うべき法令その他の規範の変更にともない、本ポリシーを改定することがあります。<br>
            その際は、当園ウェブサイト上、電子メール又は書面などで直ちにご案内いたします。<br>
            なお、本ページの内容は、ウェブへの掲載日以降適用するものとします。
          </div>
        </li>
        <li class="C_text__sub-title left">
            お問い合わせの窓口について
          <div class="C_text__sentence">
            当園の個人情報の取り扱いに関するご質問・ご相談は、下記までお願いいたします。<br>
          </div>
          <div class="C_text__sentence in">
            社会福祉法人　七彩学舎<br>
            TEL: 072-427-8969　FAX: 072-427-8969<br>
            〒597-0033　大阪府貝塚市半田1-3-6<br>
            E-MAIL:parti@dokyoji.or.jp
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>
<%= render 'shared/side-bar',{color: ''}%>
