<section class="PageTitle" id="JS_smoothScroll_target-0">
  <div id="JS_scroll-to-top_trigger-0" style="position:absolute;top:0;height:100vh;width:100vw;"></div>

</section>
<%= render 'shared/side-bar_noBack',{color: ''}%>
