<div class="C_icon__to-top pc-tab-only" id="JS_smoothScroll_trigger-0">
  <div class="C_icon__to-top__container A_isHide" id="JS_scroll-to-top_target">
    <%= link_to "", '#', class:"U_link"%>
    <div class="C_icon__to-top__border-box">
      <div class="C_icon__to-top__border noBack"></div>
    </div>
    <p class="C_icon__to-top__text noBack">PAGE TOP</p>
  </div>
</div>
