<div class="C_box__side-bar-back color-<%= color %> pc-only"></div>
<div class="C_icon__to-top" id="JS_smoothScroll_trigger-0">
  <div class="C_icon__to-top__container A_isHide" id="JS_scroll-to-top_target">
    <%= link_to "", '#', class:"U_link"%>
    <div class="C_icon__to-top__border-box">
      <div class="C_icon__to-top__border"></div>
    </div>
    <p class="C_icon__to-top__text">PAGE TOP</p>
  </div>
</div>
