<section class="PageTitle" id="JS_smoothScroll_target-0">
  <div id="JS_scroll-to-top_trigger-0" style="position:absolute;top:0;height:100vh;width:100vw;"></div>
  <div class="L_pageTitle__headding">
    <div class="P_vision__box">
      <p class="C_text__title-en">
        Vision
      </p>
      <h1 class="C_text__title-ja">
        子どもへの願い
      </h1>
    </div>
    <div class="P_Nanairo-vision__nav-flame">
      <%= link_to '遊学優和', '#', class: 'P_Nanairo-vision__nav', id: 'JS_smoothScroll_trigger-1'%>
    </div>
    <div class="P_Nanairo-vision__flame play bit">
      <div class="P_Nanairo-vision__circle-play bit" id='JS_smoothScroll_trigger-2'></div>
      <span class="P_Nanairo-vision__circle-bit-text">遊</span>
    </div>
    <div class="P_Nanairo-vision__flame kind bit">
      <div class="P_Nanairo-vision__circle-kind bit" id='JS_smoothScroll_trigger-3'></div>
      <span class="P_Nanairo-vision__circle-bit-text">優</span>
    </div>
    <div class="P_Nanairo-vision__flame friend bit">
      <div class="P_Nanairo-vision__circle-friend bit" id='JS_smoothScroll_trigger-4'></div>
      <span class="P_Nanairo-vision__circle-bit-text">友</span>
    </div>
  </div>
  <div class="P_vision__sky">
    <div id='JS_smoothScroll_target-1'></div>
    <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/vision/sky_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/vision/sky_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/vision/sky_pc.jpg" alt="理念 イメージ画像(空)" class="C_image">
    <h1 class="P_vision__top-title">You</h1>
  </div>
  <div class="P_vision__intro__wrap">
    <div class="P_vision__intro__layout">
      <div class="P_vision__intro__title-box">
        <div class="P_vision__intro__title">大切にしたい３つの心</div>
        <svg class="P_vision__intro__deco-line left pc-tab-only" x="0px" y="0px" width="20%" height="100%">
          <line x1="50%" y1="1%" x2="50%" y2="100%"/>
        </svg>
        <svg class="P_vision__intro__deco-line right pc-tab-only" x="0px" y="0px" width="20%" height="100%">
          <line x1="50%" y1="1%" x2="50%" y2="100%"/>
        </svg>
        <svg class="P_vision__intro__deco-line top sp-only" x="0px" y="0px" width="100%" height="20%">
          <line x1="1%" y1="50%" x2="100%" y2="50%"/>
        </svg>
        <svg class="P_vision__intro__deco-line bottom sp-only" x="0px" y="0px" width="100%" height="20%">
          <line x1="1%" y1="50%" x2="100%" y2="50%"/>
        </svg>
      </div>
      <div class="P_vision__intro__circle-box">
        <div class="P_vision__intro__circle friend" id='JS_smoothScroll_trigger-5'>
          <div class="P_vision__intro__circle-text-ja">友</div>
          <div class="P_vision__intro__circle-text-en">you</div>
          <div class="P_vision__intro__circle-line friend"></div>
        </div>
        <div class="P_vision__intro__circle play" id='JS_smoothScroll_trigger-6'>
          <div class="P_vision__intro__circle-text-ja">遊</div>
          <div class="P_vision__intro__circle-text-en">you</div>
          <div class="P_vision__intro__circle-line play"></div>
        </div>
        <div class="P_vision__intro__circle kind" id='JS_smoothScroll_trigger-7'>
          <div class="P_vision__intro__circle-text-ja">優</div>
          <div class="P_vision__intro__circle-text-en">you</div>
          <div class="P_vision__intro__circle-line kind"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="P_vision__content__wrap">
    <div class="P_vision__content__text-container">
      <div id='JS_smoothScroll_target-4'></div>
      <div id='JS_smoothScroll_target-5'></div>
      <div class="P_vision__content__text-box-sub left">
        <h1 class="P_vision__content__title-en tab-pc left">FRIEND</h1>
        <h1 class="P_vision__content__title-en sp left sp-only">FRIEND</h1>
      </div>
      <div class="P_vision__content__text-box-main right">
        <h1 class="P_vision__content__title-ja">友</h1>
        <h2 class="P_vision__content__sub-title friend">友達を大切にする心</h2>
        <div class="P_vision__content__text">
          乳児期に丁寧に保育され、主体的に自分のことができるようになった子ども達は、幼児になり、集団の中で友達を作り、仲間関係を作っていきます。<br>
          小学生になり、中学生になっても、友達がたくさんできて、クラスに溶け込みみんなと仲良く協調しながら学生生活を楽しく過ごせるようになるでしょう。育んできた友達づくりの経験、友達との関係は、大人になって社会生活を行う基本として人間関係の基礎として活かされるでしょう。
        </div>
      </div>
    </div>
    <div class="P_vision__content__img-box">
      <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/vision/friend_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/vision/friend_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/vision/friend_pc.jpg" alt="理念(友達)" class="C_image">
    </div>
    <div class="P_vision__content__text-container">
      <svg class="P_vision__content__back-line" x="0px" y="0px" width="100%" height="100%">
        <line x1="1%" y1="99%" x2="100%" y2="1%"/>
      </svg>
      <div id='JS_smoothScroll_target-2'></div>
      <div id='JS_smoothScroll_target-6'></div>
      <div class="P_vision__content__text-box-sub right">
        <h1 class="P_vision__content__title-en tab-pc right">PLAY</h1>
        <h1 class="P_vision__content__title-en sp right sp-only">PLAY</h1>
      </div>
      <div class="P_vision__content__text-box-main left">
        <h1 class="P_vision__content__title-ja left">遊</h1>
        <h2 class="P_vision__content__sub-title left play">遊びを大切にする心</h2>
        <div class="P_vision__content__text left">
          一日の生活の中で、子ども達にとって遊びは、成長、発達するための手段であり、大人になるための訓練であり、準備です。その遊びが、いつも自由にできる環境があってこそ、自立が促され、自主的に遊べる子どもへと成長していきます。<br>
          ままごとコーナー・積み木コーナー・絵本コーナー・ラキューコーナーなど、室内に各コーナーを作り、自由に遊びが広げられるように、環境設定をしています。友達同士役割を決めて遊ぶごっこ遊びを楽しんだり、想像力、観察力を養う構成遊びでは、積み木を使い、すばらしいものを作り出しています。また指先を使うビーズつなぎや、ラキューなども取り入れ、子ども達の体と心の発達を促しています。
        </div>
      </div>
    </div>
    <div class="P_vision__content__img-box right">
      <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/vision/play_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/vision/play_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/vision/play_pc.jpg" alt="理念(遊び)" class="C_image">
    </div>
    <div class="P_vision__content__text-container">
      <svg class="P_vision__content__back-line2" x="0px" y="0px" width="100%" height="100%">
        <line x1="1%" y1="99%" x2="100%" y2="1%"/>
      </svg>
      <div id='JS_smoothScroll_target-3'></div>
      <div id='JS_smoothScroll_target-7'></div>
      <div class="P_vision__content__text-box-sub left">
        <h1 class="P_vision__content__title-en tab-pc left">KINDNESS</h1>
        <h1 class="P_vision__content__title-en sp left sp-only">KINDNESS</h1>
      </div>
      <div class="P_vision__content__text-box-main right">
        <h1 class="P_vision__content__title-ja">優</h1>
        <h2 class="P_vision__content__sub-title kind">優しさを大切にする心</h2>
        <div class="P_vision__content__text">
          こども園という集団生活の中で、子ども一人一人に、大人が丁寧に関わっていくということが、乳児期の子どもの情緒の安定や習慣の形成などにおいて、とても大切なことです。<br>
          一人の保育教諭が少人数の子どもを確実に把握することにより、子どもの発達段階や、心理状況などをよく把握し、丁寧に接する担当制保育を行っています。子供たちがこども園にいながら、家庭生活により近い環境で、安心して友達と遊び、学び、生活できるそれが優しさと思いやりを大きく育てます。
        </div>
      </div>
    </div>
    <div class="P_vision__content__img-box">
      <img srcset="http://dazq5oer2h0ku.cloudfront.net/images/vision/kind_sp.jpg 600w, http://dazq5oer2h0ku.cloudfront.net/images/vision/kind_tab.jpg 1025w, http://dazq5oer2h0ku.cloudfront.net/images/vision/kind_pc.jpg" alt="理念(優しさ)" class="C_image">
    </div>
  </div>
</section>
<%= render 'shared/side-bar_noBack',{color: ''}%>
