<%= render partial: 'layouts/header' %>
<section>
  <div class="top_image_box">
    <div class="top_image slide1 order1"></div>
    <div class="top_image slide2 order1"></div>
    <div class="top_image slide3 order1"></div>
    <div class="top_image slide4 order1"></div>
    <div class="top_image slide5 order1"></div>
    <div class="text">
      <p class="sub_title">Educational Principle</p>
      <p class="title">遊　学　優　和</p>
    </div>
    <div class="mouse js-hide">
        <span></span>
    </div>
    <div class="change-slide-container right js-hide">
      <button class="js-click-slide-right">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>
    <div class="change-slide-container left js-hide">
      <button class="js-click-slide-left">
        <i class="fas fa-chevron-left"></i>
      </button>
    </div>
  </div>
</section>
<section>
<div class="preschool-image-container">

</div>
</section>

<div class="row content">

<p class="a1">aa  Parti</p>
<p class="a2">Parti</p>
<p class="a3">Parti</p>
<p class="a4">Parti</p>
<p class="a5">Parti</p>
<p class="a6">Parti</p>
 <section class="body-section">
 <h1>
 aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
 </h1>
 </section>

<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//s.w.org">
<link rel="alternate" type="application/rss+xml" title="社会福祉法人　七彩学舎 » フィード" href="https://www.dokyoji.or.jp/feed/">
<link rel="alternate" type="application/rss+xml" title="社会福祉法人　七彩学舎 » コメントフィード" href="https://www.dokyoji.or.jp/comments/feed/">
<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
