<div class="TopImage__container__change-slide--right js_scroll_slideButton_invisible_target">
  <button class="TopImage__container__change-slide__button js_img-change_slide-right_trigger">
    <i class="TopImage__container__change-slide__icon fas fa-chevron-right"></i>
  </button>
</div>
<div class="TopImage__container__change-slide--left js_scroll_slide-button_invisible_target">
  <button class="TopImage__container__change-slide__button js_img-change_slide-left_trigger">
    <i class="TopImage__container___change-side__icon fas fa-chevron-left"></i>
  </button>
</div>
