<%= render partial: 'shared/header_parti' %>
<section class="P_about__intro">
  <div id="JS_smoothScroll_target-0"></div>
  <div id="JS_scroll-to-top_trigger-0" style="position:absolute;height:100vh;"></div>
  <p class="P_about__intro__name1">Parti</p>
  <p class="P_about__intro__name2">DOKYOJI</p>
  <h1 class="P_about__intro__title">
    園名「パルティ」に<br>
    込められた思い
    <svg class="P_about__intro__line-ver left" x="0px" y="0px" >
      <line x1="50%" y1="2%" x2="50%" y2="100%"/>
    </svg>
    <svg class="P_about__intro__line-ver right" x="0px" y="0px" >
      <line x1="50%" y1="2%" x2="50%" y2="100%"/>
    </svg>
    <p class="P_about__intro__back-name">Parti</p>
  </h1>
  <p class="P_about__intro__text">
    園名である「パルティ道教寺」のパルティは、<br class="pc-tab-only">フランス語のPartie（パルティール＝出発する・始まる・スタートを切るの意味）から<br class="pc-tab-only">Parti（パルティ）と発音しやすくシンプルにしたものです。<br class="pc-tab-only">これから始まる輝かしい、未来ある子どもたちの<br class="tab-only">人生のスタート時点にふさわしい環境を整え、<br class="pc-tab-only">集団生活での楽しさと協調性の楽しさを学ぶ「人生の門出」としたく、<br class="pc-tab-only">またその責任の重さを日々忘れずに<br class="tab-only">子どもたちに接していこうという思いから名づけられたものです。
  </p>
  <div id="JS_shabon_target-0" style="width:100%;height:100%;position:absolute;top:0;left:0;overflow:hidden;"></div>
  <div class="P_about__nav__title">OTHER<br class="sp-only"><span class="pc-tab-only"> </span>EDUCATIONAL<br class="sp-only"><span class="pc-tab-only"> </span>PRINCIPLES</div>
  <ul class="P_about__nav__container">
    <li class="P_about__nav__list first">
      <div class="P_about__nav__list-title-ja">遊び・学び</div>
      <div class="P_about__nav__list-title-en">PLAY・LEARN</div>
    </li>
    <li class="P_about__nav__list">
      <div class="P_about__nav__list-title-ja">礼儀</div>
      <div class="P_about__nav__list-title-en">COURTESY</div>
    </li>
    <li class="P_about__nav__list">
      <div class="P_about__nav__list-title-ja">環境</div>
      <div class="P_about__nav__list-title-en">ENVIRONMENT</div>
    </li>
    <li class="P_about__nav__list">
      <div class="P_about__nav__list-title-ja">表現</div>
      <div class="P_about__nav__list-title-en">EXPRESSION</div>
    </li>
    <li class="P_about__nav__list">
      <div class="P_about__nav__list-title-ja">一緒に</div>
      <div class="P_about__nav__list-title-en">TOGETHER</div>
    </li>
  </ul>
</section>
<section class="P_about__map-nav">
  <div class="P_about__wave-trim">
    <svg viewBox="0 0 1500 50" class="P_about__wave">
      <path d="M0,0 v25 q10,10 20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 v-25 Z" fill="#F4F4F2"></path>
    </svg>
  </div>
  <div class="P_about__map-nav__title">園内マップ</div>
  <div class="P_about__map-nav__text">数字をクリックすると、<br class="sp-only">各部屋の写真をご覧いただけます。</div>
  <div class="P_about__map-nav__container">
    <ul class="P_about__map-nav__lists">
      <li class="P_about__map-nav__list">
        <div class="P_about__map-nav__list-box" id='JS_imgSlide_trigger-0'>
          <div class="P_about__map-nav__list-number-box">
            <span class="P_about__map-nav__list-number">1</span>
          </div>
          <div class="P_about__map-nav__list-title" id='JS_imgSlide_title-0'>2階保育室1</div>
        </div>
      </li>
      <li class="P_about__map-nav__list">
        <div class="P_about__map-nav__list-box" id='JS_imgSlide_trigger-1'>
          <div class="P_about__map-nav__list-number-box">
            <span class="P_about__map-nav__list-number">2</span>
          </div>
          <div class="P_about__map-nav__list-title" id='JS_imgSlide_title-1'>2階保育室2</div>
        </div>
      </li>
      <li class="P_about__map-nav__list">
        <div class="P_about__map-nav__list-box" id='JS_imgSlide_trigger-2'>
          <div class="P_about__map-nav__list-number-box">
            <span class="P_about__map-nav__list-number">3</span>
          </div>
          <div class="P_about__map-nav__list-title" id='JS_imgSlide_title-2'>2階保育室3</div>
        </div>
      </li>
      <li class="P_about__map-nav__list">
        <div class="P_about__map-nav__list-box" id='JS_imgSlide_trigger-3'>
          <div class="P_about__map-nav__list-number-box">
            <span class="P_about__map-nav__list-number">4</span>
          </div>
          <div class="P_about__map-nav__list-title" id='JS_imgSlide_title-3'>2階保育室4</div>
        </div>
      </li>
      <li class="P_about__map-nav__list">
        <div class="P_about__map-nav__list-box" id='JS_imgSlide_trigger-4'>
          <div class="P_about__map-nav__list-number-box">
            <span class="P_about__map-nav__list-number">5</span>
          </div>
          <div class="P_about__map-nav__list-title" id='JS_imgSlide_title-4'>2階保育室5</div>
        </div>
      </li>
      <li class="P_about__map-nav__list">
        <div class="P_about__map-nav__list-box" id='JS_imgSlide_trigger-5'>
          <div class="P_about__map-nav__list-number-box">
            <span class="P_about__map-nav__list-number">6</span>
          </div>
          <div class="P_about__map-nav__list-title" id='JS_imgSlide_title-5'>2階保育室6</div>
        </div>
      </li>
      <li class="P_about__map-nav__list">
        <div class="P_about__map-nav__list-box" id='JS_imgSlide_trigger-6'>
          <div class="P_about__map-nav__list-number-box">
            <span class="P_about__map-nav__list-number">7</span>
          </div>
          <div class="P_about__map-nav__list-title" id='JS_imgSlide_title-6'>2階保育室7</div>
        </div>
      </li>
      <li class="P_about__map-nav__list">
        <div class="P_about__map-nav__list-box" id='JS_imgSlide_trigger-7'>
          <div class="P_about__map-nav__list-number-box">
            <span class="P_about__map-nav__list-number">8</span>
          </div>
          <div class="P_about__map-nav__list-title" id='JS_imgSlide_title-7'>2階保育室8</div>
        </div>
      </li>
      <li class="P_about__map-nav__list">
        <div class="P_about__map-nav__list-box" id='JS_imgSlide_trigger-8'>
          <div class="P_about__map-nav__list-number-box">
            <span class="P_about__map-nav__list-number">9</span>
          </div>
          <div class="P_about__map-nav__list-title" id='JS_imgSlide_title-8'>2階保育室9</div>
        </div>
      </li>
      <li class="P_about__map-nav__list">
        <div class="P_about__map-nav__list-box" id='JS_imgSlide_trigger-9'>
          <div class="P_about__map-nav__list-number-box">
            <span class="P_about__map-nav__list-number">10</span></div>
          <div class="P_about__map-nav__list-title" id='JS_imgSlide_title-9'>2階保育室10</div>
        </div>
      </li>
      <li class="P_about__map-nav__list">
        <div class="P_about__map-nav__list-box" id='JS_imgSlide_trigger-10'>
          <div class="P_about__map-nav__list-number-box">
            <span class="P_about__map-nav__list-number">11</span></div>
          <div class="P_about__map-nav__list-title" id='JS_imgSlide_title-10'>2階保育室11</div>
        </div>
      </li>
      <li class="P_about__map-nav__list">
        <div class="P_about__map-nav__list-box" id='JS_imgSlide_trigger-11'>
          <div class="P_about__map-nav__list-number-box">
            <span class="P_about__map-nav__list-number">12</span></div>
          <div class="P_about__map-nav__list-title" id='JS_imgSlide_title-11'>2階保育室12</div>
        </div>
      </li>
      <li class="P_about__map-nav__list">
        <div class="P_about__map-nav__list-box" id='JS_imgSlide_trigger-12'>
          <div class="P_about__map-nav__list-number-box">
            <span class="P_about__map-nav__list-number">13</span></div>
          <div class="P_about__map-nav__list-title" id='JS_imgSlide_title-12'>2階保育室13</div>
        </div>
      </li>
      <li class="P_about__map-nav__list">
        <div class="P_about__map-nav__list-box" id='JS_imgSlide_trigger-13'>
          <div class="P_about__map-nav__list-number-box">
            <span class="P_about__map-nav__list-number">14</span></div>
          <div class="P_about__map-nav__list-title" id='JS_imgSlide_title-13'>2階保育室14</div>
        </div>
      </li>
      <li class="P_about__map-nav__list">
        <div class="P_about__map-nav__list-box" id='JS_imgSlide_trigger-14'>
          <div class="P_about__map-nav__list-number-box">
            <span class="P_about__map-nav__list-number">15</span></div>
          <div class="P_about__map-nav__list-title" id='JS_imgSlide_title-14'>2階保育室15</div>
        </div>
      </li>
    </ul>
    <div class="P_about__map-nav__img-box">
      <div class="P_about__map-nav__img-number-box">
        <span class="P_about__map-nav__img-number" id='JS_imgSlide_number'>1</span>
      </div>
      <div class="P_about__map-nav__frame"></div>
      <div class="P_about__map-nav__contents">
        <div class="P_about__map-nav__img-title" id='JS_imgSlide_title'>
          2階遊戯室
          <div class="P_about__map-nav__text-deco left">
            <div class="C_deco__font-deco1"></div>
          </div>
          <div class="P_about__map-nav__text-deco right">
            <div class="C_deco__font-deco2"></div>
          </div>
        </div>
        <div class="P_about__map-nav__imgs">
          <div class="P_about__map-nav__img isActive" id='JS_imgSlide_target-0'>1</div>
          <div class="P_about__map-nav__img" id='JS_imgSlide_target-1'>2</div>
          <div class="P_about__map-nav__img" id='JS_imgSlide_target-2'>3</div>
          <div class="P_about__map-nav__img" id='JS_imgSlide_target-3'>4</div>
          <div class="P_about__map-nav__img" id='JS_imgSlide_target-4'>5</div>
          <div class="P_about__map-nav__img" id='JS_imgSlide_target-5'>6</div>
          <div class="P_about__map-nav__img" id='JS_imgSlide_target-6'>7</div>
          <div class="P_about__map-nav__img" id='JS_imgSlide_target-7'>8</div>
          <div class="P_about__map-nav__img" id='JS_imgSlide_target-8'>9</div>
          <div class="P_about__map-nav__img" id='JS_imgSlide_target-9'>10</div>
          <div class="P_about__map-nav__img" id='JS_imgSlide_target-10'>11</div>
          <div class="P_about__map-nav__img" id='JS_imgSlide_target-11'>12</div>
          <div class="P_about__map-nav__img" id='JS_imgSlide_target-12'>13</div>
          <div class="P_about__map-nav__img" id='JS_imgSlide_target-13'>14</div>
          <div class="P_about__map-nav__img" id='JS_imgSlide_target-14'>15</div>
          <div class="P_about__map-nav__img-slider left" id='JS_imgSlide_prev'>
            <i class="fa fa-caret-left P_about__map-nav__icon"></i>
          </div>
          <div class="P_about__map-nav__img-slider right isActive" id='JS_imgSlide_next'>
            <i class="fa fa-caret-right P_about__map-nav__icon"></i>
          </div>
        </div>
        <div class="P_about__map-nav__img-count" id='JS_imgSlide_count'>
          Image 1 of 13
        </div>
      </div>
    </div>
  </div>
  <div class="P_about__wave-trim reverse">
    <svg viewBox="0 0 1500 50" class="P_about__wave reverse">
      <path d="M0,0 v25 q10,10 20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 v-25 Z" fill="#F4F4F2"></path>
    </svg>
  </div>
</section>
<div class="P_about__modal" id='JS_imgSlideModal'>
  <div class="P_about__modal__overlay"></div>
  <div class="P_about__modal__container">
    <div class="P_about__modal__content-box">
      <div class="P_about__modal__title" id='JS_imgSlideModal_title'>2階保育室1</div>
      <div class="P_about__modal__img-box">
        <div class="P_about__modal__img isActive" id='JS_imgSlideModal_target-0'></div>
        <div class="P_about__modal__img" id='JS_imgSlideModal_target-1'></div>
        <div class="P_about__modal__img" id='JS_imgSlideModal_target-2'></div>
        <div class="P_about__modal__img" id='JS_imgSlideModal_target-3'></div>
        <div class="P_about__modal__img" id='JS_imgSlideModal_target-4'></div>
        <div class="P_about__modal__img" id='JS_imgSlideModal_target-5'></div>
        <div class="P_about__modal__img" id='JS_imgSlideModal_target-6'></div>
        <div class="P_about__modal__img" id='JS_imgSlideModal_target-7'></div>
        <div class="P_about__modal__img" id='JS_imgSlideModal_target-8'></div>
        <div class="P_about__modal__img" id='JS_imgSlideModal_target-9'></div>
        <div class="P_about__modal__img" id='JS_imgSlideModal_target-10'></div>
        <div class="P_about__modal__img" id='JS_imgSlideModal_target-11'></div>
        <div class="P_about__modal__img" id='JS_imgSlideModal_target-12'></div>
        <div class="P_about__modal__img" id='JS_imgSlideModal_target-13'></div>
        <div class="P_about__modal__img" id='JS_imgSlideModal_target-14'></div>
        <div class="P_about__modal__slider left" id='JS_imgSlideModal_prev'>
          <i class="fa fa-caret-left P_about__modal__icon"></i>
        </div>
        <div class="P_about__modal__slider right" id='JS_imgSlideModal_next'>
          <i class="fa fa-caret-right P_about__modal__icon"></i>
        </div>
      </div>
      <div class="P_about__modal__count" id='JS_imgSlideModal_count'>Image 1 of 15</div>
      <div class="P_about__modal__close-btn" id='JS_imgSlideModal_close'>
        <i class="P_about__modal__close-icon far fa-times-circle"></i>
      </div>
      <div class="P_about__modal__number-box">
        <div class="P_about__modal__number" id='JS_imgSlideModal_number'>1</div>
      </div>
    </div>
  </div>
</div>
<section class="P_about__map">
  <div class="P_about__map__container">
    <h1 class="P_about__map__title-ja margin-top">
      1F
      <div class="P_about__map__title-deco left">
        <div class="C_deco__sparkle1"></div>
      </div>
      <div class="P_about__map__title-deco right">
        <div class="C_deco__sparkle2"></div>
      </div>
      <svg class="P_about__map__deco-line" x="0px" y="0px" >
        <line x1="2%" y1="50%" x2="100%" y2="50%"/>
      </svg>
    </h1>
    <div class="P_about__map__canvas">
      <div class="P_about__map__1F parti">
        <div class="P_about__map__number-box N1" id='JS_imgSlideModal_trigger-0'>
          <span class="P_about__map__number">1</span>
        </div>
        <div class="P_about__map__number-box N2" id='JS_imgSlideModal_trigger-1'>
          <span class="P_about__map__number">2</span>
        </div>
        <div class="P_about__map__number-box N3" id='JS_imgSlideModal_trigger-2'>
          <span class="P_about__map__number">3</span>
        </div>
        <div class="P_about__map__number-box N4" id='JS_imgSlideModal_trigger-3'>
          <span class="P_about__map__number">4</span>
        </div>
        <div class="P_about__map__number-box N5" id='JS_imgSlideModal_trigger-4'>
          <span class="P_about__map__number">5</span>
        </div>
        <div class="P_about__map__number-box N6" id='JS_imgSlideModal_trigger-5'>
          <span class="P_about__map__number">6</span>
        </div>
        <div class="P_about__map__number-box N7" id='JS_imgSlideModal_trigger-6'>
          <span class="P_about__map__number">7</span>
        </div>
        <div class="P_about__map__number-box N8" id='JS_imgSlideModal_trigger-7'>
          <span class="P_about__map__number">8</span>
        </div>
        <div class="P_about__map__number-box N9" id='JS_imgSlideModal_trigger-8'>
          <span class="P_about__map__number">9</span>
        </div>
      </div>
      <div class="P_about__map__deco jagged">
        <div class="C_deco__jagged1"></div>
      </div>
      <div class="P_about__map__deco dots">
        <div class="C_deco__dots1"></div>
      </div>
    </div>
  </div>
  <div class="P_about__map__container last">
    <h1 class="P_about__map__title-ja">
      2F
      <div class="P_about__map__title-deco left">
        <div class="C_deco__sparkle1"></div>
      </div>
      <div class="P_about__map__title-deco right">
        <div class="C_deco__sparkle2"></div>
      </div>
      <svg class="P_about__map__deco-line" x="0px" y="0px" >
        <line x1="2%" y1="50%" x2="100%" y2="50%"/>
      </svg>
    </h1>
    <div class="P_about__map__canvas">
      <div class="P_about__map__2F parti">
        <div class="P_about__map__number-box N10" id='JS_imgSlideModal_trigger-9'>
          <span class="P_about__map__number">10</span>
        </div>
        <div class="P_about__map__number-box N11" id='JS_imgSlideModal_trigger-10'>
          <span class="P_about__map__number">11</span>
        </div>
        <div class="P_about__map__number-box N12" id='JS_imgSlideModal_trigger-11'>
          <span class="P_about__map__number">12</span>
        </div>
        <div class="P_about__map__number-box N13" id='JS_imgSlideModal_trigger-12'>
          <span class="P_about__map__number">13</span>
        </div>
        <div class="P_about__map__number-box N14" id='JS_imgSlideModal_trigger-13'>
          <span class="P_about__map__number">14</span>
        </div>
        <div class="P_about__map__number-box N15" id='JS_imgSlideModal_trigger-14'>
          <span class="P_about__map__number">15</span>
        </div>
      </div>
      <div class="P_about__map__deco babble">
        <div class="C_deco__babble1"></div>
      </div>
      <div class="P_about__map__deco triangle">
        <div class="C_deco__triangle1"></div>
      </div>
    </div>
  </div>
</section>
<section class="P_about__access">
  <div class="P_about__wave-trim">
    <svg viewBox="0 0 1500 50" class="P_about__wave">
      <path d="M0,0 v25 q10,10 20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 t20,0 v-25 Z" fill="#F4F4F2"></path>
    </svg>
  </div>
  <h1 class="P_about__access__title-en">ACCESS</h1>
  <h2 class="P_about__access__title-ja">アクセス</h2>
  <p class="P_about__access__address">〒597-0033　大阪府貝塚市半田1-3-6　TEL.072-427-8969</p>
  <p class="P_about__access__text">JR阪和線 東貝塚駅下車 徒歩2分</p>
  <div class="P_about__access__google-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13162.036286214505!2d135.3731036!3d34.4392232!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd48c9cfe7b368468!2z56S-5Lya56aP56WJ5rOV5Lq6IOS4g-W9qeWtpuiIjg!5e0!3m2!1sja!2sjp!4v1614213618813!5m2!1sja!2sjp" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</section>
<%= render 'shared/side_bar_noBack',{color: ''}%>
<%= render partial: 'shared/footer_parti' %>
