<%= render partial: 'shared/header', locals:{ header: @header, name: @name}%>
<%= render partial: 'shared/admission', locals:{ items: @items, name: @name }%>
<%= render partial: 'shared/footer', locals:{ footer: @footer, name: @name, side_bar: false }%>
// <div id="JS_side-nav_target-bottom"></div>
