<%= render partial: 'shared/header', locals:{header_items: @header_items, header_lists: @header_lists}%>
<%= render partial: 'shared/eat_education', locals:{items: @items, food_staff: @food_staff}%>
<%= render partial: 'shared/footer', locals:{footer_item: @footer_item, footer_lists: @footer_lists, footer_texts: @footer_texts, side_bar: false }%>
<div id="JS_side-nav_target-bottom"></div>
