<%= render partial: 'shared/header_parti' %>
<section class="PageTitle" id="JS_smoothScroll_target-0">
  <div id="JS_scroll-to-top_trigger-0" style="position:absolute;height:100%;"></div>
  <div class="L_pageTitle__headding">
    <div class="box">
      <p class="C_text__title-en">
        Event
      </p>
      <h1 class="C_text__title-ja">
        年間行事
      </h1>
    </div>
  </div>
  <div class="P_event__kv">
  </div>
</section>
<ul class="P_event__nav">
  <li class="P_event__season-list spring" id="JS_smoothScroll_trigger-1">春</li>
  <li class="P_event__season-list summer" id="JS_smoothScroll_trigger-2">夏</li>
  <li class="P_event__season-list autumn" id="JS_smoothScroll_trigger-3">秋</li>
  <li class="P_event__season-list winter" id="JS_smoothScroll_trigger-4">冬</li>
</ul>
<div class="P_event__back-color">
  <section class="P_event__wrap spring" id="JS_smoothScroll_target-1">
    <div class="P_event__season-text-ja spring top">春</div>
    <div class="P_event__season-text-en spring">spring</div>
    <div class="P_event__contents-wrap">
      <div class="P_event__deco-line-trim spring">
        <svg class="P_event__deco-line-canvas tab-sp-only" x="0px" y="0px" width="100%" height="8010" viewBox="0, 0, 255, 8010">
          <defs>
            <pattern id="waveLine-spring" x="0" y="0" width="100%" height="10%">
              <path class="P_event__deco-line-ver spring" fill="none" d="M 100 1 C 0 131, 0 271, 100 401 S 200 671, 100 801"/>
            </pattern>
          </defs>
          <rect fill="url(#waveLine-spring)" x="0" y="0" width="100%" height="100%"/>
        </svg>
        <svg class="P_event__deco-line-canvas pc-only" x="0px" y="0px" width="100%" height="9410" viewBox="0, 0, 255, 9410">
          <defs>
            <pattern id="waveLine-spring_pc" x="0" y="0" width="100%" height="10%">
              <path class="P_event__deco-line-ver spring" fill="none" d="M 100 1 C 0 131, 0 341, 100 471 S 200 811, 100 941"/>
            </pattern>
          </defs>
          <rect fill="url(#waveLine-spring_pc)" x="0" y="0" width="100%" height="100%"/>
        </svg>
      </div>
      <div class="P_event__container left">
        <div class="P_event__img-box left">
          <div class="P_event__month spring left">４<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja left">入園式</div>
        </div>
      </div>
      <div class="P_event__container right">
        <div class="P_event__img-box right">
          <div class="P_event__month spring right">５<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja right">こどもの日</div>
        </div>
      </div>
      <div class="P_event__container left photo2-ver">
        <div class="P_event__img-box left photo2-ver">
          <div class="P_event__month spring left">４<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja left">花まつり</div>
        </div>
        <div class="P_event__img-sub ver left">
          <div class="P_event__trim-img">
            <div class="C_piani__event"></div>
          </div>
          <div class="P_event__deco-top-left ver"></div>
          <div class="P_event__deco-top-right ver"></div>
          <div class="P_event__deco-bottom-left ver"></div>
          <div class="P_event__deco-bottom-right ver"></div>
          <div class="P_event__deco-spring-heart2"></div>
        </div>
      </div>
      <div class="P_event__container right">
        <div class="P_event__img-box right">
          <div class="P_event__month spring right">４<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja right">遠足</div>
        </div>
      </div>
      <div class="P_event__container left photo2-hor">
        <div class="P_event__img-box left photo2-hor">
          <div class="P_event__month spring left">４<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja left">フェスティバル</div>
        </div>
        <div class="P_event__img-sub hor left">
          <div class="P_event__trim-img">
            <div class="C_piani__event"></div>
          </div>
          <div class="P_event__deco-top-left hor"></div>
          <div class="P_event__deco-top-right hor"></div>
          <div class="P_event__deco-bottom-left hor"></div>
          <div class="P_event__deco-bottom-right hor"></div>
          <div class="P_event__deco-spring-triangle1"></div>
          <div class="P_event__deco-spring-triangle2"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="P_event__wrap summer" id="JS_smoothScroll_target-2">
    <div class="P_event__season-text-ja summer">夏</div>
    <div class="P_event__season-text-en summer">summer</div>
    <div class="P_event__contents-wrap">
      <div class="P_event__deco-line-trim summer">
        <svg class="P_event__deco-line-canvas tab-sp-only" x="0px" y="0px" width="100%" height="8010" viewBox="0, 0, 255, 8010">
          <defs>
            <pattern id="waveLine-summer" x="0" y="0" width="100%" height="10%">
              <path class="P_event__deco-line-ver summer" fill="none" d="M 100 1 C 0 131, 0 271, 100 401 S 200 671, 100 801"/>
            </pattern>
          </defs>
          <rect fill="url(#waveLine-summer)" x="0" y="0" width="100%" height="100%"/>
        </svg>
        <svg class="P_event__deco-line-canvas pc-only" x="0px" y="0px" width="100%" height="9410" viewBox="0, 0, 255, 9410">
          <defs>
            <pattern id="waveLine-summer_pc" x="0" y="0" width="100%" height="10%">
              <path class="P_event__deco-line-ver summer" fill="none" d="M 100 1 C 0 131, 0 341, 100 471 S 200 811, 100 941"/>
            </pattern>
          </defs>
          <rect fill="url(#waveLine-summer_pc)" x="0" y="0" width="100%" height="100%"/>
        </svg>
      </div>
      <div class="P_event__container left">
        <div class="P_event__img-box left">
          <div class="P_event__month summer left">５<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja left">田植え</div>
        </div>
      </div>
      <div class="P_event__container right photo2-hor">
        <div class="P_event__img-box right photo2-hor">
          <div class="P_event__month summer right">５<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja right">七夕会</div>
        </div>
        <div class="P_event__img-sub hor right">
          <div class="P_event__trim-img">
            <div class="C_piani__event"></div>
          </div>
          <div class="P_event__deco-top-left hor"></div>
          <div class="P_event__deco-top-right hor"></div>
          <div class="P_event__deco-bottom-left hor"></div>
          <div class="P_event__deco-bottom-right hor"></div>
          <div class="P_event__deco-summer-star1"></div>
          <div class="P_event__deco-summer-star2"></div>
        </div>
      </div>
      <div class="P_event__container left photo2-hor">
        <div class="P_event__img-box left photo2-hor">
          <div class="P_event__month summer left">５<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja left">水遊び</div>
        </div>
        <div class="P_event__img-sub hor left">
          <div class="P_event__trim-img">
            <div class="C_piani__event"></div>
          </div>
          <div class="P_event__deco-top-left hor"></div>
          <div class="P_event__deco-top-right hor"></div>
          <div class="P_event__deco-bottom-left hor"></div>
          <div class="P_event__deco-bottom-right hor"></div>
          <div class="P_event__deco-summer-bubble1"></div>
          <div class="P_event__deco-summer-bubble2"></div>
        </div>
      </div>
      <div class="P_event__container right">
        <div class="P_event__img-box right">
          <div class="P_event__month summer right">５<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja right">キャンプ</div>
        </div>
      </div>
    </div>
  </section>
  <section class="P_event__wrap autumn" id="JS_smoothScroll_target-3">
    <div class="P_event__season-text-ja autumn">秋</div>
    <div class="P_event__season-text-en autumn">autumn</div>
    <div class="P_event__contents-wrap">
      <div class="P_event__deco-line-trim autumn">
        <svg class="P_event__deco-line-canvas tab-sp-only" x="0px" y="0px" width="100%" height="8010" viewBox="0, 0, 255, 8010">
          <defs>
            <pattern id="waveLine-autumn" x="0" y="0" width="100%" height="10%">
              <path class="P_event__deco-line-ver autumn" fill="none" d="M 100 1 C 0 131, 0 271, 100 401 S 200 671, 100 801"/>
            </pattern>
          </defs>
          <rect fill="url(#waveLine-autumn)" x="0" y="0" width="100%" height="100%"/>
        </svg>
        <svg class="P_event__deco-line-canvas pc-only" x="0px" y="0px" width="100%" height="9410" viewBox="0, 0, 255, 9410">
          <defs>
            <pattern id="waveLine-autumn_pc" x="0" y="0" width="100%" height="10%">
              <path class="P_event__deco-line-ver autumn" fill="none" d="M 100 1 C 0 131, 0 341, 100 471 S 200 811, 100 941"/>
            </pattern>
          </defs>
          <rect fill="url(#waveLine-autumn_pc)" x="0" y="0" width="100%" height="100%"/>
        </svg>
      </div>
      <div class="P_event__container left">
        <div class="P_event__img-box left">
          <div class="P_event__month autumn left">５<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja left">縁日ごっこ</div>
        </div>
      </div>
      <div class="P_event__container right photo2-ver">
        <div class="P_event__img-box right photo2-ver">
          <div class="P_event__month autumn right">５<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja right">敬老会</div>
        </div>
        <div class="P_event__img-sub ver right">
          <div class="P_event__trim-img">
            <div class="C_piani__event"></div>
          </div>
          <div class="P_event__deco-top-left ver"></div>
          <div class="P_event__deco-top-right ver"></div>
          <div class="P_event__deco-bottom-left ver"></div>
          <div class="P_event__deco-bottom-right ver"></div>
          <div class="P_event__deco-autumn-triangle1"></div>
          <div class="P_event__deco-autumn-triangle2"></div>
        </div>
      </div>
      <div class="P_event__container left">
        <div class="P_event__img-box left">
          <div class="P_event__month autumn left">５<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja left">秋のつどい</div>
        </div>
      </div>
      <div class="P_event__container right">
        <div class="P_event__img-box right">
          <div class="P_event__month autumn right">５<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja right">お店屋さんごっこ</div>
        </div>
      </div>
      <div class="P_event__container left photo2-hor">
        <div class="P_event__img-box left photo2-hor">
          <div class="P_event__month autumn left">５<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja left">お芋掘り</div>
        </div>
        <div class="P_event__img-sub hor left">
          <div class="P_event__trim-img">
            <div class="C_piani__event"></div>
          </div>
          <div class="P_event__deco-top-left hor"></div>
          <div class="P_event__deco-top-right hor"></div>
          <div class="P_event__deco-bottom-left hor"></div>
          <div class="P_event__deco-bottom-right hor"></div>
          <div class="P_event__deco-autumn-heart1"></div>
          <div class="P_event__deco-autumn-heart2"></div>
        </div>
      </div>
      <div class="P_event__container right">
        <div class="P_event__img-box right">
          <div class="P_event__month autumn right">５<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja right">遠足</div>
        </div>
      </div>
      <div class="P_event__container left photo2-ver">
        <div class="P_event__img-box left photo2-ver">
          <div class="P_event__month autumn left">５<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja left">乗馬体験</div>
        </div>
        <div class="P_event__img-sub ver left">
          <div class="P_event__trim-img">
            <div class="C_piani__event"></div>
          </div>
          <div class="P_event__deco-top-left ver"></div>
          <div class="P_event__deco-top-right ver"></div>
          <div class="P_event__deco-bottom-left ver"></div>
          <div class="P_event__deco-bottom-right ver"></div>
          <div class="P_event__deco-autumn-star1"></div>
          <div class="P_event__deco-autumn-star2"></div>
        </div>
      </div>
      <div class="P_event__container right">
        <div class="P_event__img-box right">
          <div class="P_event__month autumn right">５<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja right">報恩講</div>
        </div>
      </div>
      <div class="P_event__container left photo2-hor">
        <div class="P_event__img-box left photo2-hor">
          <div class="P_event__month autumn left">５<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja left">親子バイキング</div>
        </div>
        <div class="P_event__img-sub hor left">
          <div class="P_event__trim-img">
            <div class="C_piani__event"></div>
          </div>
          <div class="P_event__deco-top-left hor"></div>
          <div class="P_event__deco-top-right hor"></div>
          <div class="P_event__deco-bottom-left hor"></div>
          <div class="P_event__deco-bottom-right hor"></div>
          <div class="P_event__deco-autumn-bubble"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="P_event__wrap winter" id="JS_smoothScroll_target-4">
    <div class="P_event__season-text-ja winter">冬</div>
    <div class="P_event__season-text-en winter">winter</div>
    <div class="P_event__contents-wrap">
      <div class="P_event__deco-line-trim winter">
        <svg class="P_event__deco-line-canvas tab-sp-only" x="0px" y="0px" width="100%" height="8010" viewBox="0, 0, 255, 8010">
          <defs>
            <pattern id="waveLine-winter" x="0" y="0" width="100%" height="10%">
              <path class="P_event__deco-line-ver winter" fill="none" d="M 100 1 C 0 131, 0 271, 100 401 S 200 671, 100 801"/>
            </pattern>
          </defs>
          <rect fill="url(#waveLine-winter)" x="0" y="0" width="100%" height="100%"/>
        </svg>
        <svg class="P_event__deco-line-canvas pc-only" x="0px" y="0px" width="100%" height="9410" viewBox="0, 0, 255, 9410">
          <defs>
            <pattern id="waveLine-winter_pc" x="0" y="0" width="100%" height="10%">
              <path class="P_event__deco-line-ver winter" fill="none" d="M 100 1 C 0 131, 0 341, 100 471 S 200 811, 100 941"/>
            </pattern>
          </defs>
          <rect fill="url(#waveLine-winter_pc)" x="0" y="0" width="100%" height="100%"/>
        </svg>
      </div>
      <div class="P_event__container left photo2-hor">
        <div class="P_event__img-box left photo2-hor">
          <div class="P_event__month winter left">５<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja left">お餅つき</div>
        </div>
        <div class="P_event__img-sub hor left">
          <div class="P_event__trim-img">
            <div class="C_piani__event"></div>
          </div>
          <div class="P_event__deco-top-left hor"></div>
          <div class="P_event__deco-top-right hor"></div>
          <div class="P_event__deco-bottom-left hor"></div>
          <div class="P_event__deco-bottom-right hor"></div>
          <div class="P_event__deco-winter-triangle1"></div>
          <div class="P_event__deco-winter-triangle2"></div>
        </div>
      </div>
      <div class="P_event__container right">
        <div class="P_event__img-box right">
          <div class="P_event__month winter right">５<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja right">成道会</div>
        </div>
      </div>
      <div class="P_event__container left photo2-hor">
        <div class="P_event__img-box left photo2-hor">
          <div class="P_event__month winter left">５<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja left">発表会</div>
        </div>
        <div class="P_event__img-sub hor left">
          <div class="P_event__trim-img">
            <div class="C_piani__event"></div>
          </div>
          <div class="P_event__deco-top-left hor"></div>
          <div class="P_event__deco-top-right hor"></div>
          <div class="P_event__deco-bottom-left hor"></div>
          <div class="P_event__deco-bottom-right hor"></div>
          <div class="P_event__deco-winter-music-note1"></div>
          <div class="P_event__deco-winter-music-note2"></div>
        </div>
      </div>
      <div class="P_event__container right">
        <div class="P_event__img-box right">
          <div class="P_event__month winter right">５<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja right">節分</div>
        </div>
      </div>
      <div class="P_event__container left">
        <div class="P_event__img-box left">
          <div class="P_event__month winter left">５<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja left">涅槃会</div>
        </div>
      </div>
      <div class="P_event__container right photo2-hor">
        <div class="P_event__img-box right photo2-hor">
          <div class="P_event__month winter right">５<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja right">お茶会</div>
        </div>
        <div class="P_event__img-sub hor right">
          <div class="P_event__trim-img">
            <div class="C_piani__event"></div>
          </div>
          <div class="P_event__deco-top-left hor"></div>
          <div class="P_event__deco-top-right hor"></div>
          <div class="P_event__deco-bottom-left hor"></div>
          <div class="P_event__deco-bottom-right hor"></div>
          <div class="P_event__deco-winter-star1"></div>
          <div class="P_event__deco-winter-star2"></div>
        </div>
      </div>
      <div class="P_event__container left">
        <div class="P_event__img-box left">
          <div class="P_event__month winter left">５<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja left">ひな祭り</div>
        </div>
      </div>
      <div class="P_event__container right">
        <div class="P_event__img-box right">
          <div class="P_event__month winter right">５<span class="P_event__month_S">月</span></div>
          <div class="P_event__title-ja right">卒園式</div>
        </div>
      </div>
    </div>
  </section>
</div>
<%= render 'shared/side_bar_noBack',{color: ''}%>
<%= render partial: 'shared/footer_parti' %>
