<%= render partial: 'shared/header_parti' %>
<div id="JS_smoothScroll_target-0"></div>
<ul class="P_one-day__nav">
  <li class="P_one-day__nav-list infant" id="JS_smoothScroll_trigger-1">乳児</li>
  <li class="P_one-day__nav-list toddler" id="JS_smoothScroll_trigger-2">幼児</li>
</ul>
<section class="P_one-day">
  <div class="P_one-day__wrap">
    <h1 class="P_one-day__title-en">ONE DAY</h1>
    <h1 class="P_one-day__title-ja">
      園の一日
      <div class="P_one-day__title-deco left">
        <div class="C_deco__sparkle1"></div>
      </div>
      <div class="P_one-day__title-deco right">
        <div class="C_deco__sparkle2"></div>
      </div>
      <svg class="P_one-day__deco-line line1" x="0px" y="0px">
        <line x1="2%" y1="50%" x2="100%" y2="50%"/>
      </svg>
    </h1>
    <div class="P_one-day__js-wrap" id="JS_smoothScroll_target-1">
      <h2 class="P_one-day__class-title infant">乳児クラス</h2>
      <div class="P_one-day__content-wrap pc-only">
        <div class="P_one-day__container left">
          <div class="P_one-day__img first">
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">7:00</div>
              <div class="P_one-day__title">順次登園</div>
              <div class="P_one-day__class infant">乳児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
          <div class="P_one-day__img">
            <div class="P_one-day__deco deco2">
              <div class="C_deco__one-day-deco-2"></div>
            </div>
            <div class="P_one-day__deco arrow-left">
              <div class="C_deco__arrow-left"></div>
            </div>
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">7:00</div>
              <div class="P_one-day__title">順次登園</div>
              <div class="P_one-day__class infant">乳児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
          <div class="P_one-day__img">
            <div class="P_one-day__deco deco4">
              <div class="C_deco__one-day-deco-4"></div>
            </div>
            <div class="P_one-day__deco arrow-left">
              <div class="C_deco__arrow-left"></div>
            </div>
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">7:00</div>
              <div class="P_one-day__title">順次登園</div>
              <div class="P_one-day__class infant">乳児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
          <div class="P_one-day__img">
            <div class="P_one-day__deco deco6">
              <div class="C_deco__one-day-deco-6"></div>
            </div>
            <div class="P_one-day__deco arrow-left">
              <div class="C_deco__arrow-left"></div>
            </div>
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">7:00</div>
              <div class="P_one-day__title">順次登園</div>
              <div class="P_one-day__class infant">乳児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
          <div class="P_one-day__img">
            <div class="P_one-day__deco deco8">
              <div class="C_deco__one-day-deco-8"></div>
            </div>
            <div class="P_one-day__deco arrow-left">
              <div class="C_deco__arrow-left"></div>
            </div>
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">7:00</div>
              <div class="P_one-day__title">順次登園</div>
              <div class="P_one-day__class infant">乳児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
          <div class="P_one-day__img">
            <div class="P_one-day__deco deco10">
              <div class="C_deco__one-day-deco-10"></div>
            </div>
            <div class="P_one-day__deco arrow-left">
              <div class="C_deco__arrow-left"></div>
            </div>
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">7:00</div>
              <div class="P_one-day__title">順次登園</div>
              <div class="P_one-day__class infant">乳児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
        </div>
        <div class="P_one-day__container right">
          <div class="P_one-day__img first">
            <div class="P_one-day__deco deco1">
              <div class="C_deco__one-day-deco-1"></div>
            </div>
            <div class="P_one-day__deco arrow-right-L">
              <div class="C_deco__arrow-right-L"></div>
            </div>
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">9:30</div>
              <div class="P_one-day__title">朝の集い</div>
              <div class="P_one-day__class infant">乳児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
          <div class="P_one-day__img">
            <div class="P_one-day__deco deco3">
              <div class="C_deco__one-day-deco-3"></div>
            </div>
            <div class="P_one-day__deco arrow-right">
              <div class="C_deco__arrow-right"></div>
            </div>
            
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">9:30</div>
              <div class="P_one-day__title">朝の集い</div>
              <div class="P_one-day__class infant">乳児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
          <div class="P_one-day__img">
            <div class="P_one-day__deco deco5">
              <div class="C_deco__one-day-deco-5"></div>
            </div>
            <div class="P_one-day__deco arrow-right">
              <div class="C_deco__arrow-right"></div>
            </div>
            
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">9:30</div>
              <div class="P_one-day__title">朝の集い</div>
              <div class="P_one-day__class infant">乳児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
          <div class="P_one-day__img">
            <div class="P_one-day__deco deco7">
              <div class="C_deco__one-day-deco-7"></div>
            </div>
            <div class="P_one-day__deco arrow-right">
              <div class="C_deco__arrow-right"></div>
            </div>
            
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">9:30</div>
              <div class="P_one-day__title">朝の集い</div>
              <div class="P_one-day__class infant">乳児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
          <div class="P_one-day__img">
            <div class="P_one-day__deco deco9">
              <div class="C_deco__one-day-deco-9"></div>
            </div>
            <div class="P_one-day__deco arrow-right">
              <div class="C_deco__arrow-right"></div>
            </div>
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">9:30</div>
              <div class="P_one-day__title">朝の集い</div>
              <div class="P_one-day__class infant">乳児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
          <div class="P_one-day__img">
            <div class="P_one-day__deco deco11">
              <div class="C_deco__one-day-deco-11"></div>
            </div>
            <div class="P_one-day__deco arrow-right">
              <div class="C_deco__arrow-right"></div>
            </div>
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">9:30</div>
              <div class="P_one-day__title">朝の集い</div>
              <div class="P_one-day__class infant">乳児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="P_one-day__content-wrap tab-sp-only">
        <div class="P_one-day__img first">
          <div class="P_one-day__text-box">
            <div class="P_one-day__time">7:00</div>
            <div class="P_one-day__title">順次登園</div>
            <div class="P_one-day__class infant">乳児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
        <div class="P_one-day__img">
          <div class="P_one-day__deco deco1">
            <div class="C_deco__one-day-deco-1"></div>
          </div>
          <div class="P_one-day__deco arrow-right">
            <div class="C_deco__arrow-right"></div>
          </div>
          <div class="P_one-day__text-box right">
            <div class="P_one-day__time">7:00</div>
            <div class="P_one-day__title">順次登園</div>
            <div class="P_one-day__class infant">乳児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
        <div class="P_one-day__img">
          <div class="P_one-day__deco deco2">
            <div class="C_deco__one-day-deco-2"></div>
          </div>
          <div class="P_one-day__deco arrow-left">
            <div class="C_deco__arrow-left"></div>
          </div>
          <div class="P_one-day__text-box">
            <div class="P_one-day__time">7:00</div>
            <div class="P_one-day__title">順次登園</div>
            <div class="P_one-day__class infant">乳児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
        <div class="P_one-day__img">
          <div class="P_one-day__deco deco3">
            <div class="C_deco__one-day-deco-3"></div>
          </div>
          <div class="P_one-day__deco arrow-right">
            <div class="C_deco__arrow-right"></div>
          </div>
          <div class="P_one-day__text-box right">
            <div class="P_one-day__time">7:00</div>
            <div class="P_one-day__title">順次登園</div>
            <div class="P_one-day__class infant">乳児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
        <div class="P_one-day__img">
          <div class="P_one-day__deco deco4">
            <div class="C_deco__one-day-deco-4"></div>
          </div>
          <div class="P_one-day__deco arrow-left">
            <div class="C_deco__arrow-left"></div>
          </div>
          <div class="P_one-day__text-box">
            <div class="P_one-day__time">7:00</div>
            <div class="P_one-day__title">順次登園</div>
            <div class="P_one-day__class infant">乳児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
        <div class="P_one-day__img">
          <div class="P_one-day__deco deco5">
            <div class="C_deco__one-day-deco-5"></div>
          </div>
          <div class="P_one-day__deco arrow-right">
            <div class="C_deco__arrow-right"></div>
          </div>
          <div class="P_one-day__text-box right">
            <div class="P_one-day__time">7:00</div>
            <div class="P_one-day__title">順次登園</div>
            <div class="P_one-day__class infant">乳児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
        <div class="P_one-day__img">
          <div class="P_one-day__deco deco6">
            <div class="C_deco__one-day-deco-6"></div>
          </div>
          <div class="P_one-day__deco arrow-left">
            <div class="C_deco__arrow-left"></div>
          </div>
          
          <div class="P_one-day__text-box">
            <div class="P_one-day__time">9:30</div>
            <div class="P_one-day__title">朝の集い</div>
            <div class="P_one-day__class infant">乳児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
        <div class="P_one-day__img">
          <div class="P_one-day__deco deco7">
            <div class="C_deco__one-day-deco-7"></div>
          </div>
          <div class="P_one-day__deco arrow-right">
            <div class="C_deco__arrow-right"></div>
          </div>
          <div class="P_one-day__text-box right">
            <div class="P_one-day__time">9:30</div>
            <div class="P_one-day__title">朝の集い</div>
            <div class="P_one-day__class infant">乳児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
        <div class="P_one-day__img">
          <div class="P_one-day__deco deco8">
            <div class="C_deco__one-day-deco-8"></div>
          </div>
          <div class="P_one-day__deco arrow-left">
            <div class="C_deco__arrow-left"></div>
          </div>
          <div class="P_one-day__text-box">
            <div class="P_one-day__time">9:30</div>
            <div class="P_one-day__title">朝の集い</div>
            <div class="P_one-day__class infant">乳児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
        <div class="P_one-day__img">
          <div class="P_one-day__deco deco9">
            <div class="C_deco__one-day-deco-9"></div>
          </div>
          <div class="P_one-day__deco arrow-right">
            <div class="C_deco__arrow-right"></div>
          </div>
          
          <div class="P_one-day__text-box right">
            <div class="P_one-day__time">9:30</div>
            <div class="P_one-day__title">朝の集い</div>
            <div class="P_one-day__class infant">乳児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
        <div class="P_one-day__img">
          <div class="P_one-day__deco deco10">
            <div class="C_deco__one-day-deco-10"></div>
          </div>
          <div class="P_one-day__deco arrow-left">
            <div class="C_deco__arrow-left"></div>
          </div>
          <div class="P_one-day__text-box">
            <div class="P_one-day__time">9:30</div>
            <div class="P_one-day__title">朝の集い</div>
            <div class="P_one-day__class infant">乳児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
        <div class="P_one-day__img">
          <div class="P_one-day__deco deco11">
            <div class="C_deco__one-day-deco-11"></div>
          </div>
          <div class="P_one-day__deco arrow-right">
            <div class="C_deco__arrow-right"></div>
          </div>
          <div class="P_one-day__text-box right">
            <div class="P_one-day__time">9:30</div>
            <div class="P_one-day__title">朝の集い</div>
            <div class="P_one-day__class infant">乳児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="P_one-day__js-wrap" id="JS_smoothScroll_target-2">
      <h2 class="P_one-day__class-title toddler">幼児クラス</h2>
      <div class="P_one-day__content-wrap pc-only">
        <div class="P_one-day__container left">
          <div class="P_one-day__img first">
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">7:00</div>
              <div class="P_one-day__title">順次登園</div>
              <div class="P_one-day__class toddler">幼児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
          <div class="P_one-day__img">
            <div class="P_one-day__deco deco2">
              <div class="C_deco__one-day-deco-2"></div>
            </div>
            <div class="P_one-day__deco arrow-left">
              <div class="C_deco__arrow-left"></div>
            </div>
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">7:00</div>
              <div class="P_one-day__title">順次登園</div>
              <div class="P_one-day__class toddler">幼児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
          <div class="P_one-day__img">
            <div class="P_one-day__deco deco4">
              <div class="C_deco__one-day-deco-4"></div>
            </div>
            <div class="P_one-day__deco arrow-left">
              <div class="C_deco__arrow-left"></div>
            </div>
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">7:00</div>
              <div class="P_one-day__title">順次登園</div>
              <div class="P_one-day__class toddler">幼児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
          <div class="P_one-day__img">
            <div class="P_one-day__deco deco6">
              <div class="C_deco__one-day-deco-6"></div>
            </div>
            <div class="P_one-day__deco arrow-left">
              <div class="C_deco__arrow-left"></div>
            </div>
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">7:00</div>
              <div class="P_one-day__title">順次登園</div>
              <div class="P_one-day__class toddler">幼児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
          <div class="P_one-day__img">
            <div class="P_one-day__deco deco8">
              <div class="C_deco__one-day-deco-8"></div>
            </div>
            <div class="P_one-day__deco arrow-left">
              <div class="C_deco__arrow-left"></div>
            </div>
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">7:00</div>
              <div class="P_one-day__title">順次登園</div>
              <div class="P_one-day__class toddler">幼児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
          <div class="P_one-day__img">
            <div class="P_one-day__deco deco10">
              <div class="C_deco__one-day-deco-10"></div>
            </div>
            <div class="P_one-day__deco arrow-left">
              <div class="C_deco__arrow-left"></div>
            </div>
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">7:00</div>
              <div class="P_one-day__title">順次登園</div>
              <div class="P_one-day__class toddler">幼児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
        </div>
        <div class="P_one-day__container right">
          <div class="P_one-day__img first">
            <div class="P_one-day__deco deco1">
              <div class="C_deco__one-day-deco-1"></div>
            </div>
            <div class="P_one-day__deco arrow-right-L">
              <div class="C_deco__arrow-right-L"></div>
            </div>
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">9:30</div>
              <div class="P_one-day__title">朝の集い</div>
              <div class="P_one-day__class toddler">幼児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
          <div class="P_one-day__img">
            <div class="P_one-day__deco deco3">
              <div class="C_deco__one-day-deco-3"></div>
            </div>
            <div class="P_one-day__deco arrow-right">
              <div class="C_deco__arrow-right"></div>
            </div>
            
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">9:30</div>
              <div class="P_one-day__title">朝の集い</div>
              <div class="P_one-day__class toddler">幼児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
          <div class="P_one-day__img">
            <div class="P_one-day__deco deco5">
              <div class="C_deco__one-day-deco-5"></div>
            </div>
            <div class="P_one-day__deco arrow-right">
              <div class="C_deco__arrow-right"></div>
            </div>
            
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">9:30</div>
              <div class="P_one-day__title">朝の集い</div>
              <div class="P_one-day__class toddler">幼児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
          <div class="P_one-day__img">
            <div class="P_one-day__deco deco7">
              <div class="C_deco__one-day-deco-7"></div>
            </div>
            <div class="P_one-day__deco arrow-right">
              <div class="C_deco__arrow-right"></div>
            </div>
            
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">9:30</div>
              <div class="P_one-day__title">朝の集い</div>
              <div class="P_one-day__class toddler">幼児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
          <div class="P_one-day__img">
            <div class="P_one-day__deco deco9">
              <div class="C_deco__one-day-deco-9"></div>
            </div>
            <div class="P_one-day__deco arrow-right">
              <div class="C_deco__arrow-right"></div>
            </div>
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">9:30</div>
              <div class="P_one-day__title">朝の集い</div>
              <div class="P_one-day__class toddler">幼児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
          <div class="P_one-day__img">
            <div class="P_one-day__deco deco11">
              <div class="C_deco__one-day-deco-11"></div>
            </div>
            <div class="P_one-day__deco arrow-right">
              <div class="C_deco__arrow-right"></div>
            </div>
            
            <div class="P_one-day__text-box">
              <div class="P_one-day__time">9:30</div>
              <div class="P_one-day__title">朝の集い</div>
              <div class="P_one-day__class toddler">幼児クラス</div>
              <div class="P_one-day__text">
                一人ひとりの<br>
                その日の体調を診た後<br>
                好きな遊びをします
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="P_one-day__content-wrap tab-sp-only">
        <div class="P_one-day__img first">
          <div class="P_one-day__text-box">
            <div class="P_one-day__time">7:00</div>
            <div class="P_one-day__title">順次登園</div>
            <div class="P_one-day__class toddler">幼児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
        <div class="P_one-day__img">
          <div class="P_one-day__deco deco1">
            <div class="C_deco__one-day-deco-1"></div>
          </div>
          <div class="P_one-day__deco arrow-right">
            <div class="C_deco__arrow-right"></div>
          </div>
          <div class="P_one-day__text-box right">
            <div class="P_one-day__time">7:00</div>
            <div class="P_one-day__title">順次登園</div>
            <div class="P_one-day__class toddler">幼児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
        <div class="P_one-day__img">
          <div class="P_one-day__deco deco2">
            <div class="C_deco__one-day-deco-2"></div>
          </div>
          <div class="P_one-day__deco arrow-left">
            <div class="C_deco__arrow-left"></div>
          </div>
          <div class="P_one-day__text-box">
            <div class="P_one-day__time">7:00</div>
            <div class="P_one-day__title">順次登園</div>
            <div class="P_one-day__class toddler">幼児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
        <div class="P_one-day__img">
          <div class="P_one-day__deco deco3">
            <div class="C_deco__one-day-deco-3"></div>
          </div>
          <div class="P_one-day__deco arrow-right">
            <div class="C_deco__arrow-right"></div>
          </div>
          <div class="P_one-day__text-box right">
            <div class="P_one-day__time">7:00</div>
            <div class="P_one-day__title">順次登園</div>
            <div class="P_one-day__class toddler">幼児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
        <div class="P_one-day__img">
          <div class="P_one-day__deco deco4">
            <div class="C_deco__one-day-deco-4"></div>
          </div>
          <div class="P_one-day__deco arrow-left">
            <div class="C_deco__arrow-left"></div>
          </div>
          <div class="P_one-day__text-box">
            <div class="P_one-day__time">7:00</div>
            <div class="P_one-day__title">順次登園</div>
            <div class="P_one-day__class toddler">幼児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
        <div class="P_one-day__img">
          <div class="P_one-day__deco deco5">
            <div class="C_deco__one-day-deco-5"></div>
          </div>
          <div class="P_one-day__deco arrow-right">
            <div class="C_deco__arrow-right"></div>
          </div>
          <div class="P_one-day__text-box right">
            <div class="P_one-day__time">7:00</div>
            <div class="P_one-day__title">順次登園</div>
            <div class="P_one-day__class toddler">幼児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
        <div class="P_one-day__img">
          <div class="P_one-day__deco deco6">
            <div class="C_deco__one-day-deco-6"></div>
          </div>
          <div class="P_one-day__deco arrow-left">
            <div class="C_deco__arrow-left"></div>
          </div>
          
          <div class="P_one-day__text-box">
            <div class="P_one-day__time">9:30</div>
            <div class="P_one-day__title">朝の集い</div>
            <div class="P_one-day__class toddler">幼児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
        <div class="P_one-day__img">
          <div class="P_one-day__deco deco7">
            <div class="C_deco__one-day-deco-7"></div>
          </div>
          <div class="P_one-day__deco arrow-right">
            <div class="C_deco__arrow-right"></div>
          </div>
          <div class="P_one-day__text-box right">
            <div class="P_one-day__time">9:30</div>
            <div class="P_one-day__title">朝の集い</div>
            <div class="P_one-day__class toddler">幼児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
        <div class="P_one-day__img">
          <div class="P_one-day__deco deco8">
            <div class="C_deco__one-day-deco-8"></div>
          </div>
          <div class="P_one-day__deco arrow-left">
            <div class="C_deco__arrow-left"></div>
          </div>
          <div class="P_one-day__text-box">
            <div class="P_one-day__time">9:30</div>
            <div class="P_one-day__title">朝の集い</div>
            <div class="P_one-day__class toddler">幼児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
        <div class="P_one-day__img">
          <div class="P_one-day__deco deco9">
            <div class="C_deco__one-day-deco-9"></div>
          </div>
          <div class="P_one-day__deco arrow-right">
            <div class="C_deco__arrow-right"></div>
          </div>
          
          <div class="P_one-day__text-box right">
            <div class="P_one-day__time">9:30</div>
            <div class="P_one-day__title">朝の集い</div>
            <div class="P_one-day__class toddler">幼児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
        <div class="P_one-day__img">
          <div class="P_one-day__deco deco10">
            <div class="C_deco__one-day-deco-10"></div>
          </div>
          <div class="P_one-day__deco arrow-left">
            <div class="C_deco__arrow-left"></div>
          </div>
          <div class="P_one-day__text-box">
            <div class="P_one-day__time">9:30</div>
            <div class="P_one-day__title">朝の集い</div>
            <div class="P_one-day__class toddler">幼児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
        <div class="P_one-day__img">
          <div class="P_one-day__deco deco11">
            <div class="C_deco__one-day-deco-11"></div>
          </div>
          <div class="P_one-day__deco arrow-right">
            <div class="C_deco__arrow-right"></div>
          </div>
          <div class="P_one-day__text-box right">
            <div class="P_one-day__time">9:30</div>
            <div class="P_one-day__title">朝の集い</div>
            <div class="P_one-day__class toddler">幼児クラス</div>
            <div class="P_one-day__text">
              一人ひとりの<br>
              その日の体調を診た後<br>
              好きな遊びをします
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/side_bar_noBack',{color: ''}%>
<%= render partial: 'shared/footer_parti' %>
