.L_key-visual {
  width: 100%;
  height: 100vh;
  &__inner {
    position: relative;
		width: 100%;
		height: 100%;
  }
}

.L_inner {
	margin: 0 auto;
	padding: 0 $pd-x_sp;
	width: $layout-width-container;
	max-width: 100%;
	height: inherit;

	@include mq-up("tab") {
		padding-right: $pd-x_tab;
		padding-left: $pd-x_tab;
	}

	@include mq-up("pc") {
		padding-right: $pd-x_pc;
		padding-left: $pd-x_pc;
	}
}

.L_full {
	width: 100%;
	height: 100%;
}

.L_full-block {
	width: 100%;
	height: 100%;
	display: block;
}

.L_full-Y {
	height: 100%;
}

.L_full-X {
	width: 100%;
}

.L_inner--half-Y {
	width: 100%;
	height: 50%;
}

.L_inner--half-X {
	width: 50%;
	height: 100%;
}

.L_inner--double-X {
	width: 50%;
	height: 100%;
	@include mq-up("tab") {
		width: 100%;
	}
}

.L_inner--double-space {
	@include mq-up("pc") {
		width: calc(50% - #{$space-side}/2);
		&:last-child {
			margin: 0 0 0 $space_side;
		}
	}
}

.L_inner--triple-X {
	width: 100%;
	height: 100%;
	@include mq-up("tab") {
		width: calc(33.33% - #{$space-side} + #{$space-side}/3);
		margin: 0 $space_side 0 0;
		&:last-child {
			margin: 0 0 0 0;
		}
	}
}

.L_inner--quarter {
	width: 100%;
	height: 25%;
	@include mq-up("tab") {
		width: 50%;
		height: 50%;
	}
}

@for $x from 0 through 100 {
	@for $y from 0 through 100 {
		.L_inner--X#{$x}pct-Y#{$y}pct {
			width: 1% * $x;
			height: 1% * $y;
		}
	}
}
