.L_kv {
  width: 100%;
  height: 100vh;
  &__inner {
    position: relative;
		width: 100%;
		height: 100%;
  }
}
.L_kv-half {
  width: 100%;
  height: 50vh;
	position: relative;
	z-index: map-get($layer, 'kv');
}
.L_inner-trim {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
