.L_key-visual {
  width: 100%;
  height: 100vh;
  &__inner {
    position: relative;
		width: 100%;
		height: 100%;
  }
}

.L_inner-trim {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.L_inner-right {
	padding-top: $space_section_sp;
	order: 2;
	width: 100%;
	@include mq-up("tab") {
		width: 50%;
		padding-top: 0;
		padding-left: $space_section_sp;
		order: 0;
	}
}
.L_inner-left {
	padding-top: $space_section_sp;
	order: 2;
	width: 100%;
	@include mq-up("tab") {
		width: 50%;
		padding-top: 0;
		padding-right: $space_section_sp;
		order: 0;
	}
}
