.L_inner {
	margin: 0 auto;
	padding: 0 $pd-x-sp;
	width: $layout-width-container;
	max-width: 100%;
	height: inherit;

	@include mq-up("tab") {
		padding-right: $pd-x-tab;
		padding-left: $pd-x-tab;
	}

	@include mq-up("pc") {
		padding-right: $pd-x-pc;
		padding-left: $pd-x-pc;
	}
}

.L_inner--wide {
	width: $layout-width-container * 1.1;
}

.L_inner--narrow {
	width: $layout-width-container * 0.9;
}

.L_inner--full {
	width: 100%;
	height: 100%;
}

.L_inner--half-Y {
	width: 100%;
	height: 50%;
}

.L_inner--fullBlock {
	width: 100%;
	height: 100%;
	display: block;
}

.L_inner--fullTrimming {
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	position: relative;
	&__cover {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, $cover-opacity);
		z-index: map-get($layer, 'cover' );
	}
}

.L_inner--radius-double {
	overflow: hidden;
	// 
	background-color: grey;
// 
	width: 100%;
	height: calc(50% - #{$image_space_vertical_M}/2);
	border-radius: $border-radius;
  position: relative;
  pointer-events: none;
  &:hover &__image {
    transform: scale(1.04);
  }
	&:last-child {
		margin-top: $image_space_vertical_M;
	}
	@include mq-up("pc") {
		width: 50%;
		height: 100%;
		border-radius: $border-radius 0 0 $border-radius;
		&:last-child {
			border-radius: 0 $border-radius $border-radius 0;
			margin: 0;
		}
	}
}
.L_window-full {
	margin: 0 calc(50% - 50vw);
	overflow: hidden;
	width: 100vw;
}

.L_window-right {
	margin: 0 calc(50% - 50vw);
	overflow: hidden;
	padding: 0 0 0 calc(50vw - 50%);
	width: 100vw;
	display: block;
}

.L_window-left {
	margin: 0 calc(50% - 50vw);
	overflow: hidden;
	padding: 0 calc(50vw - 50%) 0 0;
	width: 100vw;
	display: block;
}
