.L_inner {
	margin: 0 auto;
	padding: 0 $pd-x_sp;
	width: $layout-width-container;
	max-width: 100%;
	height: inherit;

	@include mq-up("tab") {
		padding-right: $pd-x_tab;
		padding-left: $pd-x_tab;
	}

	@include mq-up("pc") {
		padding-right: $pd-x_pc;
		padding-left: $pd-x_pc;
	}
}

.L_inner--full {
	width: 100%;
	height: 100%;
}

.L_inner--full-block {
	width: 100%;
	height: 100%;
	display: block;
}

.L_inner--full-Y {
	height: 100%;
}

.L_inner--half-Y {
	width: 100%;
	height: 50%;
}

.L_inner--half-X {
	width: 50%;
	height: 100%;
}

.L_inner__cover-shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, $cover-opacity);
	z-index: map-get($layer, 'cover' );
}

@mixin L_inner--double {
	width: 100%;
	height: calc(50% - #{$space-vertical}/2);
	&:last-child {
		margin-top: $space-vertical;
	}
	@include mq-up("pc") {
		height: 100%;
	}
}

.L_inner--double-set {
	@include L_inner--double;
	@include mq-up("pc") {
		width: 50%;
		&:last-child {
			margin: 0;
		}
	}
}

.L_inner--double-space {
	@include L_inner--double;
	@include mq-up("pc") {
		width: calc(50% - #{$space-side}/2);
		&:last-child {
			margin: 0 0 0 $space_side;
		}
	}
}
