// 固定
.L_flex {
  display: flex;
}

.L_flex__grow-001 {
  flex-grow: 0.01;
}

.L_flex--wrap {
  display: flex;
  flex-wrap: wrap;
  height: inherit;
}

// 上下中央
.L_flex--middle {
  display: flex;
  align-items: center;
}

// 中央寄せ
.L_flex--center {
  display: flex;
  justify-content: center;
}

// 反転
.L_flex--reverse {
  flex-direction: row-reverse;
}

// flexアイテム
.L_flex__col {
  padding: 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  .L_flex--padding & {
    padding: 0.8em;
  }
}

// 左右端揃え
.L_flex--between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// 均等割付
.L_flex--space-around {
  display: flex;
  justify-content: space-around;
  &_pc {
    @include mq-up("pc") {
      display: flex;
      justify-content: space-around;
    }
  }
}


// 折り返し
.L_flex--wrap-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
