.L_header {
	width: 100%;
	height: $header-height_sp;
	z-index: map-get($layer, "header");
	position: fixed;
	top: 0;
	min-width: initial;
	padding: 0 12px;
	display: flex;
	justify-content: space-between;
  align-items: center;
	transition: all $anime-time-short;
	&.isMoveDown {
		top: -100px;
	}
	&.isMoveUp {
		background-color: $color-background;
		box-shadow: $shadow;
		color: $color-text;
	}
	&.isMoveTop {
		background-color: transparent;
		color: #fff;
	}
	@include mq-up("tab") {
		height: $header-height_pc;
	}
	&__inner {
		width: 100%;
		height: 100%;
		display: flex;
	}
	&__left-logo {
		margin-right: 60px;
	}
	&__link-logo {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__logo {
		width: $logo-width_sp;
		height: $logo-height_sp;
		transition: all $anime-time-short;
		@include mq-up("tab") {
			width: $logo-width_tab;
			height: $logo-height_tab;
		}
		&.isMoveUp {
			@include image;
			background: image-url('logo/nanairo_logo.png') no-repeat center center / cover;
		}
		&.isMoveTop {
			@include image;
			background: image-url('logo/nanairo_logo_white.png') no-repeat center center / cover;
		}
	}
	&__pc-nav {
		display: flex;
		justify-content: space-around;
		&-item {
			width: 100%;
			height: 100%;
			margin-right: 24px;
			&:last-of-type {
				margin-right: 0;
			}
		}
		&-text {
			display: inline-block;
			padding-top: 34px;
			padding-bottom: 31px;
			white-space: nowrap;
		}
	}
	&__sp-nav {
		width: 100%;
		position: fixed;
		top: $header-height-sp;
		z-index: map-get($layer, "header");
		transition: all $anime-time-long;
		background-color: $color-background;
		max-height: 0px;
		overflow: hidden;
		&-item {
			line-height: $header-height-sp;
			text-align: center;
			color: $color-text;
			display: flex;
			justify-content: center;
			border-top: darken($color-background, $darken) solid $border-solid-size;
			&:hover {
				background-color: darken($color-background, $darken);
			}
			&:last-of-type {
				border-bottom: #999 solid 1px;
			}
			&:last-of-type {
				border-bottom: darken($color-background, $darken) solid $border-solid-size;
			}
			&:hover {
				opacity: $opacity;
			}
		}
		&-text {
			width: 100%;
			letter-spacing: $letter-spacing-base;
			font-size: $font-size-base;
			text-align: center;
			display: block;
		}
		&::before,
		&::after {
			position: absolute;
			z-index: -1;
			display: block;
			content: '';
		}
		&,
		&::before,
		&::after {
			-webkit-transition: all $anime-time-short;
			transition: all $anime-time-short;
		}
	}
}
