@mixin l-header {
	width: 100%;
	height: $header-height-sp;
	z-index: map-get($layer, "header");
	background-color: $header-background;
	color: $header-color;
	transition: all.8s;
}
.L_header {
	@include l-header;
	@include mq-up("tab") {
		height: $header-height-pc;
	}
	&--fixed {
		@include l-header;
		position: fixed;
		top: 0;
		left: 0;
	}
}
