.L_header {
	width: 100%;
	height: $header-height_sp;
	z-index: map-get($layer, "header");
	background-color: $color-background;
	color: $color-text;
	position: fixed;
	top: 0;
	min-width: initial;
	@include mq-up("tab") {
		height: $header-height_pc;
	}
}
