.L_wrap__600 {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: content-box;
  @include mq-up("tab") {
    padding-left: 84px;
    padding-right: 84px;
  }
}
.L_wrap__1000 {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: content-box;
  @include mq-up("tab") {
    padding-left: 84px;
    padding-right: 84px;
  }
}
.L_pageTitle {
  &__headding {
    flex-direction: column;
    position: relative;
    padding-top: 130px;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    padding-right: $space-side;
    padding-left: $space-side;
    padding-bottom: $space-section;
    @include mq-up("tab") {
      padding-top: 170px;
      flex-direction: row;
      padding-right: $space-side;
      padding-left: $space-side;
      padding-bottom: $space-section;
    }
  }
  &__second {
    padding-top: $space-section / 2;
    display: flex;
    flex-direction: row-reverse;
  }
}
.L_wrap {
  display: flex;
  flex-direction: column;
  padding-left: $space-side;
  padding-right: $space-side;
	padding-top: $space-section;
  align-items: center;
  @include mq-up("pc") {
    flex-direction: row;
    align-items: self-start;
  }
  &.title {
    text-align :center;
    flex-direction: column;
    &.noSpace {
      margin-top: -2px;
    }
  }
  &.bottom {
    padding-bottom: $space-section * 2;
  }
  &.color {
    background-color: $color-background2;
  }
  &.last {
    padding-bottom: $space-section_L;
  }
}
.L_back-para {
  background-color: #fff;
  position: relative;
}
