// margin
.u-m-auto {
	margin: auto;
}

.u-mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.u-my-auto {
	margin-top: auto;
	margin-bottom: auto;
}

.u-mt-auto {
	margin-top: auto;
}

.u-mr-auto {
	margin-right: auto;
}

.u-ml-auto {
	margin-left: auto;
}

.u-mb-auto {
	margin-bottom: auto;
}

@for $i from 0 through 300 {

	.u-mx-#{$i} {
		margin-left: #{$i}px;
		margin-right: #{$i}px;
	}

	.u-my-#{$i} {
		margin-top: #{$i}px;
		margin-bottom: #{$i}px;
	}

	.u-mt-#{$i} {
		margin-top: #{$i}px;
	}

	.u-mr-#{$i} {
		margin-right: #{$i}px;
	}

	.u-mb-#{$i} {
		margin-bottom: #{$i}px;
	}

	.u-ml-#{$i} {
		margin-left: #{$i}px;
	}
}

// padding
@for $i from 0 through 100 {

	.u-px-#{$i}pct {
		padding-left: 1% * $i;
		padding-right: 1% * $i;
		&_pc {
			@include mq-up("pc") {
				padding-left: 1% * $i;
				padding-right:  1% * $i;
			}
		}
	}
	
	.u-py-#{$i}pct {
		padding-top:  1% * $i;
		padding-bottom:  1% * $i;
		&_pc {
			@include mq-up("pc") {
				padding-top:  1% * $i;
				padding-bottom:  1% * $i;
			}
		}
	}

	.u-pt-#{$i}pct {
		padding-top:  1% * $i;
		&_pc {
			@include mq-up("pc") {
				padding-top:  1% * $i;
			}
		}
	}

	.u-pr-#{$i}pct {
		padding-right:  1% * $i;
		&_pc {
			@include mq-up("pc") {
				padding-right:  1% * $i;
			}
		}
	}

	.u-pb-#{$i}pct {
		padding-bottom:  1% * $i;
		&_pc {
			@include mq-up("pc") {
				padding-bottom:  1% * $i;
			}
		}
	}

	.u-pl-#{$i}pct {
		padding-left:  1% * $i;
		&_pc {
			@include mq-up("pc") {
				padding-left:  1% * $i;
			}
		}
	}
}
// padding
@for $i from 0 through 300 {

	.u-px-#{$i} {
		padding-left: #{$i}px;
		padding-right: #{$i}px;

		&_pc {
			@include mq-up("pc") {
				padding-left: #{$i}px;
				padding-right: #{$i}px;
			}
		}
	}

	.u-py-#{$i} {
		padding-top: #{$i}px;
		padding-bottom: #{$i}px;

		&_pc {
			@include mq-up("pc") {
				padding-top: #{$i}px;
				padding-bottom: #{$i}px;
			}
		}
	}

	.u-pt-#{$i} {
		padding-top: #{$i}px;

		&_pc {
			@include mq-up("pc") {
				padding-top: #{$i}px;
			}
		}
	}

	.u-pr-#{$i} {
		padding-right: #{$i}px;

		&_pc {
			@include mq-up("pc") {
				padding-right: #{$i}px;
			}
		}
	}

	.u-pb-#{$i} {
		padding-bottom: #{$i}px;

		&_pc {
			@include mq-up("pc") {
				padding-bottom: #{$i}px;
			}
		}
	}

	.u-pl-#{$i} {
		padding-left: #{$i}px;

		&_pc {
			@include mq-up("pc") {
				padding-left: #{$i}px;
			}
		}
	}
}
