// margin
.U_m-auto {
	margin: auto;
}

.U_mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.U_my-auto {
	margin-top: auto;
	margin-bottom: auto;
}

.U_mt-auto {
	margin-top: auto;
}

.U_mr-auto {
	margin-right: auto;
}

.U_ml-auto {
	margin-left: auto;
}

.U_mb-auto {
	margin-bottom: auto;
}

@for $i from 0 through 300 {
	.U_m-#{$i} {
		margin: #{$i}px;
	}

	.U_mx-#{$i} {
		margin-left: #{$i}px;
		margin-right: #{$i}px;
	}

	.U_my-#{$i} {
		margin-top: #{$i}px;
		margin-bottom: #{$i}px;
	}

	.U_mt-#{$i} {
		margin-top: #{$i}px;
	}

	.U_mr-#{$i} {
		margin-right: #{$i}px;
	}

	.U_mb-#{$i} {
		margin-bottom: #{$i}px;
	}

	.U_ml-#{$i} {
		margin-left: #{$i}px;
	}
}

// padding
@for $i from 0 through 100 {
	.U_p-#{$i}pct {
		padding: 1% * $i;
	}
	.U_px-#{$i}pct {
		padding-left: 1% * $i;
		padding-right: 1% * $i;
	}
	.U_py-#{$i}pct {
		padding-top:  1% * $i;
		padding-bottom:  1% * $i;
	}
	.U_pt-#{$i}pct {
		padding-top:  1% * $i;
	}
	.U_pr-#{$i}pct {
		padding-right:  1% * $i;
	}
	.U_pb-#{$i}pct {
		padding-bottom:  1% * $i;
	}
	.U_pl-#{$i}pct {
		padding-left:  1% * $i;
	}
}

@for $i from 0 through 100 {
	.U_p-#{$i}pct_tab {
		@include mq-up("tab") {
			padding: 1% * $i;
		}
	}

	.U_px-#{$i}pct_tab {
		@include mq-up("tab") {
			padding-left: 1% * $i;
			padding-right: 1% * $i;
		}
	}

	.U_py-#{$i}pct_tab {
		@include mq-up("tab") {
			padding-top: 1% * $i;
			padding-bottom: 1% * $i;
		}
	}

	.U_pt-#{$i}pct_tab {
		@include mq-up("tab") {
			padding-top: 1% * $i;
		}
	}

	.U_pr-#{$i}pct_tab {
		@include mq-up("tab") {
			padding-right: 1% * $i;
		}
	}

	.U_pb-#{$i}pct_tab {
		@include mq-up("tab") {
			padding-bottom: 1% * $i;
		}
	}

	.U_pl-#{$i}pct_tab {
		@include mq-up("tab") {
			padding-left: 1% * $i;
		}
	}
}


@for $i from 0 through 100 {
	.U_p-#{$i}pct_pc {
		@include mq-up("pc") {
			padding: 1% * $i;
		}
	}
	.U_px-#{$i}pct_pc {
		@include mq-up("pc") {
			padding-left: 1% * $i;
			padding-right: 1% * $i;
		}
	}
	.U_py-#{$i}pct_pc {
		@include mq-up("pc") {
			padding-top: 1% * $i;
			padding-bottom: 1% * $i;
		}
	}
	.U_pt-#{$i}pct_pc {
		@include mq-up("pc") {
			padding-top: 1% * $i;
		}
	}
	.U_pr-#{$i}pct_pc {
		@include mq-up("pc") {
			padding-right: 1% * $i;
		}
	}
	.U_pb-#{$i}pct_pc {
		@include mq-up("pc") {
			padding-bottom: 1% * $i;
		}
	}
	.U_pl-#{$i}pct_pc {
		@include mq-up("pc") {
			padding-left: 1% * $i;
		}
	}
}

// padding
@for $i from 0 through 300 {
	.U_p-#{$i} {
		padding: #{$i}px;
	}
	.U_px-#{$i} {
		padding-left: #{$i}px;
		padding-right: #{$i}px;
	}
	.U_py-#{$i} {
		padding-top: #{$i}px;
		padding-bottom: #{$i}px;
	}
	.U_pt-#{$i} {
		padding-top: #{$i}px;
	}
	.U_pr-#{$i} {
		padding-right: #{$i}px;
	}
	.U_pb-#{$i} {
		padding-bottom: #{$i}px;
	}
	.U_pl-#{$i} {
		padding-left: #{$i}px;
	}
}
@for $i from 0 through 300 {
	.U_px-#{$i}_tab {
		@include mq-up("tab") {
			padding-left: #{$i}px;
			padding-right: #{$i}px;
		}
	}

	.U_py-#{$i}_tab {
		@include mq-up("tab") {
			padding-top: #{$i}px;
			padding-bottom: #{$i}px;
		}
	}

	.U_pt-#{$i}_tab {
		@include mq-up("tab") {
			padding-top: #{$i}px;
		}
	}

	.U_pr-#{$i}_tab {
		@include mq-up("tab") {
			padding-right: #{$i}px;
		}
	}

	.U_pb-#{$i}_tab {
		@include mq-up("tab") {
			padding-bottom: #{$i}px;
		}
	}

	.U_pl-#{$i}_tab {
		@include mq-up("tab") {
			padding-left: #{$i}px;
		}
	}
}

@for $i from 0 through 300 {
	.U_px-#{$i}_pc {
		@include mq-up("pc") {
			padding-left: #{$i}px;
			padding-right: #{$i}px;
			}
		}
	.U_py-#{$i}_pc {
		@include mq-up("pc") {
			padding-top: #{$i}px;
			padding-bottom: #{$i}px;
			}
		}
	.U_pt-#{$i}_pc {
		@include mq-up("pc") {
			padding-top: #{$i}px;
			}
		}
	.U_pr-#{$i}_pc {
		@include mq-up("pc") {
			padding-right: #{$i}px;
			}
		}
	.U_pb-#{$i}_pc {
		@include mq-up("pc") {
			padding-bottom: #{$i}px;
			}
		}
	.U_pl-#{$i}_pc {
		@include mq-up("pc") {
		padding-left: #{$i}px;
		}
	}
}
