.U_link {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
}
@mixin abs($x:50, $y:50) {
  position: absolute;
  left: 1% * $x;
  top: 1% * $y;
  transform: translateY(-1% * $y) translateX(-1% * $x);
  -webkit-transform: translateY(-1% * $y) translateX(-1% * $x);
}
// 配置
@for $x from 0 through 100 {
  @for $y from 0 through 100 {
    .U_abs-X#{$x}-Y#{$y} {
      position: absolute;
      left: 1% * $x;
      top: 1% * $y;
      transform: translate3d(-1% * $x, -1% * $y, 0);
    }
  }
}

.U_cover--shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, $cover-opacity);
  pointer-events: none;
  transition: all $anime-time-short;
  &.isActive {
    opacity: 0;
  }
}
.U_cover--shadow-white {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, $cover-opacity);
  pointer-events: none;
  transition: all $anime-time-short;
}
// .U_z-kv {
//   z-index: map-get($layer, 'kv');
// }
