$anime-time-short: 0.4s;
$anime-time-middle: 0.8s;
$anime-time-long: 1.2s;
// --------------------------------
// ポインターイベント
// --------------------------------
.A_pointer {
  cursor: pointer;
  pointer-events: auto;
}
.A_pointer--none {
  pointer-events: none;
}
// --------------------------------
// アニメーションタイム
// --------------------------------
.A_time-S {
  transition: all $anime-time-short;
  will-change: transform;
}

.A_time-M {
  transition: all $anime-time-middle;
}

.A_time-L {
  transition: all $anime-time-long;
}
// --------------------------------
// アクション(状態変更)
// --------------------------------
.A_isClear {
  opacity: 0;
}
.A_isClear--tough {
  opacity: $opacity * 0.3;
}
.A_isHide {
  opacity: 0!important;
  visibility: hidden!important;
}
.A_isInvisible {
  opacity: 0!important;
}
.A_isVisible {
  opacity: 1;
}
.A_isNone {
  display: none!important;
}
.A_isBlock {
  display: block;
}
.A_isAnimeStart {
  animation-play-state : running!important;
}
.A_isScale {
  transform: scale(1.05);
}
.A_toOpacity {
  &:hover {
    opacity: 0;
    transform: scale(1.2);
  }
}
.A_isStop{
  animation-play-state: paused!important;
}
// --------------------------------
// raindrops
// --------------------------------
.JS_raindrops_target {
  width: 100%;
  height: 100%;
  position: absolute;
}

// --------------------------------
// アクション(アニメーション)
// --------------------------------
.A_toWide {
  &:hover {
    transform: scale(1.1);
  }
}


@keyframes hover-shadow {
  0% {
    transform: translateY(6px);
    opacity: .4;
  }

  50% {
    transform: translateY(3px);
    opacity: 1;
  }
}
// --------------------------------
// フッター項目選択ホバー時のカーソル表示
// --------------------------------
.A_toCursor {
  transition: all 0.5s;
  position: relative;
  &::before{
    content:'>>';
    position: absolute;
    top: 0;
    left: 4%;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
    color: white;
    opacity: 0;
  }
  &:hover:before {
    transform: translateX(6px);
    opacity: 1;
  }
}
// --------------------------------
// スタッフ画像の切り替え
// --------------------------------
.A_changeImage{
  &__triger1 {
    opacity: 1;
    &:hover {
      opacity: 0;
    }
    &:hover ~.A_changeImage__triger2{
      opacity: 0;
    }
    &:hover ~.A_changeImage__triger3{
      opacity: 0;
    }
    &:hover ~.A_changeImage__triger4{
      opacity: 0;
    }
    &:hover ~&__target {
      opacity: 1;
    }
  }
  &__triger2 {
    opacity: 1;
    &:hover {
      opacity: 0;
    }
    &:hover~.A_changeImage__triger1 {
      opacity: 0;
    }

    &:hover~.A_changeImage__triger3 {
      opacity: 0;
    }

    &:hover~.A_changeImage__triger4 {
      opacity: 0;
    }

    &:hover~&__target {
      opacity: 1;
    }
    &:hover ~&__target {
      opacity: 1;
    }
  }
  &__triger3 {
    pointer-events: auto;
    opacity: 1;
    &:hover ~.A_changeImage__fadeOut {
      opacity: 0;
    }
    &:hover ~&__target {
      opacity: 1;
    }
  }
  &__triger4 {
    pointer-events: auto;
    opacity: 1;
    &:hover ~.A_changeImage__fadeOut {
      opacity: 0;
    }
    &:hover ~&__target {
      opacity: 1;
    }
  }
}
.A_changeImage__target {
  &1__target{
    opacity: 0;
  }
  &2__target{
    opacity: 0;
  }
  &3__target{
    opacity: 0;
  }
  &4__target{
    opacity: 0;
  }
}
.A_toChangeImage {
  &--fadeOut{
    transition: all 0.8s;
    &:hover {
      opacity: 0;
    }
  }
  &--fadeIn1:hover+&--fadeIn1__target {
    opacity: 0;
  }

  &--fadeIn2 {
    transition: all 0.8s;
    &__target{
      &:hover {
        opacity: 1;
      }
    }
  }
  &--fadeIn3 {
    transition: all 0.8s;
    &__target{
      &:hover {
        opacity: 1;
      }
    }
  }
}

// --------------------------------
// メディアクエリ
// --------------------------------
// メディアクエリの表示
@include mq-down("sp") {
	.pc-tab-only {
		display: none!important;
	}
}
@include mq-up("tab") {
	.sp-only {
		display: none!important;
	}
}
@include mq-up("pc") {
	.tab-sp-only {
		display: none!important;
	}
}
@include mq-down("tab") {
	.pc-only {
		display: none!important;
	}
}

.A_mq-show {
  &_tab {
    display: none;
  }
  &_pc {
    display: none;
  }
  &_sp {
    display: block;
  }
  @include mq-up("tab") {
    &_sp {
      display: none;
    }
    &_pc {
      display: none;
    }
    &_tab {
      display: block;
    }
  }
  @include mq-up("pc") {
    &_sp {
      display: none;
    }
    &_tab {
      display: none;
    }

    &_pc {
      display: block;
    }
  }
}

.A_mq-show-inline {
  &_tab {
    display: none;
  }

  &_pc {
    display: none;
  }

  &_sp {
    display: inline;
  }

  @include mq-up("tab") {
    &_sp {
      display: none;
    }

    &_pc {
      display: none;
    }

    &_tab {
      display: inline;
    }
  }

  @include mq-up("pc") {
    &_sp {
      display: none;
    }

    &_tab {
      display: none;
    }

    &_pc {
      display: inline;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
