// メディアクエリー（スマホベース）
@mixin mq-up($breakpoint: tab) {
	@media #{map-get($breakpoints-up, $breakpoint)} {
		@content;
	}
}

// メディアクエリー（PCベース）
@mixin mq-down($breakpoint: tab) {
	@media #{map-get($breakpoints-down, $breakpoint)} {
		@content;
	}
}

@mixin abs-full {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
