// ベース色
$color-base1: rgb(78, 144, 153);
$color-accent: #09203f;
$color-background: #fff;
$color-background_sub: #F9F9F9;
$color-text: #333;
$color-text--thin: #757575;
$color-border: #111;
$color-border--thin: #666;
$color-border--thin2:#D2D3D6;
// 透過度
$opacity: 0.7;
$cover-opacity: 0.25;

// 彩度
$darken: 12%;

// アイコン
$icon-color: #fff;

// フッター
$footer-color-base: #f2f2f2;

// ボタン (C_button)
$button-background: #757575;
$button-color: #141412;

// ボックス (U_bgc__title-box)
$title-box-color1: rgb(6, 8, 8);

// シャドウ
$shadow : rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
$shadow-strong:rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px,
  rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px,
  rgba(0, 0, 0, 0.09) 0px -3px 5px;;
