// ベース色
$color-base1: rgb(78, 144, 153);
$color-accent: #e65100;
$color-background: #fff;
$color-background_sub: #eee;
$color-text: #141412;
$color-text--thin: #757575;

// 透過度
$opacity: 0.7;
$cover-opacity: 0.25;

// 彩度
$darken: 12%;

// アイコン
$icon-color: #fff;

// ヘッダー (C_header)
$header-background: #fff;
$header-color: #fff;

// フッター
$footer-color-base: #09203f;

// ボタン (C_button)
$button-background: #757575;
$button-color: #8F8F8F;

// ボックス (U_bgc__title-box)
$title-box-color1: rgb(6, 8, 8);
