$pc: 1025px; // PCの最小
$tab: 600px;
@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (min-width: ($tab)) {
    @content;
  }
}
@mixin fz($size: 16) {
  font-size: ($size / 10) + rem;
}
html {
  font-size: 62.5%;
}
p {
  @include fz(18);
}
// ============================
// カラーリング
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
$back_color: #fff;
$back_color_sub: #eee;
$back_opacity: 0.7;
$point_color: #8F8F8F;
$font_color: #141412;
$darken: 12%;
// ============================
// サイズ
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
$font_size_M: 15px;
$font_sizeR_M: 1.5rem;
$font_sizeR_MM: 2.7rem;
$font_sizeR_LL: 4rem;
$list_height_M: 75px;
$list_letterSpace_M: 4.5px;
$header_height: 93px;
$icon-size: 2em;
$border-radius :6px;
// ============================
// z-index
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
$z_menu_hover: -1;
$z_image_under: 5;
$z_image_top: 20;
$z_image_cover: 21;
$z_catch_black_under: 23;
$z_catch_white_top: 24;
$z_mouse: 25;
$z_button_slide: 25;
$z_menu:26;
// ============================
// フォント
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
@font-face {
  font-family: 'Angelface';
  src: font-url('Angelface.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
// @font-face {
//   font-family: 'Baskerville';
//   src: font-url('Baskerville.ttc') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

$font_body:
dnp-shuei-gothic-gin-std,
YuGothic,
"游ゴシック体",
"Yu Gothic Medium",
"游ゴシック Medium",
"Yu Gothic",
"游ゴシック",
"ヒラギノ角ゴ ProN",
"Hiragino Kaku Gothic ProN",
"メイリオ",
Meiryo,
"ＭＳ Ｐゴシック",
"MS PGothic",
Arial,
Helvetica,
Verdana,
sans-serif;

$font_title: dnp-shuei-mincho-pr6n,
"Noto Serif JP",
"游明朝",
YuMincho,
"ヒラギノ明朝 ProN W3",
"Hiragino Mincho ProN",
"リュウミン R-KL",
"HG明朝E",
"ＭＳ Ｐ明朝",
"ＭＳ 明朝",
serif;

@font-face {
  font-family: 'sub-en-font';
  src: font-url('Blankid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINPro-Medium';
  src: font-url('DINPro-Medium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KozGoPr6N-Regular';
  src: font-url('KozGoPr6N-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NewBaskervilleStd-Roman';
  src: font-url('NewBaskervilleStd-Roman.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'logo-font';
  src: font-url('CastroScript_PERSONAL_USE_ONLY.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hannari';
  src: font-url('Hannari.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
