$pc: 767px; // PCの最小
$tab: 359px;
@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (min-width: ($tab)) {
    @content;
  }
}
// ============================
// カラーリング
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
$back_color: #fff;
$back_opacity: 0.7;
$point_color: #8F8F8F;
$font_color: #141412;
$darken: 12%;
// ============================
// サイズ
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
$font_size_M: 15px;
$list_height_M: 75px;
$list_letterSpace_M: 4.5px;
$header_height: 93px;
$icon-size: 2em;

@font-face {
  font-family: 'Angelface';
  src: font-url('Angelface.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
// @font-face {
//   font-family: 'Baskerville';
//   src: font-url('Baskerville.ttc') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
  font-family: 'sub-en-font';
  src: font-url('Blankid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINPro-Medium';
  src: font-url('DINPro-Medium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KozGoPr6N-Regular';
  src: font-url('KozGoPr6N-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NewBaskervilleStd-Roman';
  src: font-url('NewBaskervilleStd-Roman.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'logo-font';
  src: font-url('CastroScript_PERSONAL_USE_ONLY.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
