@import "./application.scss";
// ================================
// ヘッダー
// ================================
.top-section {
  height: 100vh;
  width: 100%;
}
header {
  position: fixed;
  top: 0px;
  max-height: $header_height;
  z-index: $z_header;
  width: 100%;
  padding-top: 4px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 4px;
  font-family: "Montserrat", sans-serif;
  &.sticky {
    background-color: rgba($back_color, $back_opacity);
    opacity: 1;
    top: 0px;
    z-index: $z_header_sticky;
  }
  .head-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      margin: 5px;
      width: 240px;
      font-weight: normal;
      padding: 10px 0;
      img {
        width: 100%;
      }
    }
  }
}
// ================================
// ハンバーガーメニューのアニメーション
// ================================
.js-click-animation {
  position: relative;
  width: 50px;
  height: 44px;
  margin: 20px;
  span {
    transition: all .4s;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 4px;
    background-color: $point_color;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
  &.active span {
    &:nth-of-type(1) {
      transform: translateY(20px) rotate(-315deg) scale(.8);
    }
    &:nth-of-type(2) {
      width: 60px;
      height: 60px;
      background-color: transparent;
      border: 4px solid $point_color;
      border-radius: 50%;
    }
    &:nth-of-type(3) {
      transform: translateY(-20px) rotate(315deg) scale(.8);
    }
  }
}
@include tab {
  .h1 {
    width: 230px;
  }
}
@include pc {
  .h1 {
    margin: 5px;
  }
  .js-click-animation {
    display: none;
  }
}
// ================================
// アコーディオンメニュー
// ================================
.home-menu-container{
  width: 100%;
  position: fixed;
  top: $header_height;
  z-index: $z_menu;
  transition: all 1.2s;
  background-color: rgba($back_color, $back_opacity);
  max-height: 0px;
  overflow: hidden;
  &.open {
    max-height: 450px;
  }
  .home-menu-item {
    height: $list_height_M;
    display: flex;
    justify-content: center;
    border-top: #999 solid 1px;
    &:hover {
      background-color: darken($back_color, $darken);
    }
    &:last-of-type {
      border-bottom: #999 solid 1px;
    }
    a {
      width: 100%;
      letter-spacing: $list_letterSpace_M;
      color: $font_color;
      font-size: $font_size_M;
      text-align: center;
      padding-top: $list_height_M / 2 - ($font_size_M / 2);
    }
    // ================================
    // ホバーアニメーション
    // ================================
    &::before,
    &::after {
      position: absolute;
      z-index: $z_menu_hover;
      display: block;
      content: '';
    }
    &,
    &::before,
    &::after {
      -webkit-transition: all .4s;
      transition: all .4s;
    }
  }
}
// ================================
// トップ画像
// ================================
// スライドショーのアニメーション
@keyframes anime-start {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }

  17% {
    opacity: 1;
  }

  25% {
    opacity: 1;
    transform: scale(1.08);
  }
  95% {
    opacity: 0;
  }
  100% {
    z-index: $z_image_under;
  }
}
@keyframes anime {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 1;
    transform: scale(1.08);
  }
  95% {
    opacity: 0;
  }
  100% {
    z-index: $z_image_under;
  }
}

// 各スライドイメージのcssと表示開始時間の生成
@mixin image_slide($number, $max, $count) {
  background: image-url('home_top_slide' + $number + '.png') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 100%;
  z-index: $z_image_top - $number;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  animation-iteration-count: infinite;
  $time : $max * 6s;
  @if $count == 0 {
    animation: anime-start $time 0s infinite;
  } @else {
    animation: anime $time 0s infinite;
  }
}
@mixin image_slide_order($start, $max, $count, $order) {
  @while $count <= ($max - 1) {
    &.slide#{$start}.order#{$order} {
      @include image_slide($start, $max, $count);
      animation-delay: $count * 6s;
      $count: $count + 1;
      $start: $start + 1;
      @if $start > $max {
        $start: 1;
      }
    }
  }
}
// マウスロゴのアニメーション
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
// イメージキャッチコピー
.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  z-index: $z_image_cover;
}
.trim-area {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#message-white,
#message-black {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 0);
  font-size: 40px;
  font-family: 'Hannari';
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 200px;
  span{
    text-align: center;
  }
}
#message-white {
  z-index: $z_catch_white_top;
  span {
    color: white;
  }
}
#message-black {
  z-index: $z_catch_black_under;
  color: black;
}

  // イメージボックスのcss
.top_image_box {
  height: 100%;
  width: 100%;
  position: relative;
  color: #fff;
  // 各イメージのアニメーション開始時間の異なるcssを動的に作成
  .top_image {
    $start: 1;
    $max: 5;
    $count: 0;
    @for $i from $start through $max {
      @include image_slide_order($start, $max, $count, $i);
      $start:$start + 1;
    }
  }
  // マウスロゴ
  .mouse {
    display: block;
    margin: 0 auto;
    width: 26px;
    height: 46px;
    border-radius: 13px;
    border: 2px solid white;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -26px;
    z-index: $z_mouse;
    span {
      display: block;
      margin: 6px auto;
      width: 2px;
      height: 2px;
      border-radius: 4px;
      background: white;
      border: 1px solid transparent;
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-name: scroll;
      z-index: $z_mouse;
    }
    &.hidden {
      display: none;
    }
  }
  // スライドの切替ボタン
  .change-slide-container {
    z-index: $z_button_slide;
    position: absolute;
    width: 30%;
    height: 100%;
    &.left {
      left: 0;
      text-align: left;
    }
    &.right {
      right: 0;
      text-align: right;
    }
    button {
      width: 100%;
      height: 100%;
    }
    i {
      color: $point_color;
      font-size: $icon-size;
      padding: 0 20px;
      opacity: $back_opacity;
    }
    &.hidden {
      display: none;
    }
  }
}
@include tab {

}
// キャッチコピー
.catch-copy-container {
  width: 100%;
  height: 100vh;
  background-color: $back_color_sub;
  opacity: $back_opacity;
}
// ================================
// メイン画面
// ================================
img {
  max-width: 100%;
  height: auto;
}
.main-section {
  display: flex;
  flex-direction: column;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  border-style: none;
  border-width: 1px;
  border-radius: 0px;
  margin: 0px;
  padding: 0 20px;
}
.preschool__wrapper {
  margin-top: 50px;
  padding: 0.6%;
  overflow: hidden;
  .preschool__item {
    position: relative;
    &:last-child {
      margin: 3rem 0 0 0;
    }
  }
}
.preschool__content {
  margin: 0 auto;
  display: block;
  text-align: center;
  h3 {
    transition: all .7s;
    font-size: 2.5rem;
    color: #fff;
    letter-spacing: 0.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 500;
    font-family: "sub-en-font";
  }
  .preschool__link {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    .action{
      transition: all .7s;
      background-color: rgba(0, 0, 0, .45);
      position: absolute;
      width: 100%;
      display: block;
      height: 100%;
      top: 0;
      border: none;
    }
  }
}
// アイテムホバー時
.preschool__item {
  overflow: hidden;
  border-radius: $border-radius;
  .preschool__scale {
    transition: all .71s;
    &:hover {
      transform: scale(1.05);
      .action {
        opacity: 0;
      }
      h3 {
        opacity: 0;
      }
    }
  }
}

@include tab {
  .preschool__item {
    &:last-child {
      margin: 3rem 0 0 0;
    }
    h3 {
      font-size: 7rem;
      letter-spacing: 0.8rem;
      transform: translate(-50%, -20%);
    }
  }
}
@include pc {
  .preschool__wrapper {
    display: flex;
    .preschool__item {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      &:last-child {
        margin: 0 0 0 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
      h3 {
        font-size: 5rem;
        letter-spacing: 0.8rem;
        transform: translate(-50%, -32%);
      }
    }
  }
}
// .a1 {
//     font-family: 'logo-font';
//     font-size: 50px;
//   }
//   .a2 {
//     font-family: "sub-en-font";
//     font-size: large;
//   }
//   .a3 {
//     font-family: "Blankid";
//     font-size: large;
//   }
//   .a4 {
//     font-family: "DINPro-Medium";
//     font-size: large;
//   }
//   .a5 {
//     font-family: "KozGoPr6N-Regular";
//     font-size: large;
//   }
//   .a6 {
//     font-family: "NewBaskervilleStd-Roman";
//     font-size: large;
//   }
