<%= render partial: 'shared/header_piani' %>
<section class="KeyVisual">
  <%#-- イメージコンテナー --%>
  <div class="P_Houjin-kv" id="JS_smoothScroll_target-0"></div>
  <div class="L_kv" id="JS_scroll-to-top_trigger-0">
      <div class="C_image__piani-kv"></div>
  </div>
</section>
