// イメージボックス
.C_box--image {
  width: $image-width;
  height: $image-height;
  overflow: hidden;
}

// テキスト
.C_box {
  display: inline-block;
  z-index: map-get($layer,'icon');
  pointer-events: none;
  padding: 5px 40px;
  white-space: nowrap;
}

.C_box--vertical {
  display: inline-block;
  z-index: map-get($layer, 'icon');
  pointer-events: none;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  padding: 40px 5px;
}

// ロゴやデコ
.C_box__shabon_SSS {
  width: $deco-width * 0.4;
  height: $deco-height * 0.4;
  z-index: map-get($layer, 'icon');
}
.C_box__shabon_SS {
  width: $deco-width * 0.6;
  height: $deco-height * 0.6;
  z-index: map-get($layer, 'icon');
}
.C_box__shabon_S {
  width: $deco-width * 0.8;
  height: $deco-height * 0.8;
  z-index: map-get($layer, 'icon');
}
.C_box__shabon_M {
  width: $deco-width;
  height: $deco-height;
  z-index: map-get($layer, 'icon');
}
.C_box__shabon_L {
  width: $deco-width * 1.2;
  height: $deco-height * 1.2;
  z-index: map-get($layer, 'icon');
}
.C_box__shabon_LL {
  width: $deco-width * 1.4;
  height: $deco-height * 1.4;
  z-index: map-get($layer, 'icon');
}
.C_box__shabon_LLL {
  width: $deco-width * 1.6;
  height: $deco-height * 1.6;
  z-index: map-get($layer, 'icon');
}
.C_box__shabon_LLLL {
  width: $deco-width * 1.8;
  height: $deco-height * 1.8;
  z-index: map-get($layer, 'icon');
}

// ボタン
.C_box--btn {
  width: $button-width * 2.2;
  height: $button-height * 2.2;
  z-index: map-get($layer,'icon');
  cursor: pointer;
}
// サイドバー
.C_box__side-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 5vw;
  height: 100%;
  background-color: $color-accent;
}
.C_box__side-bar-back {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  width: 5vw;
  height: 100%;
  background-color: $color-accent;
}
