// イメージボックス
.C_box--image {
  width: $image-width;
  height: $image-height;
  overflow: hidden;
}

// テキスト
.C_box {
  display: inline-block;
  z-index: map-get($layer,'icon');
  pointer-events: none;
  padding: 5px 40px;
  white-space: nowrap;
}

.C_box--vertical {
  display: inline-block;
  z-index: map-get($layer, 'icon');
  pointer-events: none;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  padding: 40px 5px;
}

// カード
.U_box-shadow{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.U_box-shadow2{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px,
  rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px,
  rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

// ロゴやデコ
.C_box--deco__shabon_SSS {
  width: $deco-width * 0.4;
  height: $deco-height * 0.4;
  z-index: map-get($layer, 'icon');
}
.C_box--deco__shabon_SS {
  width: $deco-width * 0.6;
  height: $deco-height * 0.6;
  z-index: map-get($layer, 'icon');
}
.C_box--deco__shabon_S {
  width: $deco-width * 0.8;
  height: $deco-height * 0.8;
  z-index: map-get($layer, 'icon');
}
.C_box--deco__shabon_M {
  width: $deco-width;
  height: $deco-height;
  z-index: map-get($layer, 'icon');
}
.C_box--deco__shabon_L {
  width: $deco-width * 1.2;
  height: $deco-height * 1.2;
  z-index: map-get($layer, 'icon');
}
.C_box--deco__shabon_LL {
  width: $deco-width * 1.4;
  height: $deco-height * 1.4;
  z-index: map-get($layer, 'icon');
}
.C_box--deco__shabon_LLL {
  width: $deco-width * 1.6;
  height: $deco-height * 1.6;
  z-index: map-get($layer, 'icon');
}
.C_box--deco__shabon_LLLL {
  width: $deco-width * 1.8;
  height: $deco-height * 1.8;
  z-index: map-get($layer, 'icon');
}


.C_box--logo {
  width: $logo-width_sp;
  height: $logo-height_sp;
  @include mq-up("tab") {
    width: $logo-width_tab;
    height: $logo-height_tab;
  }
  @include mq-up("pc") {
    width: $logo-width_pc;
    height: $logo-height_pc;
  }
}

.C_box--logo__footer {
  width: $logo-width_sp * 0.8;
  @include mq-up("tab") {
    width: $logo-width_tab * 0.8;
  }

  @include mq-up("pc") {
    width: $logo-width_pc * 0.8;
  }
}
// ボタン
.C_box--btn {
  width: $button-width * 2.2;
  height: $button-height * 2.2;
  z-index: map-get($layer,'icon');
  cursor: pointer;
}
