// ボタン
.C_box--btn {
  width: $button-width * 2.2;
  height: $button-height * 2.2;
  z-index: map-get($layer,'icon');
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1.3s cubic-bezier(0.080, 1.090, 0.320, 1.275);
}
// サイドバー
.C_box__side-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: $side-bar-size;
  height: 100%;
  background-color: $color-accent;
}
.C_box__side-bar-back {
  position: fixed;
  z-index: -3;
  top: 0;
  right: 0;
  width: $side-bar-size;
  height: 100%;
  background-color: $color-accent;
  &.color-recruit {
    background-color: $color-recruit;
  }
}
.C_box__side-bar-inner {
  position: absolute;
  top: 0;
  right: 0;
  width: $side-bar-size;
  height: 100%;
  background-color: $color-accent;
  &.color-recruit {
    background-color: $color-recruit;
  }
}
