// ハンバーガーメニュー
.C_button--hamberger {
  position: relative;
  width: $button-width;
  height: $button-height;
  &__material {
    transition: all $anime-time-short;
    position: absolute;
    width: 100%;
    height: $button-material-height;
    border-radius: $border-radius-button;
    border: none;
    background-color: $button-color;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
  &--isActive &__material {
    &:nth-of-type(1) {
      transform: translateY($button-width * 0.4) rotate(-315deg) scale(.8);
    }
    &:nth-of-type(2) {
      width: $button-width * 1.2;
      height: $button-width * 1.2;
      background-color: transparent;
      border: 4px solid $button-color;
      border-radius: 50%;
    }
    &:nth-of-type(3) {
      transform: translateY($button-width * -0.4) rotate(315deg) scale(.8);
		}
	}
}
