// ハンバーガーメニュー
.c-button--hamberger {
  position: relative;
  width: $button-width;
  height: $button-height;
  &__material {
    transition: all .4s;
    position: absolute;
    width: 100%;
    height: $button-material-height;
    border-radius: $button-radius;
    border: none;
    background-color: $button-color;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
  &.isActive &__material {
    &:nth-of-type(1) {
      transform: translateY(20px) rotate(-315deg) scale(.8);
    }
    &:nth-of-type(2) {
      width: 60px;
      height: 60px;
      background-color: transparent;
      border: 4px solid $button-color;
      border-radius: 50%;
    }
    &:nth-of-type(3) {
			transform: translateY(-20px) rotate(315deg) scale(.8);
		}
	}
}
.c-button {
	@extend %button;
}

// 影
.c-button--shadow {
	box-shadow: 0 0 3px 0 rgba(#000, 0.16);
}

// ゴースト
.c-button--goast {
	background-color: transparent;
	color: #fff;
	border-color: currentColor;
}

// アロー
.c-button--arrow {
	position: relative;
	padding-right: 2.8em;

	&::after {
		content: "";
		width: 1em;
		height: 1em;
		position: absolute;
		right: 0.4em;
		top: 50%;
		transform: translateY(-50%);
		background: transparent url(../img/arrow-right-w.png) no-repeat center center / cover;
	}
}

// 大きい
.c-button--big {
	padding: 0.5em 1.6em;
}
