// ハンバーガーメニュー
.C_Btn--hamberger {
  position: relative;
  width: $button-width;
  height: $button-height;
  &__border {
    transition: all $anime-time-short;
    position: absolute;
    width: 100%;
    height: $button-material-height;
    border-radius: $border-radius-button;
    border: none;
    background-color: $button-color;
    &.isMoveTop {
      background-color: #fff;
    }
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
    &.isOpen {
      &:nth-of-type(1) {
        transform: translateY($button-width * 0.4) rotate(-315deg) scale(.8);
      }
      &:nth-of-type(2) {
        width: $button-width * 1.2;
        height: $button-width * 1.2;
        background-color: transparent;
        border: 4px solid $button-color;
        border-radius: 50%;
      }
      &:nth-of-type(3) {
        transform: translateY($button-width * -0.4) rotate(315deg) scale(.8);
      }
    }
  }
}
// =====================================
// ホバーボタン
// =====================================
.C_Btn--white {
  pointer-events: none;
  position: relative;
  color: #fff;
  padding: 0 30px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $anime-time-middle ease-in-out;
  &:hover {
    border: rgba(255,255,255,0) 1px solid;
  }
  &:hover &__arrow{
    animation: move-left 1s linear $anime-time-short * 3 / 2 infinite normal;
  }
  &__arrow{
    position: absolute;
    width: 40px;
    height: 10px;
    top: calc(50% - 5px);
    right: -15px;
    span {
      position: absolute;
      height: 1px;
      background-color: #fff;
      transition: all $anime-time-short; 
      transform-origin: right center;     
      &:nth-of-type(1){
        width: 30px;
        top: 50%;
        right: 0;
        transform: scale(0,1);
      }
      &:nth-of-type(2) {
        width: 10px;
        top: 50%;
        right: 29px;
        transform: rotate(135deg) scale(0, 1);
      }
      &:nth-of-type(3){
        width: 10px;
        top: calc(50% - 6px);
        right: 22px;
        transform: rotate(-90deg) scale(0, 1);
      }
    }
  }
  &:hover &__arrow > span:nth-of-type(1) {
    animation: scale-border1 $anime-time-short / 2 linear $anime-time-short * 0 / 2 forwards;
  }
  &:hover &__arrow > span:nth-of-type(2) {
    animation: scale-border2 $anime-time-short / 2 linear $anime-time-short * 1 / 2 forwards;
  }
  &:hover &__arrow > span:nth-of-type(3) {
    animation: scale-border3 $anime-time-short / 2 linear $anime-time-short * 2 / 2 forwards;
  }
  &__underline {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -4px;
    right: 0;
    transform: translate(-50%, 0) scale(0, 1);
    background-color: #fff;
  }
  &:hover &__underline {
    animation: scale-border1 $anime-time-short ease-in $anime-time-middle forwards;
  }
  &__link {
    pointer-events: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
@keyframes scale-border1 {
  0% {
    transform: scale(0,1);
  }
  100% {
    transform: scale(1,1);
  }
}
@keyframes scale-border2 {
  0% {
    transform: rotate(135deg) scale(0,1);
  }
  100% {
    transform: rotate(135deg) scale(1,1);
  }
}
@keyframes scale-border3 {
  0% {
    transform: rotate(-90deg) scale(0,1);
  }
  100% {
    transform: rotate(-90deg) scale(1,1);
  }
}
@keyframes move-left {
  0%{
    transform:translate3d(0,0,0); 
  }
  20%{
    transform:translate3d(-20%,0,0); 
  }
  80%{
    transform:translate3d(20%,0,0); 
  }
  100%{
    transform:translate3d(0,0,0); 
  }
}
.C_Btn__side-nav {
  z-index: map-get($layer, 'icon');
  position: fixed;
  bottom: 3%;
  right: 3%;
  max-height: 35px;
  max-width: 35px;
  opacity: 0.4;
  border-radius: 50%;
  transition: .5s;
  transform-origin: right bottom;
  background-color: $color-text;
  &.blue {
    background-color: $color-blue-back;
    opacity: 0.9;
  }
  @include mq-up("tab") {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    border-radius: initial;
    max-width: initial;
    max-height: initial;
    left: 0;
    bottom: 0;
  }
  &:hover &-title{
    opacity: 1;
    @include mq-up("tab") {
      opacity: 0;
    }
  }
  &-btn {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    &.isActive {
      display: none;
    }
  }
  &.isActive {
    opacity: 0.7;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    padding: 20px 18px;
    pointer-events: none;
    &.blue {
      opacity: 0.9;
    }
  }
  &.isHide {
    opacity: 0;
  }
  &-list {
    opacity: 0;
    color: white;
    @include mq-up("tab") {
      opacity: 1;
      padding-left: 25px;
      pointer-events: auto;
      cursor: pointer;
    }
    &.isActive {
      pointer-events: auto;
      opacity: 1;
      line-height: 190%;
      cursor: pointer;
      &.icon {
        font-size: 15px;
        position: absolute;
        bottom: -1px;
        right: 8px;
        transform: rotate(-45deg);
      }
    }
  }
  &-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: .3s;
    &.isActive {
      display: none;
    }
  }
}
