// ニュッと伸びるカード
.C_card--border-stretch {
	display: block;
	height: 100%;
	margin: 0 auto;
	&:hover &__text-top::after {
		transform-origin: left top;
		transform: scale(1, 1);
		height: 2px;
		left: 0;
		bottom: 0
	}
	&__text-top {
		text-align: center;
		padding-bottom: 15px;
		content: '';
		position: absolute;
		width: 100%;
		font-size: $font-size-base * 1.8;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			background-color: #333;
			transform: scale(0.1, 1);
			transform-origin: left top;
			transition: transform $anime-time-short;
			height: 2px;
			left: 0;
			bottom: 0
		}
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			background-color: #888;
			transform: scale(1, 1);
			height: 2px;
			left: 0;
			bottom: 0;
		}
	}
	&__text-bottom {
		text-align: center;
		height: 50%;
		padding-top: 20px;
		font-size: $font-size-base;
		letter-spacing: $letter-spacing-base;
	}
}
