.C_Card__job-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: $shadow;
  padding: 20px 10px;
  border-radius: 5px;
  &__title-box {
    width: 200px;
    height: 30px;
    margin: 0 auto;
    background-color: $color-accent;
    border-radius: $border-radius-half;
  }
  &__title {
    text-align: center;
    font-size: $font-size-base;
    color: #fff;
    padding-top: 2px;
  }
  &__title-en {
    font-size: $font-size-base * 0.8;
    text-align: center;
    padding-top: 5px;
  }
  &__content-title {
    font-weight: bold;
    font-size: $font-size-base;
  }
  &__content-text {
    font-size: $font-size-base;
  }
}
