.C_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: map-get($layer, 'cover' );
  &.--shadow {
    background-color: rgba(0, 0, 0, $cover-opacity);
    &-white {
      background-color: rgba(255, 255, 255, $cover-opacity);
    }
  }
}
