@mixin S3_image($url) {
  background: url('https://nanairo-dokyoji.s3-ap-northeast-1.amazonaws.com/images/#{$url}');
}
@mixin image-base {
  background-position: center;
  -webkit-background-position: center;
  -moz-background-position: center;
  background-repeat: no-repeat;
  -webkit-background-repeat: no-repeat;
  -moz-background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@mixin image {
  @include image-base();
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  position: absolute;
}
@mixin image-contain {
  @include image-base;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  position: absolute;
}
@mixin image-para {
  @include image-base;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 100vh;
  position: fixed;
  z-index: -1;
  content: "";
  display: block;
}
.C_deco {
  &__features__play {
    &-1-L {
      @include S3_image('deco/features/play_deco1-L.svg');
      @include image-contain;
    }
    &-1-R {
      @include S3_image('deco/features/play_deco1-R.svg');
      @include image-contain;
    }
    &-2-L {
      @include S3_image('deco/features/play_deco2-L.svg');
      @include image-contain;
    }
    &-2-R {
      @include S3_image('deco/features/play_deco2-R.svg');
      @include image-contain;
    }
    &-3-L {
      @include S3_image('deco/features/play_deco3-L.svg');
      @include image-contain;
    }
    &-3-R {
      @include S3_image('deco/features/play_deco3-R.svg');
      @include image-contain;
    }
    &-4-L {
      @include S3_image('deco/features/play_deco4-L.svg');
      @include image-contain;
    }
    &-4-R {
      @include S3_image('deco/features/play_deco4-R.svg');
      @include image-contain;
    }
  }
  &__features__courtesy {
    &-1-R {
      @include S3_image('deco/features/courtesy_deco1-R.svg');
      @include image-contain;
    }
    &-2-L {
      @include S3_image('deco/features/courtesy_deco2-L.svg');
      @include image-contain;
    }
    &-2-R {
      @include S3_image('deco/features/courtesy_deco2-R.svg');
      @include image-contain;
    }
    &-3-L {
      @include S3_image('deco/features/courtesy_deco3-L.svg');
      @include image-contain;
    }
    &-3-R {
      @include S3_image('deco/features/courtesy_deco3-R.svg');
      @include image-contain;
    }
    &-4-L {
      @include S3_image('deco/features/courtesy_deco4-L.svg');
      @include image-contain;
    }
    &-4-R {
      @include S3_image('deco/features/courtesy_deco4-R.svg');
      @include image-contain;
    }
  }
  &__features__environment {
    &-1-L {
      @include S3_image('deco/features/environment_deco1-L.svg');
      @include image-contain;
    }
    &-1-R {
      @include S3_image('deco/features/environment_deco1-R.svg');
      @include image-contain;
    }
    &-2-L {
      @include S3_image('deco/features/environment_deco2-L.svg');
      @include image-contain;
    }
    &-2-R {
      @include S3_image('deco/features/environment_deco2-R.svg');
      @include image-contain;
    }
    &-3-L {
      @include S3_image('deco/features/environment_deco3-L.svg');
      @include image-contain;
    }
    &-3-R {
      @include S3_image('deco/features/environment_deco3-R.svg');
      @include image-contain;
    }
    &-4-L {
      @include S3_image('deco/features/environment_deco4-L.svg');
      @include image-contain;
    }
    &-4-R {
      @include S3_image('deco/features/environment_deco4-R.svg');
      @include image-contain;
    }
    &-5-L {
      @include S3_image('deco/features/environment_deco5-L.svg');
      @include image-contain;
    }
    &-5-R {
      @include S3_image('deco/features/environment_deco5-R.svg');
      @include image-contain;
    }
  }
  &__features__expression {
    &-1-L {
      @include S3_image('deco/features/expression_deco1-L.svg');
      @include image-contain;
    }
    &-1-R {
      @include S3_image('deco/features/expression_deco1-R.svg');
      @include image-contain;
    }
    &-2-L {
      @include S3_image('deco/features/expression_deco2-L.svg');
      @include image-contain;
    }
    &-2-R {
      @include S3_image('deco/features/expression_deco2-R.svg');
      @include image-contain;
    }
    &-3-L {
      @include S3_image('deco/features/expression_deco3-L.svg');
      @include image-contain;
    }
    &-3-R {
      @include S3_image('deco/features/expression_deco3-R.svg');
      @include image-contain;
    }
    &-4-R {
      @include S3_image('deco/features/expression_deco4-R.svg');
      @include image-contain;
    }
  }
  &__features__together {
    &-1-L {
      @include S3_image('deco/features/together_deco1-L.svg');
      @include image-contain;
    }
    &-1-R {
      @include S3_image('deco/features/together_deco1-R.svg');
      @include image-contain;
    }
    &-2-L {
      @include S3_image('deco/features/together_deco2-L.svg');
      @include image-contain;
    }
    &-2-R {
      @include S3_image('deco/features/together_deco2-R.svg');
      @include image-contain;
    }
    &-3-L {
      @include S3_image('deco/features/together_deco3-L.svg');
      @include image-contain;
    }
    &-3-R {
      @include S3_image('deco/features/together_deco3-R.svg');
      @include image-contain;
    }
  }
  &__jagged1 {
    @include S3_image('deco/public/jagged1.svg');
    @include image-contain;
  }
  &__babble1 {
    @include S3_image('deco/public/babble1.svg');
    @include image-contain;
  }
  &__triangle1 {
    @include S3_image('deco/public/triangle1.svg');
    @include image-contain;
  }
  &__dots1 {
    @include S3_image('deco/public/dots1.svg');
    @include image-contain;
  }
  &__wave-line1 {
    @include S3_image('deco/public/wave-line1.svg');
    @include image-contain;
  }
  &__wave-line2 {
    @include S3_image('deco/public/wave-line2.svg');
    @include image-contain;
  }
  &__text-shine1 {
    @include S3_image('deco/public/text-shine1.svg');
    @include image-contain;
  }
  &__text-shine2 {
    @include S3_image('deco/public/text-shine2.svg');
    @include image-contain;
  }
  &__text-shine3 {
    @include S3_image('deco/public/text-shine3.svg');
    @include image-contain;
  }
  &__text-shine4 {
    @include S3_image('deco/public/text-shine4.svg');
    @include image-contain;
  }
  &__paint {
    @include S3_image('deco/public/paint.svg');
    @include image-contain;
  }
  &__instagram {
    @include S3_image('deco/public/instagram.svg');
    @include image-contain;
  }
  &__sparkle1 {
    @include S3_image('deco/public/sparkle1.svg');
    @include image-contain;
  }
  &__sparkle2 {
    @include S3_image('deco/public/sparkle2.svg');
    @include image-contain;
  }
  &__one-day-deco-1 {
    @include S3_image('deco/one_day/one_day_deco-1.svg');
    @include image-contain;
  }
  &__one-day-deco-2 {
    @include S3_image('deco/one_day/one_day_deco-2.svg');
    @include image-contain;
  }
  &__one-day-deco-3 {
    @include S3_image('deco/one_day/one_day_deco-3.svg');
    @include image-contain;
  }
  &__one-day-deco-4 {
    @include S3_image('deco/one_day/one_day_deco-4.svg');
    @include image-contain;
  }
  &__one-day-deco-5 {
    @include S3_image('deco/one_day/one_day_deco-5.svg');
    @include image-contain;
  }
  &__one-day-deco-6 {
    @include S3_image('deco/one_day/one_day_deco-6.svg');
    @include image-contain;
  }
  &__one-day-deco-7 {
    @include S3_image('deco/one_day/one_day_deco-7.svg');
    @include image-contain;
  }
  &__one-day-deco-8 {
    @include S3_image('deco/one_day/one_day_deco-8.svg');
    @include image-contain;
  }
  &__one-day-deco-9 {
    @include S3_image('deco/one_day/one_day_deco-9.svg');
    @include image-contain;
  }
  &__one-day-deco-10 {
    @include S3_image('deco/one_day/one_day_deco-10.svg');
    @include image-contain;
  }
  &__one-day-deco-11 {
    @include S3_image('deco/one_day/one_day_deco-11.svg');
    @include image-contain;
  }
  &__arrow-right {
    @include S3_image('deco/one_day/arrow-right.svg');
    @include image-contain;
  }
  &__arrow-right-L {
    @include S3_image('deco/one_day/arrow-right-L.svg');
    @include image-contain;
  }
  &__arrow-left {
    @include S3_image('deco/one_day/arrow-left.svg');
    @include image-contain;
  }
  &__arrow-left {
    @include S3_image('deco/public/arrow-bottom.svg');
    @include image-contain;
  }
  &__cloud1 {
    @include S3_image('deco/public/cloud1.svg');
    @include image-contain;
  }
  &__cloud2 {
    @include S3_image('deco/public/cloud2.svg');
    @include image-contain;
  }
  &__cloud3 {
    @include S3_image('deco/public/cloud3.svg');
    @include image-contain;
  }
  &__cloud4 {
    @include S3_image('deco/public/cloud4.svg');
    @include image-contain;
  }
  &__cloud5 {
    @include S3_image('deco/public/cloud5.svg');
    @include image-contain;
  }
  &__arrow-down {
    @include S3_image('deco/public/arrow-down.svg');
    @include image-contain;
  }
  &__symbols1 {
    @include S3_image('deco/public/symbols.svg');
    @include image-contain;
  }
  &__under-arrow {
    @include S3_image('deco/public/under-arrow.svg');
    @include image-contain;
  }
  &__leaf1 {
    @include S3_image('deco/public/leaf1.png');
    @include image-contain;
  }
  &__leaf2 {
    @include S3_image('deco/public/leaf2.png');
    @include image-contain;
  }
  &__birds {
    @include S3_image('deco/public/birds.svg');
    @include image-contain;
  }
  &__rain {
    @include S3_image('deco/public/rain.svg');
    @include image-contain;
  }
}
