@mixin C_icon($icon-width:$icon-width_M, $icon-height:$icon-height_M){
	display: inline-block;
	width: $icon-width;
	height: $icon-height;
	font-size: $icon-font;
	position: relative;
	overflow: hidden;
	z-index: map-get($layer,'mouse');
	margin: 0 auto;
}
// スクロールするマウスロゴ
.C_icon-mouse {
	@include C_icon($icon-width_S, $icon-height_L);
  border-radius: 13px;
	border: 2px solid $icon-color;	
  position: absolute;
  bottom: 40px;
	left: 50%;
  margin-left: -26px;
	transition: all $anime-time-middle;
  &.isMoveTop{
    opacity: 1;
  }
  &.isMoveUp{
    opacity: 0;
  }
  &.isMoveDown{
    opacity: 0;
  }
  &__material {
    display: block;
    z-index: map-get($layer, 'mouse');
    margin: 6px auto;
    width: 2px;
    height: 2px;
    border-radius: 4px;
    background: $icon-color;
    border: 1px solid transparent;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: mouse-scroll;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
.C_icon__to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 5vw;
  height: 225px;
  margin-bottom: 20px;
  text-align: center;
  transition: all $anime-time-middle;
  &.isPassive-top {
    bottom: 50%;
    opacity: 0;
  }
  &.isPassive-bottom {
    bottom: -50%;
    opacity: 0;
  }
  &__link {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    writing-mode: vertical-rl;
    color: #fff;
    &:hover .C_icon__to-top__border {
      animation: icon__to-top 1.3s linear infinite;
    }
  }
  &__border-box {
    height: 45px;
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  &__border {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 200%;
    background: #fff;
  }
  &__text {
    font-size: $font-size-base * 1.25;
    letter-spacing: $letter-spacing-base;
  }
}
@keyframes icon__to-top{
  0% {
    transform:translate3d(0,0,0);
  }
  100% {
    transform:translate3d(0,-200%,0);
  }
}
