.C_image__para {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
}
.C_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.C_image__contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
// --------------------------------
// ロゴ
// --------------------------------
.C_image {
  &__logo {
    @include S3_image('logo/nanairo_logo.png');
    @include image-contain;
    &-piani {
      @include S3_image('logo/piani_logo_under.svg');
      @include image-contain;
    }
    &-parti {
      @include S3_image('logo/parti_logo_under.svg');
      @include image-contain;
    }
  }
}
