.C_image__para {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  &_pc {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    @include mq-up("pc") {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      position: absolute;
      z-index: -1;
      top: 0;
    }
  }
}
.C_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.C_image__radius5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  overflow: hidden;
}
.C_image__radius20 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  overflow: hidden;
}
.C_image__contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}
// --------------------------------
// ロゴ
// --------------------------------
.C_image {
  &__logo {
    @include S3_image('logo/nanairo_logo.png');
    @include image-contain;
    &-piani {
      @include S3_image('logo/piani_logo_under.svg');
      @include image-contain;
    }
    &-parti {
      @include S3_image('logo/parti_logo_under.svg');
      @include image-contain;
    }
  }
}
