// --------------------------------
// ロゴ
// --------------------------------
.C_image {
  &__logo {
    @include S3_image('logo/nanairo_logo.png');
    @include image-contain;
    &-piani {
      @include S3_image('logo/piani_logo_under.svg');
      @include image-contain;
    }
    &-parti {
      @include S3_image('logo/parti_logo_under.svg');
      @include image-contain;
    }
  }
}
// --------------------------------
// トップ画面キーヴィジュアル
// --------------------------------
.C_image__top-kv {
  &__nanairo {
    @include S3_image('top-kv/nanairo_sp.jpg');
    @include image-para;
    @include mq-up("tab") {
      @include S3_image('top-kv/nanairo_pc.jpg');
      @include image-para;
    }
  }
  &__parti {
    @include S3_image('top-kv/parti.jpg');
    @include image;
  }
  &__piani {
    @include S3_image('top-kv/piani.jpg');
    @include image;
    filter: saturate(120%);
    background-position: 62%;
    @include mq-up("tab") {
      background-position: 55%;
    }
    @include mq-up("pc") {
      background-position: center;
    }
  }
}
// --------------------------------
// トップ画面サブイメージ
// --------------------------------
.C_image__top-sub {
  &__parti {
    &__large {
      @include S3_image('top-sub/parti_large.jpg');
      @include image;
    }
    &__small_0 {
      @include S3_image('top-sub/parti_small_0.jpg');
      @include image;
    }
    &__small_1 {
      @include S3_image('top-sub/parti_small_1.jpg');
      @include image;
    }
    &__small_2 {
      @include S3_image('top-sub/parti_small_2.jpg');
      @include image;
    }
  }
  &__piani {
    &__large {
      @include S3_image('top-sub/piani_large.jpg');
      @include image;
    }
    &__small_0 {
      @include S3_image('top-sub/piani_small_0.jpg');
      @include image;
    }
    &__small_1 {
      @include S3_image('top-sub/piani_small_1.jpg');
      @include image;
    }
  }
}
// --------------------------------
// 施設
// --------------------------------
.C_image__facility {
  &__parti {
    @include S3_image('facility/parti.jpg');
    @include image;
  }
  &__piani {
    @include S3_image('facility/piani.jpg');
    @include image;
  }
}
// --------------------------------
// 入園をお考えの方へ
// --------------------------------
.C_image__admission {
  &__nanairo__banner {
    @include S3_image('admission/nanairo_banner.jpg');
    @include image;
  }
  &__banner {
    @include S3_image('admission/banner.jpg');
    @include image;
  }
  &__kv {
    @include S3_image('admission/kv.jpg');
    @include image-para;
  }
  &__group-life {
    @include S3_image('admission/group-life.jpg');
    @include image;
    background-position-y: 39%;
    @include mq-up("pc") {
      background-position-y: 50%; 
    }
  }
  &__child-facility {
    @include S3_image('admission/child-facility.jpg');
    @include image;
    @include mq-up("pc") {
      background-position-y: 63%;
    }
  }
  &__parti {
    &__uniform-summer {
      @include S3_image('admission/parti_uniform-summer.jpg');
      @include image;
    }
    &__uniform-winter {
      @include S3_image('admission/parti_uniform-winter.jpg');
      @include image;
    }
  }
  &__piani {
    &__uniform-summer {
      @include S3_image('admission/piani_uniform-summer.jpg');
      @include image;
    }
    &__uniform-winter {
      @include S3_image('admission/piani_uniform-winter.jpg');
      @include image;
    }
  }
}
// --------------------------------
// 就職をお考えの方へ
// --------------------------------
.C_image__recruit {
  &__kv {
    @include S3_image('recruit/kv_sp.jpg');
    @include mq-up("tab") {
      @include S3_image('recruit/kv_pc.jpg');
      @include image;
      @include mq-up("pc") {
        background-position-y: 20%;
      }
    }
    @include image;
  }
  &__sub {
    @include S3_image('recruit/sub.jpg');
    @include image;
  }
  &__banner {
    @include S3_image('recruit/banner.jpg');
    @include image;
  }
  &__photo-main {
    @include S3_image('recruit/banner.jpg');
    @include image;
    background-position-X: 27%;
  }
  &__photo-sub {
    @include S3_image('recruit/sub.jpg');
    @include image;
    background-position-X: 38%;
  }
  &__parti {
    &__staff_0 {
      @include S3_image('recruit/parti_staff_0.jpg');
      @include image;
      transition: all $anime-time-short;
    }
    &__staff_1 {
      @include S3_image('recruit/parti_staff_1.jpg');
      @include image;
      transition: all $anime-time-short;
    }
    &__staff_2 {
      @include S3_image('recruit/parti_staff_2.jpg');
      @include image;
      transition: all $anime-time-short;
    }
    &__staff_3 {
      @include S3_image('recruit/parti_staff_3.jpg');
      @include image;
      transition: all $anime-time-short;
    }
  }
  &__piani {
    &__staff_0 {
      @include S3_image('recruit/piani_staff_0.jpg');
      @include image;
      transition: all $anime-time-short;
    }
    &__staff_1 {
      @include S3_image('recruit/piani_staff_1.jpg');
      @include image;
      transition: all $anime-time-short;
    }
    &__staff_2 {
      @include S3_image('recruit/piani_staff_2.jpg');
      @include image;
      transition: all $anime-time-short;
    }
    &__staff_3 {
      @include S3_image('recruit/piani_staff_3.jpg');
      @include image;
      transition: all $anime-time-short;
    }
  }
  &__nanairo {
    &__staff_0 {
      @include S3_image('recruit/parti_staff_0.jpg');
      @include image;
      transition: all $anime-time-short;
    }
    &__staff_1 {
      @include S3_image('recruit/piani_staff_1.jpg');
      @include image;
      transition: all $anime-time-short;
    }
    &__staff_2 {
      @include S3_image('recruit/parti_staff_2.jpg');
      @include image;
      transition: all $anime-time-short;
    }
    &__staff_3 {
      @include S3_image('recruit/piani_staff_3.jpg');
      @include image;
      transition: all $anime-time-short;
    }
  }
}
// --------------------------------
// 概要
// --------------------------------
.C_image__about {
  &__kv {
    @include S3_image('about/kv.jpg');
    @include image-para;
  }
  &__greeting {
    @include S3_image('about/greeting.jpg');
    @include image;
  }
  &__overview {
    @include S3_image('about/overview.jpg');
    @include image;
  }
  &__banner {
    @include S3_image('about/banner.jpg');
    @include image;
  }
  &__map {
    &__parti {
      &__1F {
        @include S3_image('about/parti_map_1F.png');
        @include image-contain;
        &_0 {
          @include S3_image('about/parti_map_1F_0.jpg');
          @include image;
        }
        &_1 {
          @include S3_image('about/parti_map_1F_1.jpg');
          @include image;
        }
        &_2 {
          @include S3_image('about/parti_map_1F_2.jpg');
          @include image;
        }
        &_3 {
          @include S3_image('about/parti_map_1F_3.jpg');
          @include image;
        }
        &_4 {
          @include S3_image('about/parti_map_1F_4.jpg');
          @include image;
        }
        &_5 {
          @include S3_image('about/parti_map_1F_5.jpg');
          @include image;
        }
        &_6 {
          @include S3_image('about/parti_map_1F_6.jpg');
          @include image;
        }
        &_7 {
          @include S3_image('about/parti_map_1F_7.jpg');
          @include image;
        }
        &_8 {
          @include S3_image('about/parti_map_1F_8.jpg');
          @include image;
        }
      }
      &__2F {
        @include S3_image('about/parti_map_2F.png');
        @include image-contain;
        &_0 {
          @include S3_image('about/parti_map_2F_0.jpg');
          @include image;
        }
        &_1 {
          @include S3_image('about/parti_map_2F_1.jpg');
          @include image;
        }
        &_2 {
          @include S3_image('about/parti_map_2F_2.jpg');
          @include image;
        }
        &_3 {
          @include S3_image('about/parti_map_2F_3.jpg');
          @include image;
        }
        &_4 {
          @include S3_image('about/parti_map_2F_4.jpg');
          @include image;
        }
        &_5 {
          @include S3_image('about/parti_map_2F_5.jpg');
          @include image;
        }
      }
    }
    &__piani {
      &__1F {
        @include S3_image('about/piani_map_1F.png');
        @include image-contain;
        &_0 {
          @include S3_image('about/piani_map_1F_0.jpg');
          @include image;
        }
        &_1 {
          @include S3_image('about/piani_map_1F_1.jpg');
          @include image;
        }
        &_2 {
          @include S3_image('about/piani_map_1F_2.jpg');
          @include image;
        }
        &_3 {
          @include S3_image('about/piani_map_1F_3.jpg');
          @include image;
        }
        &_4 {
          @include S3_image('about/piani_map_1F_4.jpg');
          @include image;
        }
        &_5 {
          @include S3_image('about/piani_map_1F_5.jpg');
          @include image;
        }
        &_6 {
          @include S3_image('about/piani_map_1F_6.jpg');
          @include image;
        }
      }
      &__2F {
        @include S3_image('about/piani_map_2F.png');
        @include image-contain;
        &_0 {
          @include S3_image('about/piani_map_2F_0.jpg');
          @include image;
        }
        &_1 {
          @include S3_image('about/piani_map_2F_1.jpg');
          @include image;
        }
        &_2 {
          @include S3_image('about/piani_map_2F_2.jpg');
          @include image;
        }
        &_3 {
          @include S3_image('about/piani_map_2F_3.jpg');
          @include image;
        }
        &_4 {
          @include S3_image('about/piani_map_2F_4.jpg');
          @include image;
        }
      }
    }
  }
}
// --------------------------------
// 理念(法人)
// --------------------------------
.C_image__vision {
  &__kv {
    @include S3_image('vision/kv.jpg');
    @include image-para;
  }
  &__play {
    @include S3_image('vision/play.jpg');
    @include image;
  }
  &__friend {
    @include S3_image('vision/friend.jpg');
    @include image;
  }
  &__kind {
    @include S3_image('vision/kind.jpg');
    @include image;
  }
  &__sky {
    @include S3_image('vision/sky.jpg');
    @include image;
  }
}
// --------------------------------
// 特色
// --------------------------------
.C_image__features {
  &__parti {
    &__courtesy {
      @include S3_image('features/parti_courtesy.jpg');
      @include image;
      &_0-0 {
        @include S3_image('features/parti_courtesy_0-0.jpg');
        @include image;
      }
      &_0-1 {
        @include S3_image('features/parti_courtesy_0-1.jpg');
        @include image;
      }
      &_0-2 {
        @include S3_image('features/parti_courtesy_0-2.jpg');
        @include image;
      }
      &_1-0 {
        @include S3_image('features/parti_courtesy_1-0.jpg');
        @include image;
      }
      &_1-1 {
        @include S3_image('features/parti_courtesy_1-1.jpg');
        @include image;
      }
      &_1-2 {
        @include S3_image('features/parti_courtesy_1-2.jpg');
        @include image;
      }
      &_2-0 {
        @include S3_image('features/parti_courtesy_2-0.jpg');
        @include image;
      }
      &_2-1 {
        @include S3_image('features/parti_courtesy_2-1.jpg');
        @include image;
      }
      &_2-2 {
        @include S3_image('features/parti_courtesy_2-2.jpg');
        @include image;
      }
      &_3 {
        @include S3_image('features/parti_courtesy_3.jpg');
        @include image;
      }
    }
    &__environment {
      @include S3_image('features/parti_environment.jpg');
      @include image;
      &_0 {
        @include S3_image('features/parti_environment_0.jpg');
        @include image;
      }
      &_1-0 {
        @include S3_image('features/parti_environment_1-0.jpg');
        @include image;
      }
      &_1-1 {
        @include S3_image('features/parti_environment_1-1.jpg');
        @include image;
      }
      &_1-2 {
        @include S3_image('features/parti_environment_1-2.jpg');
        @include image;
      }
      &_2-0 {
        @include S3_image('features/parti_environment_2-0.jpg');
        @include image;
      }
      &_2-1 {
        @include S3_image('features/parti_environment_2-1.jpg');
        @include image;
      }
      &_3-0 {
        @include S3_image('features/parti_environment_3-0.jpg');
        @include image;
      }
      &_3-1 {
        @include S3_image('features/parti_environment_3-1.jpg');
        @include image;
      }
      &_3-2 {
        @include S3_image('features/parti_environment_3-2.jpg');
        @include image;
      }
      &_4-0 {
        @include S3_image('features/parti_environment_4-0.jpg');
        @include image;
      }
      &_4-1 {
        @include S3_image('features/parti_environment_4-1.jpg');
        @include image;
      }
      &_4-2 {
        @include S3_image('features/parti_environment_4-2.jpg');
        @include image;
      }
    }
    &__expression {
      @include S3_image('features/parti_expression.jpg');
      @include image;
      &_0 {
        @include S3_image('features/parti_expression_0.jpg');
        @include image;
      }
      &_1-0 {
        @include S3_image('features/parti_expression_1-0.jpg');
        @include image;
      }
      &_1-1 {
        @include S3_image('features/parti_expression_1-1.jpg');
        @include image;
      }
      &_2-0 {
        @include S3_image('features/parti_expression_2-0.jpg');
        @include image;
      }
      &_2-1 {
        @include S3_image('features/parti_expression_2-1.jpg');
        @include image;
      }
      &_2-2 {
        @include S3_image('features/parti_expression_2-2.jpg');
        @include image;
      }
      &_3-0 {
        @include S3_image('features/parti_expression_3-0.jpg');
        @include image;
      }
      &_3-1 {
        @include S3_image('features/parti_expression_3-1.jpg');
        @include image;
      }
      &_3-2 {
        @include S3_image('features/parti_expression_3-2.jpg');
        @include image;
      }
    }
    &__play {
      @include S3_image('features/parti_play.jpg');
      @include image;
      &_0 {
        @include S3_image('features/parti_play_0.jpg');
        @include image;
      }
      &_1-0 {
        @include S3_image('features/parti_play_1-0.jpg');
        @include image;
      }
      &_1-1 {
        @include S3_image('features/parti_play_1-1.jpg');
        @include image;
      }
      &_1-2 {
        @include S3_image('features/parti_play_1-2.jpg');
        @include image;
      }
      &_2-0 {
        @include S3_image('features/parti_play_2-0.jpg');
        @include image;
      }
      &_2-1 {
        @include S3_image('features/parti_play_2-1.jpg');
        @include image;
      }
      &_2-2 {
        @include S3_image('features/parti_play_2-2.jpg');
        @include image;
      }
      &_3-0 {
        @include S3_image('features/parti_play_3-0.jpg');
        @include image;
      }
      &_3-1 {
        @include S3_image('features/parti_play_3-1.jpg');
        @include image;
      }
      &_3-2 {
        @include S3_image('features/parti_play_3-2.jpg');
        @include image;
      }
    }
    &__together {
      @include S3_image('features/parti_together.jpg');
      @include image;
      &_0 {
        @include S3_image('features/parti_together_0.jpg');
        @include image;
      }
      &_1-0 {
        @include S3_image('features/parti_together_1-0.jpg');
        @include image;
      }
      &_1-1 {
        @include S3_image('features/parti_together_1-1.jpg');
        @include image;
      }
      &_2-0 {
        @include S3_image('features/parti_together_2-0.jpg');
        @include image;
      }
      &_2-1 {
        @include S3_image('features/parti_together_2-1.jpg');
        @include image;
      }
      &_2-2 {
        @include S3_image('features/parti_together_2-2.jpg');
        @include image;
      }
    }
  }
  &__piani {
    &__courtesy {
      @include S3_image('features/piani_courtesy.jpg');
      @include image;
      &_0-0 {
        @include S3_image('features/piani_courtesy_0-0.jpg');
        @include image;
      }
      &_0-1 {
        @include S3_image('features/piani_courtesy_0-1.jpg');
        @include image;
      }
      &_0-2 {
        @include S3_image('features/piani_courtesy_0-2.jpg');
        @include image;
      }
      &_1-0 {
        @include S3_image('features/piani_courtesy_1-0.jpg');
        @include image;
      }
      &_1-1 {
        @include S3_image('features/piani_courtesy_1-1.jpg');
        @include image;
      }
      &_1-2 {
        @include S3_image('features/piani_courtesy_1-2.jpg');
        @include image;
      }
      &_2-0 {
        @include S3_image('features/piani_courtesy_2-0.jpg');
        @include image;
      }
      &_2-1 {
        @include S3_image('features/piani_courtesy_2-1.jpg');
        @include image;
      }
      &_2-2 {
        @include S3_image('features/piani_courtesy_2-2.jpg');
        @include image;
      }
      &_3 {
        @include S3_image('features/piani_courtesy_3.jpg');
        @include image;
      }
    }
    &__environment {
      @include S3_image('features/piani_environment.jpg');
      @include image;
      &_0 {
        @include S3_image('features/piani_environment_0.jpg');
        @include image;
      }
      &_1-0 {
        @include S3_image('features/piani_environment_1-0.jpg');
        @include image;
      }
      &_1-1 {
        @include S3_image('features/piani_environment_1-1.jpg');
        @include image;
      }
      &_1-2 {
        @include S3_image('features/piani_environment_1-2.jpg');
        @include image;
      }
      &_2-0 {
        @include S3_image('features/piani_environment_2-0.jpg');
        @include image;
      }
      &_2-1 {
        @include S3_image('features/piani_environment_2-1.jpg');
        @include image;
      }
      &_3-0 {
        @include S3_image('features/piani_environment_3-0.jpg');
        @include image;
      }
      &_3-1 {
        @include S3_image('features/piani_environment_3-1.jpg');
        @include image;
      }
      &_3-2 {
        @include S3_image('features/piani_environment_3-2.jpg');
        @include image;
      }
      &_4-0 {
        @include S3_image('features/piani_environment_4-0.jpg');
        @include image;
      }
      &_4-1 {
        @include S3_image('features/piani_environment_4-1.jpg');
        @include image;
      }
      &_4-2 {
        @include S3_image('features/piani_environment_4-2.jpg');
        @include image;
      }
    }
    &__expression {
      @include S3_image('features/piani_expression.jpg');
      @include image;
      &_0 {
        @include S3_image('features/piani_expression_0.jpg');
        @include image;
      }
      &_1-0 {
        @include S3_image('features/piani_expression_1-0.jpg');
        @include image;
      }
      &_1-1 {
        @include S3_image('features/piani_expression_1-1.jpg');
        @include image;
      }
      &_2-0 {
        @include S3_image('features/piani_expression_2-0.jpg');
        @include image;
      }
      &_2-1 {
        @include S3_image('features/piani_expression_2-1.jpg');
        @include image;
      }
      &_2-2 {
        @include S3_image('features/piani_expression_2-2.jpg');
        @include image;
      }
      &_3-0 {
        @include S3_image('features/piani_expression_3-0.jpg');
        @include image;
      }
      &_3-1 {
        @include S3_image('features/piani_expression_3-1.jpg');
        @include image;
      }
      &_3-2 {
        @include S3_image('features/piani_expression_3-2.jpg');
        @include image;
      }
    }
    &__play {
      @include S3_image('features/piani_play.jpg');
      @include image;
      &_0 {
        @include S3_image('features/piani_play_0.jpg');
        @include image;
      }
      &_1-0 {
        @include S3_image('features/piani_play_1-0.jpg');
        @include image;
      }
      &_1-1 {
        @include S3_image('features/piani_play_1-1.jpg');
        @include image;
      }
      &_1-2 {
        @include S3_image('features/piani_play_1-2.jpg');
        @include image;
      }
      &_2-0 {
        @include S3_image('features/piani_play_2-0.jpg');
        @include image;
      }
      &_2-1 {
        @include S3_image('features/piani_play_2-1.jpg');
        @include image;
      }
      &_2-2 {
        @include S3_image('features/piani_play_2-2.jpg');
        @include image;
      }
      &_3-0 {
        @include S3_image('features/piani_play_3-0.jpg');
        @include image;
      }
      &_3-1 {
        @include S3_image('features/piani_play_3-1.jpg');
        @include image;
      }
      &_3-2 {
        @include S3_image('features/piani_play_3-2.jpg');
        @include image;
      }
    }
    &__together {
      @include S3_image('features/piani_together.jpg');
      @include image;
      &_0 {
        @include S3_image('features/piani_together_0.jpg');
        @include image;
      }
      &_1-0 {
        @include S3_image('features/piani_together_1-0.jpg');
        @include image;
      }
      &_1-1 {
        @include S3_image('features/piani_together_1-1.jpg');
        @include image;
      }
      &_2-0 {
        @include S3_image('features/piani_together_2-0.jpg');
        @include image;
      }
      &_2-1 {
        @include S3_image('features/piani_together_2-1.jpg');
        @include image;
      }
      &_2-2 {
        @include S3_image('features/piani_together_2-2.jpg');
        @include image;
      }
    }
  }
}
// --------------------------------
// 食育
// --------------------------------
.C_image__eat-education {
  &__banner {
    @include S3_image('eat-education/banner.jpg');
    @include image;
  }
  &__kv {
    @include S3_image('eat-education/kv.jpg');
    @include image;
    background-position-x: 59%;
    @include mq-up("tab") {
      background-position-x: initial;
    }
  }
  &__recipe {
    &_0 {
      @include S3_image('eat-education/recipe_0.jpg');
      @include image;
    }
    &_1 {
      @include S3_image('eat-education/recipe_1.jpg');
      @include image;
    }
    &_2 {
      @include S3_image('eat-education/recipe_2.jpg');
      @include image;
    }
    &_3 {
      @include S3_image('eat-education/recipe_3.jpg');
      @include image;
    }
    &_4 {
      @include S3_image('eat-education/recipe_4.jpg');
      @include image;
    }
    &_5 {
      @include S3_image('eat-education/recipe_5.jpg');
      @include image;
    }
  }
  &__insta {
    &_0 {
      @include S3_image('eat-education/insta_0.jpg');
      @include image;
    }
    &_1 {
      @include S3_image('eat-education/insta_1.jpg');
      @include image;
    }
    &_2 {
      @include S3_image('eat-education/insta_2.jpg');
      @include image;
    }
    &_3 {
      @include S3_image('eat-education/insta_3.jpg');
      @include image;
    }
    &_4 {
      @include S3_image('eat-education/insta_4.jpg');
      @include image;
    }
  }
  &__feel {
    &_0 {
      @include S3_image('eat-education/feel_0.jpg');
      @include image;
    }
    &_1 {
      @include S3_image('eat-education/feel_1.jpg');
      @include image;
    }
  }
  &__viking {
    &_0 {
      @include S3_image('eat-education/viking_0.jpg');
      @include image;
    }
    &_1 {
      @include S3_image('eat-education/viking_1.jpg');
      @include image;
    }
    &_2 {
      @include S3_image('eat-education/viking_2.jpg');
      @include image;
    }
  }
  &__cooking {
    &_0 {
      @include S3_image('eat-education/cooking_0.jpg');
      @include image;
    }
    &_1 {
      @include S3_image('eat-education/cooking_1.jpg');
      @include image;
    }
    &_2 {
      @include S3_image('eat-education/cooking_2.jpg');
      @include image;
    }
  }
  &__harvest {
    &_0 {
      @include S3_image('eat-education/harvest_0.jpg');
      @include image;
    }
    &_1 {
      @include S3_image('eat-education/harvest_1.jpg');
      @include image;
    }
    &_2 {
      @include S3_image('eat-education/harvest_2.jpg');
      @include image;
    }
  }
  &__cultivation {
    @include S3_image('eat-education/cultivation.jpg');
    @include image;
  }
  &__parti {
    &__food-staff {
      &_0 {
        @include S3_image('eat-education/parti_food-staff_0.jpg');
        @include image;
      }
      &_1 {
        @include S3_image('eat-education/parti_food-staff_1.jpg');
        @include image;
      }
      &_2 {
        @include S3_image('eat-education/parti_food-staff_2.jpg');
        @include image;
      }
    }
  }
  &__piani {
    &__food-staff {
      &_0 {
        @include S3_image('eat-education/piani_food-staff_0.jpg');
        @include image;
      }
      &_1 {
        @include S3_image('eat-education/piani_food-staff_1.jpg');
        @include image;
      }
      &_2 {
        @include S3_image('eat-education/piani_food-staff_2.jpg');
        @include image;
      }
    }
  }
}
// --------------------------------
// 理念
// --------------------------------
.C_image__philosophy {
  &__banner {
    @include S3_image('philosophy/banner.jpg');
    @include image;
  }
}
// --------------------------------
// 年間行事
// --------------------------------
.C_image__event {
  &__banner {
    @include S3_image('event/banner.jpg');
    @include image;
  }
  &__parti {
    &__kv {
      @include S3_image('event/parti_kv.jpg');
      @include image;
      @include mq-up("pc") {
        background-position-y: 31%;
      }
    }
    &__autumn {
      &_0 {
        @include S3_image('event/parti_autumn_0.jpg');
        @include image;
      }
      &_1 {
        @include S3_image('event/parti_autumn_1.jpg');
        @include image;
      }
      &_1-S {
        @include S3_image('event/parti_autumn_1-S.jpg');
        @include image;
      }
      &_2 {
        @include S3_image('event/parti_autumn_2.jpg');
        @include image;
      }
      &_3 {
        @include S3_image('event/parti_autumn_3.jpg');
        @include image;
      }
      &_4 {
        @include S3_image('event/parti_autumn_4.jpg');
        @include image;
      }
      &_4-S {
        @include S3_image('event/parti_autumn_4-S.jpg');
        @include image;
      }
      &_5 {
        @include S3_image('event/parti_autumn_5.jpg');
        @include image;
      }
      &_6 {
        @include S3_image('event/parti_autumn_6.jpg');
        @include image;
      }
      &_6-S {
        @include S3_image('event/parti_autumn_6-S.jpg');
        @include image;
      }
      &_7 {
        @include S3_image('event/parti_autumn_7.jpg');
        @include image;
      }
      &_8 {
        @include S3_image('event/parti_autumn_8.jpg');
        @include image;
      }
      &_8-S {
        @include S3_image('event/parti_autumn_8-S.jpg');
        @include image;
      }
    }
    &__spring {
      &_0 {
        @include S3_image('event/parti_spring_0.jpg');
        @include image;
      }
      &_1 {
        @include S3_image('event/parti_spring_1.jpg');
        @include image;
      }
      &_2 {
        @include S3_image('event/parti_spring_2.jpg');
        @include image;
      }
      &_2-S {
        @include S3_image('event/parti_spring_2-S.jpg');
        @include image;
      }
      &_3 {
        @include S3_image('event/parti_spring_3.jpg');
        @include image;
      }
      &_4 {
        @include S3_image('event/parti_spring_4.jpg');
        @include image;
      }
      &_4-S {
        @include S3_image('event/parti_spring_4-S.jpg');
        @include image;
      }
    }
    &__summer {
      &_0 {
        @include S3_image('event/parti_summer_0.jpg');
        @include image;
      }
      &_1 {
        @include S3_image('event/parti_summer_1.jpg');
        @include image;
      }
      &_1-S {
        @include S3_image('event/parti_summer_1-S.jpg');
        @include image;
      }
      &_2 {
        @include S3_image('event/parti_summer_2.jpg');
        @include image;
      }
      &_2-S {
        @include S3_image('event/parti_summer_2-S.jpg');
        @include image;
      }
      &_3 {
        @include S3_image('event/parti_summer_3.jpg');
        @include image;
      }
    }
    &__winter {
      &_0 {
        @include S3_image('event/parti_winter_0.jpg');
        @include image;
      }
      &_0-S {
        @include S3_image('event/parti_winter_0-S.jpg');
        @include image;
      }
      &_1 {
        @include S3_image('event/parti_winter_1.jpg');
        @include image;
      }
      &_2 {
        @include S3_image('event/parti_winter_2.jpg');
        @include image;
      }
      &_2-S {
        @include S3_image('event/parti_winter_2-S.jpg');
        @include image;
      }
      &_3 {
        @include S3_image('event/parti_winter_3.jpg');
        @include image;
      }
      &_4 {
        @include S3_image('event/parti_winter_4.jpg');
        @include image;
      }
      &_5 {
        @include S3_image('event/parti_winter_5.jpg');
        @include image;
      }
      &_5-S {
        @include S3_image('event/parti_winter_5-S.jpg');
        @include image;
      }
      &_6 {
        @include S3_image('event/parti_winter_6.jpg');
        @include image;
      }
      &_7 {
        @include S3_image('event/parti_winter_7.jpg');
        @include image;
      }
    }
  }
  &__piani {
    &__kv {
      @include S3_image('event/piani_kv.jpg');
      @include image;
    }
    &__autumn {
      &_0 {
        @include S3_image('event/piani_autumn_0.jpg');
        @include image;
      }
      &_1 {
        @include S3_image('event/piani_autumn_1.jpg');
        @include image;
      }
      &_1-S {
        @include S3_image('event/piani_autumn_1-S.jpg');
        @include image;
      }
      &_2 {
        @include S3_image('event/piani_autumn_2.jpg');
        @include image;
      }
      &_3 {
        @include S3_image('event/piani_autumn_3.jpg');
        @include image;
      }
      &_4 {
        @include S3_image('event/piani_autumn_4.jpg');
        @include image;
      }
      &_4-S {
        @include S3_image('event/piani_autumn_4-S.jpg');
        @include image;
      }
      &_5 {
        @include S3_image('event/piani_autumn_5.jpg');
        @include image;
      }
      &_6 {
        @include S3_image('event/piani_autumn_6.jpg');
        @include image;
      }
      &_6-S {
        @include S3_image('event/piani_autumn_6-S.jpg');
        @include image;
      }
      &_7 {
        @include S3_image('event/piani_autumn_7.jpg');
        @include image;
      }
      &_8 {
        @include S3_image('event/piani_autumn_8.jpg');
        @include image;
      }
      &_8-S {
        @include S3_image('event/piani_autumn_8-S.jpg');
        @include image;
      }
    }
    &__spring {
      &_0 {
        @include S3_image('event/piani_spring_0.jpg');
        @include image;
      }
      &_1 {
        @include S3_image('event/piani_spring_1.jpg');
        @include image;
      }
      &_2 {
        @include S3_image('event/piani_spring_2.jpg');
        @include image;
      }
      &_2-S {
        @include S3_image('event/piani_spring_2-S.jpg');
        @include image;
      }
      &_3 {
        @include S3_image('event/piani_spring_3.jpg');
        @include image;
      }
      &_4 {
        @include S3_image('event/piani_spring_4.jpg');
        @include image;
      }
      &_4-S {
        @include S3_image('event/piani_spring_4-S.jpg');
        @include image;
      }
    }
    &__summer {
      &_0 {
        @include S3_image('event/piani_summer_0.jpg');
        @include image;
      }
      &_1 {
        @include S3_image('event/piani_summer_1.jpg');
        @include image;
      }
      &_1-S {
        @include S3_image('event/piani_summer_1-S.jpg');
        @include image;
      }
      &_2 {
        @include S3_image('event/piani_summer_2.jpg');
        @include image;
      }
      &_2-S {
        @include S3_image('event/piani_summer_2-S.jpg');
        @include image;
      }
      &_3 {
        @include S3_image('event/piani_summer_3.jpg');
        @include image;
      }
    }
    &__winter {
      &_0 {
        @include S3_image('event/piani_winter_0.jpg');
        @include image;
      }
      &_0-S {
        @include S3_image('event/piani_winter_0-S.jpg');
        @include image;
      }
      &_1 {
        @include S3_image('event/piani_winter_1.jpg');
        @include image;
      }
      &_2 {
        @include S3_image('event/piani_winter_2.jpg');
        @include image;
      }
      &_2-S {
        @include S3_image('event/piani_winter_2-S.jpg');
        @include image;
      }
      &_3 {
        @include S3_image('event/piani_winter_3.jpg');
        @include image;
      }
      &_4 {
        @include S3_image('event/piani_winter_4.jpg');
        @include image;
      }
      &_5 {
        @include S3_image('event/piani_winter_5.jpg');
        @include image;
      }
      &_5-S {
        @include S3_image('event/piani_winter_5-S.jpg');
        @include image;
      }
      &_6 {
        @include S3_image('event/piani_winter_6.jpg');
        @include image;
      }
      &_7 {
        @include S3_image('event/piani_winter_7.jpg');
        @include image;
      }
    }
  }
}
// --------------------------------
// フォトギャラリー
// --------------------------------
.C_image__photo-gallery {
  &__kv {
    @include S3_image('photo-gallery/kv.jpg');
    @include image;
  }
  &__parti {
    &__slider_0 {
      @include S3_image('photo-gallery/parti_slider_0.jpg');
      @include image;
    }
    &__slider_1 {
      @include S3_image('photo-gallery/parti_slider_1.jpg');
      @include image;
    }
    &__slider_2 {
      @include S3_image('photo-gallery/parti_slider_2.jpg');
      @include image;
    }
    &__slider_3 {
      @include S3_image('photo-gallery/parti_slider_3.jpg');
      @include image;
    }
    &__slider_4 {
      @include S3_image('photo-gallery/parti_slider_4.jpg');
      @include image;
    }
    &__slider_5 {
      @include S3_image('photo-gallery/parti_slider_5.jpg');
      @include image;
    }
    &__art {
      &_0 {
        @include S3_image('photo-gallery/parti_art_0.jpg');
        @include image;
      }
      &_1 {
        @include S3_image('photo-gallery/parti_art_1.jpg');
        @include image;
      }
      &_2 {
        @include S3_image('photo-gallery/parti_art_2.jpg');
        @include image;
      }
      &_3 {
        @include S3_image('photo-gallery/parti_art_3.jpg');
        @include image;
      }
      &_4 {
        @include S3_image('photo-gallery/parti_art_4.jpg');
        @include image;
      }
      &_5 {
        @include S3_image('photo-gallery/parti_art_5.jpg');
        @include image;
      }
      &_6 {
        @include S3_image('photo-gallery/parti_art_6.jpg');
        @include image;
      }
      &_7 {
        @include S3_image('photo-gallery/parti_art_7.jpg');
        @include image;
      }
      &_8 {
        @include S3_image('photo-gallery/parti_art_8.jpg');
        @include image;
      }
    }
    &__eat-education {
      &_0 {
        @include S3_image('photo-gallery/parti_eat-education_0.jpg');
        @include image;
      }
      &_1 {
        @include S3_image('photo-gallery/parti_eat-education_1.jpg');
        @include image;
      }
      &_2 {
        @include S3_image('photo-gallery/parti_eat-education_2.jpg');
        @include image;
      }
      &_3 {
        @include S3_image('photo-gallery/parti_eat-education_3.jpg');
        @include image;
      }
      &_4 {
        @include S3_image('photo-gallery/parti_eat-education_4.jpg');
        @include image;
      }
    }
    &__event {
      &_0 {
        @include S3_image('photo-gallery/parti_event_0.jpg');
        @include image;
      }
      &_1 {
        @include S3_image('photo-gallery/parti_event_1.jpg');
        @include image;
      }
      &_2 {
        @include S3_image('photo-gallery/parti_event_2.jpg');
        @include image;
      }
      &_3 {
        @include S3_image('photo-gallery/parti_event_3.jpg');
        @include image;
      }
      &_4 {
        @include S3_image('photo-gallery/parti_event_4.jpg');
        @include image;
      }
      &_5 {
        @include S3_image('photo-gallery/parti_event_5.jpg');
        @include image;
      }
      &_6 {
        @include S3_image('photo-gallery/parti_event_6.jpg');
        @include image;
      }
      &_7 {
        @include S3_image('photo-gallery/parti_event_7.jpg');
        @include image;
      }
      &_8 {
        @include S3_image('photo-gallery/parti_event_8.jpg');
        @include image;
      }
      &_9 {
        @include S3_image('photo-gallery/parti_event_9.jpg');
        @include image;
      }
      &_10 {
        @include S3_image('photo-gallery/parti_event_10.jpg');
        @include image;
      }
      &_11 {
        @include S3_image('photo-gallery/parti_event_11.jpg');
        @include image;
      }
      &_12 {
        @include S3_image('photo-gallery/parti_event_12.jpg');
        @include image;
      }
      &_13 {
        @include S3_image('photo-gallery/parti_event_13.jpg');
        @include image;
      }
      &_14 {
        @include S3_image('photo-gallery/parti_event_14.jpg');
        @include image;
      }
      &_15 {
        @include S3_image('photo-gallery/parti_event_15.jpg');
        @include image;
      }
      &_16 {
        @include S3_image('photo-gallery/parti_event_16.jpg');
        @include image;
      }
      &_17 {
        @include S3_image('photo-gallery/parti_event_17.jpg');
        @include image;
      }
      &_18 {
        @include S3_image('photo-gallery/parti_event_18.jpg');
        @include image;
      }
      &_19 {
        @include S3_image('photo-gallery/parti_event_19.jpg');
        @include image;
      }
      &_20 {
        @include S3_image('photo-gallery/parti_event_20.jpg');
        @include image;
      }
      &_21 {
        @include S3_image('photo-gallery/parti_event_21.jpg');
        @include image;
      }
    }
    &__inside {
      &_0 {
        @include S3_image('photo-gallery/parti_inside_0.jpg');
        @include image;
      }
      &_1 {
        @include S3_image('photo-gallery/parti_inside_1.jpg');
        @include image;
      }
      &_2 {
        @include S3_image('photo-gallery/parti_inside_2.jpg');
        @include image;
      }
      &_3 {
        @include S3_image('photo-gallery/parti_inside_3.jpg');
        @include image;
      }
      &_4 {
        @include S3_image('photo-gallery/parti_inside_4.jpg');
        @include image;
      }
      &_5 {
        @include S3_image('photo-gallery/parti_inside_5.jpg');
        @include image;
      }
      &_6 {
        @include S3_image('photo-gallery/parti_inside_6.jpg');
        @include image;
      }
      &_7 {
        @include S3_image('photo-gallery/parti_inside_7.jpg');
        @include image;
      }
      &_8 {
        @include S3_image('photo-gallery/parti_inside_8.jpg');
        @include image;
      }
      &_9 {
        @include S3_image('photo-gallery/parti_inside_9.jpg');
        @include image;
      }
    }
  }
  &__piani {
    &__slider_0 {
      @include S3_image('photo-gallery/piani_slider_0.jpg');
      @include image;
    }
    &__slider_1 {
      @include S3_image('photo-gallery/piani_slider_1.jpg');
      @include image;
    }
    &__slider_2 {
      @include S3_image('photo-gallery/piani_slider_2.jpg');
      @include image;
    }
    &__slider_3 {
      @include S3_image('photo-gallery/piani_slider_3.jpg');
      @include image;
    }
    &__slider_4 {
      @include S3_image('photo-gallery/piani_slider_4.jpg');
      @include image;
    }
    &__slider_5 {
      @include S3_image('photo-gallery/piani_slider_5.jpg');
      @include image;
    }
    &__art {
      &_0 {
        @include S3_image('photo-gallery/piani_art_0.jpg');
        @include image;
      }
      &_1 {
        @include S3_image('photo-gallery/piani_art_1.jpg');
        @include image;
      }
      &_2 {
        @include S3_image('photo-gallery/piani_art_2.jpg');
        @include image;
      }
      &_3 {
        @include S3_image('photo-gallery/piani_art_3.jpg');
        @include image;
      }
      &_4 {
        @include S3_image('photo-gallery/piani_art_4.jpg');
        @include image;
      }
      &_5 {
        @include S3_image('photo-gallery/piani_art_5.jpg');
        @include image;
      }
      &_6 {
        @include S3_image('photo-gallery/piani_art_6.jpg');
        @include image;
      }
      &_7 {
        @include S3_image('photo-gallery/piani_art_7.jpg');
        @include image;
      }
      &_8 {
        @include S3_image('photo-gallery/piani_art_8.jpg');
        @include image;
      }
    }
    &__eat-education {
      &_0 {
        @include S3_image('photo-gallery/piani_eat-education_0.jpg');
        @include image;
      }
      &_1 {
        @include S3_image('photo-gallery/piani_eat-education_1.jpg');
        @include image;
      }
      &_2 {
        @include S3_image('photo-gallery/piani_eat-education_2.jpg');
        @include image;
      }
      &_3 {
        @include S3_image('photo-gallery/piani_eat-education_3.jpg');
        @include image;
      }
      &_4 {
        @include S3_image('photo-gallery/piani_eat-education_4.jpg');
        @include image;
      }
    }
    &__event {
      &_0 {
        @include S3_image('photo-gallery/piani_event_0.jpg');
        @include image;
      }
      &_1 {
        @include S3_image('photo-gallery/piani_event_1.jpg');
        @include image;
      }
      &_2 {
        @include S3_image('photo-gallery/piani_event_2.jpg');
        @include image;
      }
      &_3 {
        @include S3_image('photo-gallery/piani_event_3.jpg');
        @include image;
      }
      &_4 {
        @include S3_image('photo-gallery/piani_event_4.jpg');
        @include image;
      }
      &_5 {
        @include S3_image('photo-gallery/piani_event_5.jpg');
        @include image;
      }
      &_6 {
        @include S3_image('photo-gallery/piani_event_6.jpg');
        @include image;
      }
      &_7 {
        @include S3_image('photo-gallery/piani_event_7.jpg');
        @include image;
      }
      &_8 {
        @include S3_image('photo-gallery/piani_event_8.jpg');
        @include image;
      }
      &_9 {
        @include S3_image('photo-gallery/piani_event_9.jpg');
        @include image;
      }
      &_10 {
        @include S3_image('photo-gallery/piani_event__10.jpg');
        @include image;
      }
      &_11 {
        @include S3_image('photo-gallery/piani_event__11.jpg');
        @include image;
      }
      &_12 {
        @include S3_image('photo-gallery/piani_event__12.jpg');
        @include image;
      }
      &_13 {
        @include S3_image('photo-gallery/piani_event__13.jpg');
        @include image;
      }
      &_14 {
        @include S3_image('photo-gallery/piani_event__14.jpg');
        @include image;
      }
      &_15 {
        @include S3_image('photo-gallery/piani_event__15.jpg');
        @include image;
      }
      &_16 {
        @include S3_image('photo-gallery/piani_event__16.jpg');
        @include image;
      }
      &_17 {
        @include S3_image('photo-gallery/piani_event__17.jpg');
        @include image;
      }
      &_18 {
        @include S3_image('photo-gallery/piani_event__18.jpg');
        @include image;
      }
      &_19 {
        @include S3_image('photo-gallery/piani_event__19.jpg');
        @include image;
      }
      &_20 {
        @include S3_image('photo-gallery/piani_event__20.jpg');
        @include image;
      }
      &_21 {
        @include S3_image('photo-gallery/piani_event__21.jpg');
        @include image;
      }
    }
    &__inside {
      &_0 {
        @include S3_image('photo-gallery/piani_inside_0.jpg');
        @include image;
      }
      &_1 {
        @include S3_image('photo-gallery/piani_inside_1.jpg');
        @include image;
      }
      &_2 {
        @include S3_image('photo-gallery/piani_inside_2.jpg');
        @include image;
      }
      &_3 {
        @include S3_image('photo-gallery/piani_inside_3.jpg');
        @include image;
      }
      &_4 {
        @include S3_image('photo-gallery/piani_inside_4.jpg');
        @include image;
      }
      &_5 {
        @include S3_image('photo-gallery/piani_inside_5.jpg');
        @include image;
      }
      &_6 {
        @include S3_image('photo-gallery/piani_inside_6.jpg');
        @include image;
      }
      &_7 {
        @include S3_image('photo-gallery/piani_inside_7.jpg');
        @include image;
      }
      &_8 {
        @include S3_image('photo-gallery/piani_inside_8.jpg');
        @include image;
      }
      &_9 {
        @include S3_image('photo-gallery/piani_inside_9.jpg');
        @include image;
      }
    }
  }
}
// --------------------------------
// 在園の方へ
// --------------------------------
.C_image__belong {
  &__banner {
    @include S3_image('belong/banner.jpg');
    @include image;
    &__cheese {
      @include S3_image('belong/banner_cheese.jpg');
      @include image;
    }
    &__letter {
      @include S3_image('belong/banner_letter.jpg');
      @include image;
    }
    &__movie {
      @include S3_image('belong/banner_movie.jpg');
      @include image;
    }
    &__print {
      @include S3_image('belong/banner_print.jpg');
      @include image;
    }
  }
  &__parti {
    &__kv {
      &_0 {
        @include S3_image('belong/parti_kv_0.jpg');
        @include image;
      }
      &_1 {
        @include S3_image('belong/parti_kv_1.jpg');
        @include image;
      }
      &_2 {
        @include S3_image('belong/parti_kv_2.jpg');
        @include image;
      }
      &_3 {
        @include S3_image('belong/parti_kv_3.jpg');
        @include image;
      }
      &_4 {
        @include S3_image('belong/parti_kv_4.jpg');
        @include image;
      }
    }
  }
  &__piani {
    &__kv {
      &_0 {
        @include S3_image('belong/piani_kv_0.jpg');
        @include image;
      }
      &_1 {
        @include S3_image('belong/piani_kv_1.jpg');
        @include image;
      }
      &_2 {
        @include S3_image('belong/piani_kv_2.jpg');
        @include image;
      }
      &_3 {
        @include S3_image('belong/piani_kv_3.jpg');
        @include image;
      }
      &_4 {
        @include S3_image('belong/piani_kv_4.jpg');
        @include image;
      }
    }
  }
}
// --------------------------------
// 入園に向けて
// --------------------------------
.C_image__for-admission {
  &__banner {
    @include S3_image('for-admission/banner.jpg');
    @include image;
  }
  &__kv {
    @include S3_image('for-admission/kv.jpg');
    @include image;
  }
}
// --------------------------------
// 子育て支援
// --------------------------------
.C_image__support {
  &__banner {
    @include S3_image('support/banner.jpg');
    @include image;
  }
  &__kv {
    @include S3_image('support/kv.jpg');
    @include image;
  }
}
// --------------------------------
// お問い合わせ
// --------------------------------
.C_image__contact {
  &__kv {
    @include S3_image('contact/kv.jpg');
    @include image-para;
  }
}
