.C_list__nav-menu_sp {
	width: 100%;
	position: fixed;
	top: $header-height-sp;
	z-index: map-get($layer, "header");
	transition: all $anime-time-long;
	background-color: $header-background;
	opacity: $opacity;
	max-height: 0px;
	overflow: hidden;
	&__item {
		line-height: $header-height-sp;
		text-align: center;
		color: $color-text;
		display: flex;
		justify-content: center;
		border-top: darken($header-background, $darken) solid $border-solid-size;
		&:hover {
			background-color: darken($header-background, $darken);
		}
		&:last-of-type {
			border-bottom: #999 solid 1px;
		}
		&:last-of-type {
			border-bottom: darken($header-background, $darken) solid $border-solid-size;
		}
		&:hover {
			opacity: .8;
		}
	}
	&__link-text {
		width: 100%;
		letter-spacing: $letter-spacing-base;
		font-size: $font-size-base;
		text-align: center;
		display: block;

	}
	// --------------------------------
	// ホバーアニメーション
	// --------------------------------
	&::before,
	&::after {
		position: absolute;
		z-index: -1;
		display: block;
		content: '';
	}

	&,
	&::before,
	&::after {
		-webkit-transition: all $anime-time-short;
		transition: all $anime-time-short;
	}
		
}
