.C_text__title-en {
  font-size: $font-size-base * 1;
  line-height: 140%;
  letter-spacing: 0.18em;
  font-family: 'Forum-Regular', sans-serif;
  padding-left: 5px;
  @include mq-up("sp_full") {
    font-size: $font-size-base * 1.875;
  }
  @include mq-up("tab") {
    font-size: $font-size-base * 1.6;
    font-weight: 500;
    line-height: 180%;
  }
  @include mq-up("pc_full") {
    font-size: $font-size-base * 2.225;
  }
}
.C_text__title-ja {
  font-size: $font-size-base * 2;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: -0.12em;
  font-family: 'Hannari', sans-serif;
  @include mq-up("sp_full") {
    font-size: $font-size-base * 3.25;
  }
  @include mq-up("tab") {
    font-size: $font-size-base * 3.4375;
    line-height: 120%;
    white-space: nowrap;
  }
  @include mq-up("pc_full") {
    font-size: $font-size-base * 4.0625;
  }
  &.wide {
    font-size: $font-size-base * 1.375;
    @include mq-up("sp_full") {
      font-size: $font-size-base * 2;
    }
    @include mq-up("tab") {
      font-size: $font-size-base * 2.8125;
    }
    @include mq-up("pc_full") {
      font-size: $font-size-base * 4.0625;
    }
    letter-spacing: 0.1em;
  }
}
.C_text__sub-title {
  font-size: $font-size-base * 1.43;
  padding-top: $space-vertical;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: -0.12em;
  font-family: 'Hannari', sans-serif;
  @include mq-up("tab") {
    font-size: $font-size-base * 2;
    line-height: 120%;
  }
  &.left {
    text-align: left;
  }
}
.C_text__sentence {
  text-align: left;
  padding-top: 2vh;
  padding-bottom: 3vh;
  font-size: $font-size-base;
  letter-spacing: 0.01em;
  @include mq-up("tab") {
    font-size: $font-size-base * 1.125;
  }
  &.in {
    padding-left: 10px;
    @include mq-up("tab") {
      padding-left: 20px;
    }
  }
}
.C_text__logo {
  &__shoe-logo__parti {
    width: 100%;
    height: 100%;
    @include S3_image('logo/shoe_logo_parti.svg') 
  }
  &__shoe-logo__piani {
    width: 100%;
    height: 100%;
    @include S3_image('logo/shoe_logo_piani.svg') 
  }
  &__name {
    font-family: 'DINPro-Medium', sans-serif;
    letter-spacing: 0.1em;
    font-size: $font-size-base * 0.625;
    text-align: center;
    margin-top: -8px;
  }
}
.C_text__braces {
  letter-spacing: -0.3em;
}
