// --------------------------------
// テキストボックスのテキスト
// --------------------------------
.C_text__inBox {
	font-size: $font-size-base;
  line-height: $line-height-base * 0.625;
  letter-spacing: $letter-spacing-base * 0.4;
  @include mq-up("pc") {
	  font-size: $font-size-base * 1;
    line-height: $line-height-base * 1;
  }
}
.C_text__inBox--L {
	font-size: $font-size-base;
  letter-spacing: $letter-spacing-base * 0.4;
  line-height: $line-height-base * 0.625;
  @include mq-up("pc") {
	  font-size: $font-size-base * 1.2;
    line-height: $line-height-base * 0.8;
  }
}

.C_text__title {
	font-size: $font-size-base * 5;
  font-family: 'Angelface';
  pointer-events: none;
  z-index: map-get($layer, 'icon');
  @include mq-up("pc") {
	  font-size: $font-size-base * 9;
  }
}



.C_text__font-awesome {
  font-family: $font-family-awesome;
}

.C_text__font-code {
  font-family: $font-family-code;
}

.C_text__font-base {
  font-family: $font-family-base;
}

.C_text__font-hkgw3 {
  font-family: $font-family-hkgw3;
}

.C_text__font-hkgw6 {
  font-family: $font-family-hkgw6;
}

.C_text__font-minco {
  font-family: $font-family-minco;
}

.C_text__font-gothic {
  font-family: $font-family-gothic;
}

.C_text__font-shuei {
  font-family: $font-family-shuei;
}

.C_text__font-sub-en {
  font-family: 'Blankid';
}

.C_text__font-DINPro {
  font-family: 'DINPro-Medium';
}

.C_text__font-Koz {
  font-family: 'KozGoPr6N-Regular';
}

.C_text__font-NewBask {
  font-family: 'NewBaskervilleStd-Roman';
}

.C_text__font-logo {
  font-family: 'CastroScript_PERSONAL_USE_ONLY';
}

.C_text__font-Hannari {
  font-family: 'Hannari';
}

.C_text__font-Angelface {
  font-family: 'Angelface';
}

.C_text__font-Bask {
  font-family: 'Baskerville';
}
