<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>DEMO | スクロールアニメーションに便利なScrollTriggerを使ってみた | 株式会社 エヴォワークス -EVOWORX-</title>

  <!-- SEO -->
  <meta name="description" content="CSS Nite LP58「Coder’s High 2018」に参加して学んだ、CSS Gridを使ってみました。">

  <!-- OGP -->
  <meta property="fb:app_id" content="112327115587463">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://www.evoworx.co.jp/demo/004/">
  <meta property="og:title" content="DEMO | スクロールアニメーションに便利なScrollTriggerを使ってみた | 株式会社 エヴォワークス -EVOWORX-">
  <meta property="og:description" content="スクロールアニメーションに便利なScrollTriggerを使ってみた">
  <meta property="og:image" content="https://www.evoworx.co.jp/wp3/wp-content/themes/evoworx2019/img/common/share.jpg">

  <!-- twitter card -->
  <meta name="twitter:card" content="summary_large_image">

  <!-- Settings -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">

  <!-- Favicon -->
  <link rel="icon" href="https://www.evoworx.co.jp/wp3/wp-content/themes/evoworx2019/img/common/favicon.ico">

  <!-- CSS -->
  <link rel="stylesheet" href="assets/style.css">
  <!--[if lt IE 9]><script src="../common/js/plugins/html5shiv.min.js" charset="UTF-8"></script><![endif]-->

  
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
